.left-wishlist{float: left;width: 22%;padding-top: 20px;}
.right-wishlist{float: right;width: 74%;border-left-width: 1px;border-style: solid;padding-left: 2%;padding-top: 20px;margin-bottom: -10000px;padding-bottom: 10000px;}
.left-wishlist-data{float: left;width: 22%;}
.right-wishlist-data{float: right;width: 74%;}
.left-wishlist .photo-block{width:100%;}
.frame-gen-sum-buy{padding: 20px 16px 20px 30px;border-widht: 1px;border-style: solid;border-radius: 3px;}

.items-wish-data{margin-bottom: 30px;}
.items-wish-data > li > .frame-photo-title{width: 170px;position: relative;}
.items-wish-data.items-row > li > .description{margin-left: 205px;}
.items-wish-data > li > .description > .title{margin-bottom: 4px;}
.items-wish-data > li > .description > .date{margin-bottom: 5px;}
.items-wish-data .photo-block{width: 170px;height: 170px;position: relative;}
.items-wish-data .photo-block > span{max-width: 100%;}
.items-wish-data .frame-photo-title .group-buttons{position: absolute;left: 0;top: 0;bottom: 0;right: 0;margin: auto;z-index: 1;width: 100px;height: 31px;display: none;}
.items-wish-data > li > .frame-photo-title .overlay{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.items-wish-data .frame-photo-title .photo-block:hover .overlay{background-color: rgba(0,0,0, 0.3);}
.items-wish-data > li > .frame-photo-title:hover .group-buttons{display: block;}

.hidden input[type="file"]{width: 100%;height: 100%;position: absolute;left: 0;top: 0;opacity: 0;-moz-opacity: 0;-khtml-opacity: 0;padding: 0;}
.btn-remove-photo-wishlist > button, .btn-edit-photo-wishlist > button{width: auto;height: 31px;text-align: center;padding: 0 5px;}
.btn-remove-photo-wishlist > button > [class*="icon_"], .btn-edit-photo-wishlist > button > [class*="icon_"]{margin-right: 0;}
.btn-remove-photo-wishlist, .btn-edit-photo-wishlist{border-width: 1px;border-style: solid;}

.btn-edit-photo-wishlist{border-radius: 2px 0 0 2px;margin-right: 2px;}
.btn-remove-photo-wishlist{border-radius: 0 2px 2px 0;}

.page-wishlist .btn-cart{margin-right: 10px;float: left;}
.page-wishlist .btn-cart .text-el{text-transform: none;font-weight: bold;}
.frame-button-add-wish-list{overflow: hidden;margin-bottom: 20px;padding: 23px 28px;border-width: 1px;border-style: solid;border-radius: 1px;}

.check-public{width: 300px;}
.check-public-drop{width: 150px;}

.drop-edit-wishlist{width: 500px;}

.drop-style-2{margin-bottom: 20px;border-width: 1px;border-style: solid;border-radius: 1px;}
.drop-header2{border-bottom-width: 1px;border-bottom-style: solid;padding: 11px 23px 12px;}
.drop-header2 h2{font-size: 13px;margin-bottom: 0;font-weight: bold;}
.drop-style-2 > .drop-content2{border-bottom-style: solid;border-bottom-width: 1px;}
.drop-style-2 > .drop-content2 > .inside-padd{padding: 30px 20px;}
.drop-style-2 > .drop-footer2{border-radius: 0 0 1px 1px;}
.drop-style-2 > .drop-footer2 > .inside-padd{padding: 20px;}
.drop-style-2 > .drop-header{border-radius: 1px 1px 0 0;}

.drop-wishlist-items  > .drop-content2 > .inside-padd{padding: 20px;}

.items-wish-list > li{margin-left: 25px;margin-bottom: 15px;}
.items-wish-list {margin-left: -25px;}

.funcs-buttons-WL-item{margin-bottom: 5px;}
.funcs-buttons-wishlist{margin-right: 10px;}
.funcs-buttons-wishlist > [class*="btn-"]{margin-right: 10px;min-height: 18px;vertical-align: baseline;}
.funcs-buttons-WL-item > [class*="btn-"]{margin-right: 10px;}

.drop-wishlist{width: 300px;}
.btn-edit-WL{margin-bottom: 20px;}
.download-btn [disabled="disabled"], .download-btn.disabled{display: none;}

.btn-send-wishlist .text-el{font-weight: bold;}
.drop-sendemail{width: 400px;}
.ui-datepicker-month, .ui-datepicker-year{height: 20px;}
.page-wishlist .frame-tabs-ref > div:first-child{display: none;}

.tabs-wishlist{margin-bottom: 18px;}
.tabs-wishlist > li{margin-bottom: 3px;}
.tabs-wishlist > li > button{padding: 3px 15px 5px;text-align: left;position: relative;border-radius: 2px;}
.tabs-wishlist > .active > button:after{content: "";position: absolute;left: 50%;top: 100%;margin-left: -7px;border-width: 6px 7px;border-style: solid;}
.tabs-wishlist > .active .text-el{border: 0;}

.page-wishlist-one-WL{padding-bottom: 0;overflow: hidden;}