.left-wishlist{float: left;width: 22%;padding-top: 20px;}
.right-wishlist{float: right;width: 74%;border-left: 1px solid #eae5e1;padding-left: 2%;padding-top: 20px;margin-bottom: -10000px;padding-bottom: 10000px;}
.left-wishlist-data{float: left;width: 22%;}
.right-wishlist-data{float: right;width: 74%;}
.left-wishlist .photo-block{width:100%;}
.frame-gen-sum-buy{padding: 20px 16px 20px 30px;border: 1px solid #eae5e1;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}

.items-wish-data{margin-bottom: 30px;}
.items-wish-data > li > .frame-photo-title{width: 170px;position: relative;}
.items-wish-data.items-row > li > .description{margin-left: 205px;}
.items-wish-data > li > .description > .title{margin-bottom: 4px;}
.items-wish-data > li > .description > .date{margin-bottom: 5px;}
.items-wish-data .photo-block{width: 170px;height: 170px;position: relative;}
.items-wish-data .photo-block > span{max-width: 100%;}
.items-wish-data .frame-photo-title .group-buttons{position: absolute;left: 0;top: 0;bottom: 0;right: 0;margin: auto;z-index: 1;width: 78px;height: 31px;display: none;}
.items-wish-data > li > .frame-photo-title .overlay{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.items-wish-data .frame-photo-title .photo-block:hover .overlay{background-color: rgba(0,0,0, 0.3);}
.items-wish-data > li > .frame-photo-title:hover .group-buttons{display: block;}

.hidden input[type="file"]{width: 100%;height: 100%;position: absolute;left: 0;top: 0;opacity: 0;-moz-opacity: 0;-khtml-opacity: 0;padding: 0;}
.btn-remove-photo-wishlist > button, .btn-edit-photo-wishlist > button{padding: 0 10px;height: 31px;text-align: center;}
.btn-remove-photo-wishlist > button > [class*="icon_"], .btn-edit-photo-wishlist > button > [class*="icon_"]{margin-right: 0;}
.btn-remove-photo-wishlist, .btn-edit-photo-wishlist{
    border: 1px solid rgba(12, 154, 203, 0.4);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);-width-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
    background: #fdfdfd; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdfdfd 0%, #e7e7e7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fdfdfd 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fdfdfd 0%,#e7e7e7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fdfdfd 0%,#e7e7e7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fdfdfd 0%,#e7e7e7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
}

.btn-edit-photo-wishlist{
    -moz-border-radius: 2px 0 0 2px;-webkit-border-radius: 2px 0 0 2px;border-radius: 2px 0 0 2px;margin-right: 2px;
}
.btn-remove-photo-wishlist{
    -moz-border-radius: 0 2px 2px 0;-webkit-border-radius: 0 2px 2px 0;border-radius: 0 2px 2px 0;
}

.page-wishlist .btn-cart{margin-right: 10px;}
.page-wishlist .btn-cart .text-el{text-transform: none;font-weight: bold;}
.frame-button-add-wish-list{margin-bottom: 20px;padding: 23px 28px;background-color: #faf8f6;border: 1px solid #eae5e1;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;-moz-box-shadow: 0 2px 2px #ece9e6;-webkit-box-shadow: 0 2px 2px #ece9e6;box-shadow: 0 2px 2px #ece9e6;}

.check-public{width: 300px;}
.check-public-drop{width: 150px;}

.drop-edit-wishlist{width: 500px;}

.drop-style-2{margin-bottom: 20px;border: 1px solid #eae5e1;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;-moz-box-shadow: 0 2px 2px #ece9e6;-webkit-box-shadow: 0 2px 2px #ece9e6;box-shadow: 0 2px 2px #ece9e6;}
.drop-style-2 > .drop-content2{background-color: #faf8f6;}
.drop-style-2 > .drop-content2 > .inside-padd{padding: 30px 60px;}
.drop-style-2 > .drop-footer2{background-color: #fff;-moz-border-radius: 0 0 3px 3px;-webkit-border-radius: 0 0 3px 3px;border-radius: 0 0 3px 3px;}
.drop-style-2 > .drop-footer2 > .inside-padd{padding: 20px;}
.drop-style-2 > .drop-header{background-color: #fff;-moz-border-radius: 3px 3px 0 0;-webkit-border-radius: 3px 3px 0 0;border-radius: 3px 3px 0 0;}

.drop-wishlist-items  > .drop-content2 > .inside-padd{padding: 20px;}

.items-wish-list > li{margin-left: 25px;margin-bottom: 15px;}
.items-wish-list {margin-left: -25px;}

.funcs-buttons-WL-item{margin-bottom: 5px;}
.funcs-buttons-wishlist{margin-right: 10px;}
.funcs-buttons-wishlist > [class*="btn-"]{margin-right: 10px;min-height: 18px;vertical-align: baseline;}
.funcs-buttons-WL-item > [class*="btn-"]{margin-right: 10px;}

.drop-wishlist{width: 300px;}
.btn-edit-WL{margin-bottom: 20px;}
.download-btn [disabled="disabled"], .download-btn.disabled{display: none;}

.drop-sendemail{width: 400px;}
.ui-datepicker-month, .ui-datepicker-year{height: 20px;}
.page-wishlist .frame-tabs-ref > div:first-child{display: none;}

.tabs-wishlist{margin-bottom: 18px;}
.tabs-wishlist > li{margin-bottom: 3px;}
.tabs-wishlist > li > button{padding: 3px 15px 5px;text-align: left;position: relative;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.tabs-wishlist > .active > button{background-color: #fd7c08;}
.tabs-wishlist > .active > button:after{content: "";position: absolute;left: 50%;top: 100%;margin-left: -7px;border-width: 6px 7px;border-style: solid;border-color: transparent;border-top-color: #fd7c08;}
.tabs-wishlist > .active .text-el{color: #fff;border: 0;}

.page-wishlist-one-WL{padding-bottom: 0;overflow: hidden;}