

 /**************************
*
*	GENERAL
*
**************************/


.slider_bg {
	background: url(../images/slider_bg.png) no-repeat center center;	
	padding-top: 17px;
	padding-bottom: 5px;
}





.slider_wrapper {
	position: relative;

}

.camera_wrap {
	display: none;
	position: relative;
	z-index: 0;
	margin-bottom: 0 !important;
}
.camera_wrap img {
	margin: 0 !important;
	width: 100% !important;
	height: auto !important;
}
.camera_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.camera_wrap {
	width: 100%;
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
    background: url(../images/blank.gif);
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
    background: #fff url(../images/camera-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.9) url(../images/camera-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}

.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}
.camerarelative {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.camera_commands > .camera_stop {
	display: none;	
}

.camera_prev{
	background: url(../images/prevnext.png) left 0 no-repeat;
	width: 24px;	
	height: 47px;
	position: absolute;
	z-index: 999;
	top: 28px;
	left: 31px;
	top: 50%;
	margin-top: -24px;
	cursor: pointer;
}

.camera_prev:hover {
	opacity: 0.3;	
}

.camera_next {
	background: url(../images/prevnext.png) right 0 no-repeat;
	width: 24px;	
	height: 47px;
	position: absolute;
	z-index: 999;
	top: 50%;
	margin-top: -24px;
	right: 31px;
	cursor: pointer;
}

.camera_next:hover {
	opacity: 0.3;	
}


.camera_thumbs_cont > div {
	float: left;
	width: 100%;
}
.camera_thumbs_cont ul {
	overflow: hidden;
	padding: 3px 4px 8px;
	position: relative;
	text-align: center;
}
.camera_thumbs_cont ul li {
	display: inline;
	padding: 0 4px;
}
.camera_thumbs_cont ul li > img {
	border: 1px solid;
	cursor: pointer;
	margin-top: 5px;
	vertical-align:bottom;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
}

.caption {
	position: absolute;
	left: 0px;
	right: 0;
	text-align: center;
	top: 166px;
	background: url(../images/caption_bg.png) 0 0 repeat;
	z-index: 999;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	
}

.caption>div {
	padding: 34px 68px;
	background:  url(../images/caption_div.png) center center no-repeat;
}

.caption>span {
	font-size: 18px;
	line-height: 18px;
	text-transform: none;
	font-weight: normal; 
	letter-spacing: 1px;	
}
/**************************
*
*	COLORS & SKINS
*
**************************/

.camera_wrap .camera_pag  {
	position:absolute;
	bottom: 13px;
	right:431px;
	display:inline-block;
	z-index: 200 !important;
}

.camera_wrap .camera_pag_ul {
	overflow: hidden;}
.camera_wrap .camera_pag .camera_pag_ul li {
	float:left;
	display:inline-block;
	width:13px;
	height:13px;
	margin-left:10px;
}
.camera_wrap .camera_pag .camera_pag_ul li:first-child {
	margin-left: 0;
}

.camera_wrap .camera_pag .camera_pag_ul li span {
	display:block;
	width:13px;
	height:13px;
	background:url(../images/pagination.png) right 0 no-repeat;
	text-indent: -999px;
	overflow: hidden;
	cursor: pointer;
}
.camera_wrap .camera_pag .camera_pag_ul li:hover span, .camera_wrap .camera_pag .camera_pag_ul li.cameracurrent span{
 	background:url(../images/pagination.png) 0 0 no-repeat;
}