/****Form****/

#form {
}
#form input {
	border: 1px solid #e5e5e5;
	font-size:13px;
	color:#3a3a3a;
	background: #fff;
	line-height: 18px;
	padding: 9px 14px 9px;
	outline: medium none;
	width: 100%;
	height: 36px;
	float:left;
	font-family:  Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */

}
#form textarea {
	border: 1px solid #e5e5e5;
	font-size:13px;
	color:#3a3a3a;
	background: #fff;
	height: 251px !important;
	outline: medium none;
	overflow: auto;
	padding: 7px 14px 9px;
	width: 100%;
	position: relative;
	resize:none;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	float:left;
	font-family:  Arial, Helvetica, sans-serif;
	margin: 0;
}

#form .value {
	margin-bottom: 8px;
	display: inline-block;

}
#form label {
	position:relative;
	display: block;
	min-height: 46px;
	float: left;
	clear: left;
	width: 347px;;
}
#form .error, #form .empty {
	color: #FF0000;
	display: none;
	font-size: 11px;
	line-height:14px;
	width:auto;
	position: absolute;
	z-index: 999;
	right: 5px;
	top: 10px;
}
#form .error-empty {
	display:none;
	float:left;
}

.btns {
	position:relative;
	overflow:hidden;
	padding-top: 30px;
	padding-bottom: 34px;
	text-align: right;
}
.btns a {
	margin: 0 0px 0 18px !important;
	cursor: pointer;


}

#form label.message {
	width: 100%;
}

.message br {
	height: 0;
	line-height: 0;
}

#form .success {
	border: 1px solid #e5e5e5;
	display: none;
	position: absolute;
	width: 347px;%;
	background: #fff;
	text-align: center;
	padding: 20px 10px;
	z-index: 999;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}


.success_wrapper {
	position: relative;	
}

@media only screen and (max-width: 995px) {

#form .success {
	width: 100%;
}

#form {
	padding-top: 0;	
}


#form label {
	float: none !important;	
	width: 100%;
}

.btns {
	padding-right: 0;
}

.map .extra_wrapper {
	overflow: visible;
}


@media only screen and (max-width: 767px) {
  
  .btns {
		padding-bottom: 0;  
  }
  
  #form textarea {
		height: 300px !important;  
  }
  
}
@media only screen and (max-width: 479px) {
 
  #form textarea {
		height: 200px !important;  
  }
}

