
/*Slider*/
.slider-relative {
	width:940px;
	overflow:hidden;
	padding-top: 17px;
	
}

.slider-block {
	position:relative;
	overflow:hidden;
	width:940px;
	padding-top: 0px;
}

.slider_bg {
	background: url(../images/slider_bg.png) no-repeat center center;	
}
.slider {
	width:940px;
	position:relative;
	z-index:2;
	padding-bottom: 53px;
}

.pagination {
	position:absolute;
	bottom: 18px;
	right:431px;
	display:inline-block;
	z-index: 200 !important;
}
.pagination li {
	float:left;
	display:inline-block;
	width:13px;
	height:13px;
	margin-left:10px;
}
.pagination li a {
	display:block;
	width:13px;
	height:13px;
	background:url(../images/pagination.png) right 0 no-repeat;
}
.pagination li.current, .pagination li:hover {
}
.pagination li.current a, .pagination li:hover a {
	background:url(../images/pagination.png) 0 0 no-repeat;
}
