/**/
@import "../css/reset.css";
@import "../css/grid.css";
@import "../css/superfish.css";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);


html {
	width: 100%;
}

 a [href^="tel:"] {
color: inherit;
text-decoration: none;
font-size: inherit;
}

* {
	-webkit-text-size-adjust: none;
}


body {
	font:12px/18px Arial, Helvetica, sans-serif;
	color:#3a3a3a;
	position:relative;
	min-width:960px;
	background: url(../images/bg_body.png) repeat 0 0 #2c2b2c;

}

html, body {
	height:100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	color: #181818;
	font-weight: normal;
}

h2 {
	font-size: 32px;
	line-height: 36px;	
	min-height: 61px;
	padding-bottom: 10px;
}

h3 {
	font-size: 24px;
	line-height: 26px;	
}

h4 {
	font-size: 13px;
	line-height: 16px;
	color: #181818;
	text-transform: uppercase;	
	font-weight: bold;
	margin-bottom: 17px;
}

p {
	margin-bottom: 18px;	
}

ul.list_1 li {
	padding-left: 14px;
	background: url(../images/marker1.png) no-repeat left 8px;
	padding-top: 3px;
	padding-bottom: 5px;
}

ul.list_1>li>a {
	font-size: 11px;
	line-height: 17px;	
	text-transform: uppercase;
	color: #a0a0a0;
}

ul.list_1 li a:hover {
	text-decoration: underline;	
}

ul.list_2 li {
	margin-bottom: 6px;	
}

ul.list_2 li a {
	font-size: 22px;
	padding: 9px 10px 13px 15px;
	display: block;
	background: #cccccc;
	line-height: 25px;
	color: #181818;
	font-family: 'Lato', sans-serif;	
}

ul.list_2 li a:hover {
	background: #146daa;
	color: #fff;	
	text-decoration: none;
}

ul.list_3 {
	padding-top: 5px;	
	margin-bottom: 58px;
}

ul.list_3 li {
	background: url(../images/marker2.gif) no-repeat left 5px;
	padding-left: 12px;
	color: #fff;	
	margin-bottom: 20px;
}

ul.list_3 li a {
	color: #e30002;	
}

ul.list_3 li a.active {
	text-decoration: underline;	
}

ul.list_3 li a:hover {
	text-decoration: underline;
}

address {
	font-style: normal;	
}


ul  {
	padding: 0;
	margin: 0;
	list-style: none;
}

time {
	display: block;
	color: #146daa;
	margin-top: -2px;
	font: 11px/18px Arial, Helvetica, sans-serif;	
}


/*links*/

a {
	text-decoration: none;	
	color: inherit;
	font-size: inherit;
 	outline: none;	
}

a:hover {
	text-decoration: underline;	
}

a.btn {
	font: 10px/15px Arial, Helvetica, sans-serif;
	color: #fff;
	display: inline-block;
	background: url(../images/btn_bg.png) repeat-x 0 0 #e60002;
	padding: 5px 16px;	
	border-radius: 5px;
	text-transform: uppercase;
	box-shadow: 1px 3px 2px #ccc;
	margin-bottom: 28px;
	border-bottom: 1px solid #cdcdcd;
	margin-top: -2px;
}

a.btn:hover {
	background: url(../images/btn_hover1.png) repeat-x 0 0 #146daa;
	text-decoration: none;
}
/*preclass*/

.wrapper {
	overflow: hidden;	
}

.clear {
	float: none !important;
	clear: both;	
}

.text_1 {
	color: #146daa;
	font-size: 11px;	
}

.fright {
	float: right !important;

}


.fleft {
	display: block;
	float: left;
	padding-top: 0 !important;
}


/*Header*/

header {
	background: url(../images/header_bg.png) center 0 repeat-y;
}

.header_top {
	background: url(../images/header_top.png) 0 0 repeat-x;
	padding-top: 26px;
	padding-bottom: 25px;
	padding-left: 4px;
	overflow: hidden;
}

header h1 {
	float: left;
	width: 400px;
}

header h1 img {
	display: inline;
}

header .contacts {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
}

.phone1 {
	text-transform: uppercase;
	font: 19px/18px Arial, Helvetica, sans-serif !important;	
	color: #616161;	
}

.phone1 span {
	color: #3a3939;	
}


.contact .phone1 {
	min-width: 250px;
}

.contacts .phone1  a {
font: 19px/18px Arial, Helvetica, sans-serif !important;
margin: 0 !important;
float: none !important;	
}

header .contacts .clear {
	 height: 6px;	
}

header .contacts a {
	font: 13px/18px Arial, Helvetica, sans-serif;
	color: #4c4c4c;
	display: inline-block;
	margin-left: 9px;	
	float: right;
	margin-right: 3px;
	text-transform: none;
}

header .contacts a:hover {
	text-decoration: underline;	
}

header .contacts a:first-child+a {
	margin-right: 11px;
}

/*Content*/

.content {
	background: #f9f9f9;	
	padding-top: 22px;
	margin-top: -1px;
	padding-bottom: 25px;
}

.img_box {
	padding: 10px 10px 11px 10px;
	box-shadow: 3px 3px 2px #ddd;
	background: #cccccc;
	margin-bottom: 20px;
}

.img_box img {
	margin-bottom: 11px;	
}

.img_box a {
	display: inline-block;
	color: #146daa;
	font: 11px/17px Arial, Helvetica, sans-serif;		
}

.img_inner {
	border: 4px solid #fff;
	box-shadow: 2px 3px 2px #dddddd;	
	margin-bottom: 17px;
}

.img_inner>img, .img_box img {
	max-width: 100%;
}

.clients>div  {
	margin-bottom: 30px;	
}

.clients>.clear {
	margin: 0;
	padding: 0;	
}

.clients>div span{
	display: block;
	color: #146daa;
	font: 11px/18px Arial, Helvetica, sans-serif;
	padding-top: 1px;
}

.clients>div a {
	text-decoration: underline;
}

.clients>div a:hover {
	text-decoration: none;	
}

.middle {
	box-shadow: 0px 0px 2px #999;	
	padding-top: 30px;
	padding-bottom: 6px;
	background: url(../images/bg_middle.png) 0 0 repeat;
}

h2 span {
	font: 12px/18px Arial, Helvetica, sans-serif;	
	text-transform: uppercase;
	color: #146daa;
	padding-top: 2px;
	display: block;
}

.page1_bg {
	background: url(../images/page1_bg.gif) center 0 repeat-y;	
}

.page1_bot .top {
	padding-top: 32px;
	background: url(../images/page1_topofbot.jpg) no-repeat center bottom;	
	padding-bottom: 6px;
	border-bottom: 1px solid #d9d9d9;
}

.page1_bot .top .btn {
	box-shadow: 1px 3px 2px #999;
	margin-top: 7px;	
}

.page1_bot .top .img_inner {
	margin-bottom: 25px;
	box-shadow: 2px 3px 2px #aaa;
}

.page1_bot .bot {
	background: url(../images/page1_botofbot_repeat.png) repeat center top;	
}

.page1_bot .bot>div {
	padding-top: 33px;
	background: url(../images/page1_botofbot.jpg) no-repeat center top;	
	font: 11px/17px Arial, Helvetica, sans-serif;
	color: #797979;
	padding-bottom: 24px;
}

.page1_bot .bot>div h4 {
	color: #fff;
	border-bottom: 1px solid #b2b2b2;	
	padding-bottom: 5px;
	margin-right: 7px;
	margin-bottom: 20px;
}

.page1_bot .bot>div p {
	padding-right: 40px;	
}


.page1_bot .bot>div ul.list_1 {
	margin-top: -2px;
}

.page1_bot .social {
	padding-top: 7px;	
}

.page1_bot .social .clear {
	height: 14px;	
}

.page1_bot .bot .social a {
	color: #bebdbd;
	font-size: 11px;
}

.page1_bot .social a:hover {
	text-decoration: underline;	
}

.page1_bot .social img {
	margin-right: 12px;	
	float: left;
	margin-top: -2px;
}

.page1_bot .phone1 {
	color: #878787;	
	padding-top: 3px;
	font-size: 22px;
	padding-bottom: 30px;
}

.page1_bot .phone1 span a, 
.page1_bot .phone1 span {
font-size: 22px;
color: #878787 !important;	
}

.page1_bot .bot .phone1 a {
	color: #fff;	
	font-size: 19px;
	text-transform: none;
	display: inline-block;
	padding-top: 6px;
}

.page1_bot address {
	color: #d7d7d7;
	font-size: 12px;
	display: block;
	line-height: 14px;
}

.page1_bot p{
	margin-bottom: 11px;	
}

.page1_bot .bot a {
	color: #d6d6d6;
	font-size: 12px;	
}

.bot ul.list_1>li>a {
	font-size: 11px;
	line-height: 17px;	
	text-transform: uppercase;
	color: #a0a0a0;
}


.page1_bot .bot>div a:hover {
	text-decoration: underline;
}
.page1_bot .phone1 a:hover {
	text-decoration: underline;
		
}


/*map*/

figure {
	height: auto;
	line-height: 0;
	font-size: 0;
}

figure iframe {
	width: 271px;
	height: 294px;
}

.indents9 dt {
	font-size: 11px;
	color: #146daa;	
}

.indents9 span {
	width: 68px;
	display: inline-block;	
}

figure.img_inner {
	margin-bottom: 27px;	
}

.indents9 a.link-1 {
	text-decoration: underline;	
}

.indents9 a.link-1:hover {
	text-decoration: none;	
}


/*Blog*/

.blog .img_inner {
	float: left;	
	margin-right: 20px;
}

.blog .blogpost {
	padding-bottom: 19px;	
}

.blog .blogpost div {
	overflow: hidden;	
}

.blog span {
	font-size: 11px;
	color: #146daa;
}

.blog .blogpost_title {
	padding-top: 9px;
	overflow: hidden;
	padding-bottom: 17px;
}

.blog .blogpost_title span {
	text-transform: uppercase;
	font-size: 12px;
	display: block;
	padding-top: 9px;
	overflow: hidden;
}

.blog .blogpost_title span .comment {
	float: right;	
	display: block;
	margin-right: 60px;
}

.blog .blogpost_title span a:hover {
	text-decoration: underline;	
}

.blog .btn {
	margin-top: 1px;	
}

.blog time {
	float: left;
	background: url(../images/blog_date.png) no-repeat left top;	
	text-align: center;
	padding: 11px 10px 25px 10px;
	display: block;
	font-size: 18px;
	line-height: 14px;
	color: #fff;
	font-weight: bold;
	width: 31px;
	margin-right: 15px;
	margin-top: 2px;
}

/*Footer*/
footer {
	padding: 23px 0 35px;
	color: #c9c9c9;
	font-size: 11px;
	line-height: 17px;
}

footer img {
	float: left;	
}

footer span {
	float: right;
	display: block;
	padding-top: 7px;	
	padding-right: 115px;
}

footer span a {
	color: #c9c9c9;
	font-size: 11px;
	line-height: 17px;	
}


/**to top**/
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:50px;
	left: 50%;
	margin-left: 550px;
	overflow:hidden;
	width:25px;
	height:28px;
	border:none;
	text-indent:-999px;
	z-index:20;
	background:url(../images/totop.png) no-repeat left top;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}
#toTop:hover {
	outline:none;
	background-position: 0 bottom;
}


/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 995px) {
 body {
min-width:768px;
}

.map figure  {
	 display: block;
}

footer span {
	float: right;
	display: block;
	padding-top: 7px;	
	padding-right: 0;
}

.map figure iframe, #form input, #form textarea, #form .success {
 width: 100% !important;

}
 #form .success {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}
 .map figure {
 height: auto !important;
}


.map address {
	float: left;
	margin-right: 40px;	

}

.camera_wrap .camera_pag {
	right: 50% !important;
	margin-right: -40px  !important;
	bottom: 5px !important;
}

.camera_wrap .camera_pag .camera_pag_ul li {
	width: 20px !important;
	height: 20px !important;
}

.camera_wrap .camera_pag .camera_pag_ul li span {
	background: #b0b0b0 !important;
	border-radius: 500px;
	width: 20px !important;
	height: 20px !important;
}

.camera_wrap .camera_pag .camera_pag_ul li:hover span, .camera_wrap .camera_pag .camera_pag_ul li.cameracurrent span  {
	background: #333333 !important;
}


.slider_bg {
	background: none !important;
}


}
 @media only screen and (max-width: 767px) {
 body {
min-width:420px;
}

.blog .blogpost_title span a.comment {
	float: right;
	margin-right: 0;
}

.fright {
	margin-right: 0 !important;
	margin-left: 10px !important;
	}

.indents9 {
	padding-bottom: 35px;
}


ul.list_2 {
	margin-bottom: 25px;
}

.camera_wrap .camera_pag {
	bottom: -10px !important;
}

.map address {
	float: none;
	margin-top: 10px;	

}

.slider_bg {
	padding-bottom: 20px !important;
}


.img_inner {
	margin-top: 25px;
 float: none;
margin-right: 0 !important;
}

.img_inner.fleft {
	margin-bottom: 20px !important;
}

.blogpost .img_inner {
	margin-top: 0px;
 float: none;
margin-right: 0 !important;
}

header .contacts {
	float: none;
	text-align: center;
	background: none;
	padding-top: 20px;
}

header .contacts a{
	float: none;
}

.img_inner>img {
	 width: 100%;
}

.img_box img {
	 width: 100%;
}


header h1 {
	float: none;	
	margin: 0 auto;
	width: auto;
}

header h1 a {
	display: block;
	text-align: center;
}
header h1 a img{
	margin: 0 auto;
	height: auto;
	width: 100%;
}

.map figure iframe {
	width: 100%;
	height: 300px;
}

.bot h4{
	padding-top: 20px;
}

.img_box>img {
	width: 100%;
}


}
 @media only screen and (max-width: 479px) {
 
.blog .blogpost_title span a.comment {
	margin-right: 0 !important;
	display: inline-block;
	overflow: visible;
	float: none;
	clear: both;
	margin-right: 50px !important;
}


 body {
min-width:300px;
}

.camera_wrap {
	height: 165px !important;
}



 .map figure iframe {
	width: 100%;
	height: 150px;
}

.menu_block {
		float: none !important;
		margin: 0 15px !important;	
		
	}
	
 }

