/* menu */

.menu_border {
	background: url(../images/menu_border.png) 0 0 repeat;
	padding: 3px 0;
}

.menu_bg {
	background: url(../images/bg_menu.png) bottom center no-repeat #000;
}

header nav {
	position: relative;
}

.sf-menu {
	display:block;
	text-align: left;
	margin: 0 auto;
}
.sf-menu ul {
	position:absolute;
	top:-999px;
	display:none;
}
.sf-menu li {
	position:relative;
	display: block;
	min-width: 20%;

}


.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	z-index:99
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
	top:-999px;
	display:none;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	left:100%;
	top:0;
}

ul.sf-menu>li {
	position:relative;
	text-align:center;
	display:block;
	border-radius: 7px; 
	float: left;
	max-width: 940px;
	background: url(../images/menu_separator.png) no-repeat left;
}

ul.sf-menu>li:first-child {
	background: none;
}

ul.sf-menu>li a {
	text-decoration:none;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	line-height:18px;
	font-weight: normal;
	text-transform:uppercase;
	display: block;
	font-style: normal;
	color:#fff;
	padding: 22px 0px 23px; 	
	background: none;
	text-shadow: 1px 1px 0px #333;
	position: relative;
	width: 100%;
	border: 1px solid transparent;
	z-index: 999;

}

ul.sf-menu>li>a>.menu-arrow {
	position: absolute;
	top: 30px;
	right: 34px;
	display: block;
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #707070;
}

ul.sf-menu>li.sfHover a>span, ul.sf-menu>li>a:hover>span, ul.sf-menu>li.current>a>span.menu-arrow {
border-top-color: #fff;
}

ul.sf-menu>li>ul>li a>span.menu-arrow {
	position: absolute;
	top: 17px;
	right: -65px;
	left: 136px;
	display: block;
	width: 0; 
	height: 0; 
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-left: 4px solid #fff;
}


ul.sf-menu>li>ul>li a:hover>span.menu-arrow, 
ul.sf-menu>li>ul>li.sfhover a>span.menu-arrow{
	border-left-color: #ADADAD;
}


ul.sf-menu>li.current>a,  ul.sf-menu>li>a:hover, ul.sf-menu>li.sfHover>a {
	background: url(../images/menu_hover.png) repeat-x 0 0 #e70002;
	border: 1px solid #df0000;
}

.sf-menu>li>ul {
	width:148px;
	top:0;
	margin-top: 66px;
	background: url(../images/sub_bg.png) 0 0 repeat-x #606060;
	text-align: center;
	padding: 22px 20px 8px;
	box-shadow: 0px 0px 2px #333;
}
.sf-menu>li>ul>li {
	display: block;
	text-align: center;
	float: none;
	position: relative;
	line-height: 12px;
	border-top:#828282 1px solid;
}

.sf-menu>li>ul>li:first-child{
	border: none;
}

.sf-menu>li>ul>li:first-child a {
	padding-top: 0 !important;
}

.sf-menu>li>ul>li>a {
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	display: block;
	text-shadow: none;	
	padding: 0 !important;
	padding-bottom: 11px !important;
	padding-top: 16px !important;
}

.sf-menu>li>ul>li>a>span {
	font: 11px/14px Arial, Helvetica, sans-serif;
	color: #adadad;
	text-transform: none;	
}

.sf-menu>li>ul>li>a:hover, ul.sf-menu>li>ul>li.sfHover>a {
	color: #adadad;
}


.sf-menu>li>ul>li>ul {
	width:188px;
	left:170px !important;
	top: 0px !important;
	text-align: center;
	background: url(../images/subsub_bg.png) 0 0 repeat-x #838383;	
	padding: 15px 20px 0px 22px;
	box-shadow: 0px 0px 2px #999;
}

.sf-menu>li>ul>li>ul>li {
	display: block;
	text-align: center;
	float: none;
	position: relative;
	line-height: 12px;
	border-top:#bbbbbb 1px solid;
}

.sf-menu>li>ul>li>ul>li:first-child {
	border: none;
}

.sf-menu>li>ul>li>ul>li:first-child a {
	padding-top: 0 !important;	
}

.sf-menu>li>ul>li>ul>li>a {
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	display: block;
	text-shadow: none;	
	padding: 0 !important;
	padding-bottom: 11px !important;
	padding-top: 16px !important;
}

.sf-menu>li>ul>li>ul>li>a>span {
	font: 11px/14px Arial, Helvetica, sans-serif;
	color: #414040;
	text-transform: none;	
}

.sf-menu>li>ul>li>ul>li a:hover, ul.sf-menu>li>ul>ul>li>li.sfHover a {
	color: #414040;
}



/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {
	.sf-menu>li>a{
		 font-size: 14px;
	}
.menu_block {
	margin-right: 0;
}

.menu_block .links {
	margin-right: 0;
}

	.sf-menu>li:after, .sf-menu>li:first-child:before {
		display: none;;
	}
	
	ul.sf-menu>li>a>.menu-arrow {
		right: 20px;
	}


	header nav {
		padding-top: 0px !important;	
	}
}
@media only screen and (max-width: 767px) {
.menu_bg {
		padding: 10px 0px !important;
		
	}
	header {
		padding: 15px 0 5px !important;
	}


  header nav{
		float:none;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#927c67;
		
		width: 100%;
		margin: 0 auto;
		
	
	}
		nav:before{
			content:'Menu:';
			display:block;
			margin-bottom:5px;
			color: #fff;
			
		}
	.sf-menu{display:none;float: none;}
	nav select{
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#181818;
		width:100%;
		margin: 0 auto;
		float: none;
    outline: none;
		border:2px solid #868686;
	}
	
	.search_block {
		padding-bottom: 10px !important;	
	}
}
