.pl_15 {padding-left: 15px !important;}
.pt_10 {padding-top: 10px !important;}
.pt_25 {padding-top: 25px !important;}
.ml_50 {margin-left: 50px !important;}

.bold_text {font-weight:bold;}
.italc_text {font-style: italic;}

.no_color{color:black;}

.width150{width: 150px !important;}
.width200{width: 200px !important;}
.width100{width: 100px !important;}

