.test{background-color: black; color: white; text-align: center; padding: 80px 25px; border-bottom: 1px solid white;}
.test2{background-color: black; color: white; text-align: center; padding: 80px 25px;border-bottom: 1px solid white;}
.test3{background-color: black; color: white; text-align: center; padding: 80px 25px; }