.smart-filter-form-fields textarea {
    height: 100px;
}

.seo-filter-table .inside_padd.pull-left {
    width: 35%;
}

.seo-filter-table .inside_padd.pull-right {
    width: 75%;
    margin-right: -240px;
    border-left: 1px solid #dfdfdf;
}

.seo-filter-table hr {
    width: 500px;
}

.seo-filter-table button.removeLink {
    margin-top: -36px;
    height: 36px !important;
}

.nav-tabs-seo-links-holder {
    max-height: 600px;
    overflow-y: auto;
    width: 500px;
    padding-right: 10px;
}

.nav-tabs-seo-links tbody button {
    width: 30px;
    padding-left: 8px;
}

.nav-tabs-seo-links tbody td {
    padding: 8px;
    padding-bottom: 2px;
}

.nav-tabs-seo-links thead th {
    font-size: 12px;
}

#category {
    border-width: thin;
}

.semantic_url_entity_finder > button {
    width: 80px;
}

.semantic_url_entity_finder > input {
    width: 282px;
}

.semantic_url_entity_finder > select {
    width: 309px;
}

.seo-filter-table .row-fluid .offset1:first-child {
    margin-left: 10px;
}

.seo-filter-table .span9 {
    margin-left: 0px;
    width: 500px;
}

.modal_multi_creation {
    width: 75%;
    left: 35%;
}

.modal_multi_creation > .modal-body {
    max-height: 700px;
}

.modal_multi_creation .leftContainer {
    width: 30%;
}

.modal_multi_creation .leftContainer > div {
    width: 85%;
}

.modal_multi_creation .rightContainer {
    width: 69%;
}

.modal_multi_creation .help-block {
    font-size: 12px;
}

.semantic_url_entity_finder > .help-block {
    font-size: 12px;
}

.modal_multi_creation li[data-option-array-index="1"] {
    display: list-item !important;
}


