.icon, .helper, .v-a_m, .figure, .d-i_b, .crumbs a, .pagination li, .pagination li .active, .pagination li a, .inp, .check_frame label, .check_frame .frame_label, .neigh_r-o_c-k, .niceCheck, .footer li, .versions .title, .header li, .top_frame_tov, .top_frame_tov a, .subm_filter, .subm_filter input{display: inline !important;zoom: 1;}
.main_menu li, .main_menu ul, .main_menu .pointer, .header, .p_r, .main_frame_inside filter, .main_frame_inside, .range_price, .catalog li, .catalog .descr, .catalog{zoom: 1;}

.neigh_r-o_c-k{line-height: 1.2;}
a, .frame_label .f-s_0, label .f-s_0{cursor: pointer;}
.subm_filter input{margin-right: -12px;}
.frame_search span.r_p{right: 0;}
.frame_input span{top: 1px !important;}
.but_buy{width: 164px;text-align: center;}
.inp.but_buy{width: auto;}

* html .versions{height: 78px;}
* html .inp .b_buy_in{margin: 0;}
* html .but_buy{width: 174px;}
* html .inp{width: 164px;text-align: center;}
* html .main_menu ul li a{height: 70px;}
* html .catalog .descr{
    height: 120px;overflow: visible;
    width:expression(parentNode.offsetWidth < 300 ? "180px" : "100%");}
* html .baner img{
    z-index: expression(runtimeStyle.zIndex = 1, img_w = offsetWidth);
    width:expression(img_w > parentNode.parentNode.parentNode.offsetWidth-20 ? parentNode.parentNode.parentNode.offsetWidth-20 : img_w);
}
* html .map img{
    z-index: expression(runtimeStyle.zIndex = 1, img_w_map = offsetWidth);
    width:expression(img_w_map > parentNode.parentNode.parentNode.parentNode.offsetWidth-20 ? parentNode.parentNode.parentNode.parentNode.offsetWidth-20 : img_w_map);
}
* html .logo img{
    z-index: expression(runtimeStyle.zIndex = 1, img_logo = offsetWidth);
    width:expression(img_logo > parentNode.offsetWidth-20 ? parentNode.offsetWidth-20 : img_logo);
}
* html .main_menu .pointer .v-a_m{border: 0;}
* html .niceCheck{top: -5px;margin-right: 0;}
* html .main_menu .pointer .f_l{height: 75px;}
* html .header, * html .header li a{height: 94px;}
* html input {
    z-index: expression(
        runtimeStyle.zIndex = 1,
        type == "text" ? (className += " form_text") : 0,
        type == "password" ? (className += " form_text") : 0,
        type == "submit" ? (className += " form_submit") : 0
        )
}
* html .form_text, * html textarea{padding: 0 5px;width: 100%;border: 1px solid;color: #333;-webkit-border-radius: 2px;border-radius: 2px;vertical-align: middle;background-color: #fff;font-size: 24px;line-height: 39px;}
.form_submit{overflow: visible;}
