/system/cache/
/logs/nginx.access.log
/logs/*
/application/logs
/captcha
/uploads/*
/gitpush
/application/backups
/application/config/*/
/application/config/config.php
/application/config/database.php
/application/modules/shop/cmlTemp/
/application/modules/sitemap/map/
/application/modules/shop
/application/modules/mobile/
/application/modules/exchange/
/application/modules/template_manager/
/application/modules/mod_stats/
/codeception/tests/acceptance.suite.yml
codeception/tests/acceptance.suite.yml
\codeception\tests\acceptance.suite.yml
codeception\tests\acceptance.suite.yml
/templates/fluid/
.tmp_staging
/tests/tests/_log/*
/tests/application/*
Thumbs.db
.idea/
.settings/
.directory
/nbproject
/.project
/templates/.quarantine/
/templates/.tmb/
/*.csv
*.*~
/templates/corporate1/nbproject/private/
/_tempLangs.php
/uploadsNewlevel/.tmb/
/uploads_cur
/templates/builds/
/templates/*/node_modules/
/templates/*/package.json
/templates/*/Gruntfile.js
/templates/petstore/
/templates/technostore/
/application/modules/novaposhta/
/application/modules/sendsms/
/application/modules/parce_opencart/
/application/modules/parceya/
/application/modules/yandex_maps/