/system/cache/*.*
/system/cache/сache_*
/system/cache/templates_c/*.*
/system/cache/templates_c/сache_*
/system/cache/comments/*.*
/system/cache/comments/cache_*
/system/cache/menus/*.*
/system/cache/menus/cache_*
/application/logs
/captcha
/uploads
/gitpush
/db.sql
/application/backups
/application/config/config.php
/application/config/database.php
/application/modules/shop
/application/libraries/fake
Thumbs.db
.idea/
.settings/
/nbproject
.directory
/.project
/p4.komodoproject
/templates/.quarantine/
/templates/.tmb/
/application/modules/shop/build.properties
/application/modules/shop/buildtime-conf.xml
/application/modules/shop/runtime-conf.xml
/pma/
*.*~