[submodule "application/modules/shop"]
	path = application/modules/shop
	url = git@github.com:imagecms/ImageCMS-Shop.git
[submodule "application/modules/mobile"]
	path = application/modules/mobile
	url = git@github.com:imagecms/ImageCMS-SMobile-version.git
[submodule "application/modules/exchange"]
	path = application/modules/exchange
	url = git@github.com:imagecms/ImageCMS-Exchange.git
[submodule "application/modules/mod_seo"]
	path = application/modules/mod_seo
	url = git@github.com:imagecms/ImageCMS-SEO.git
[submodule "application/modules/mod_stats"]
	path = application/modules/mod_stats
	url = git@github.com:imagecms/ImageCMS-Statistick.git
[submodule "templates/fluid"]
	path = templates/fluid
	url = git@github.com:imagecms/ImageCMS-Fluid
[submodule "application/modules/template_manager"]
	path = application/modules/template_manager
	url = git@github.com:imagecms/ImageCMS-Template-Manager.git
