/system/cache
/application/logs
/captcha
/uploads
/gitpush
/db.sql
/application/config/config.php
/application/config/database.php
/application/modules/shop
application/config/config.php
application/config/database.php
application/modules/shop
/application/libraries/fake
Thumbs.db
.idea/
.settings/
/nbproject
.directory
/.project
