[submodule "application/modules/shop"]
	path = application/modules/shop
	url = git@github.com:imagecms/ImageCMS-Shop.git
[submodule "application/modules/mobile"]
	path = application/modules/mobile
	url = git@github.com:imagecms/ImageCMS-SMobile-version.git
[submodule "application/modules/exchange"]
	path = application/modules/exchange
	url = git@github.com:imagecms/ImageCMS-Exchange.git