AddDefaultCharset UTF-8

#Options +FollowSymLinks
#Options -Indexes


RewriteEngine on
RewriteCond $1 !^(index\.php|user_guide|uploads/.*|favicon\.ico|favicon\.png|captcha/.*|application/modules/.*/templates|templates|js|robots\.txt|application/controllers/install/images/.*)
RewriteRule ^(.*)$ /index.php/$1 [L]

####################################
# or
# RewriteRule ^(.+)$ index.php?$1 [L]

# RewriteCond %{HTTP_HOST} ^www.site.com$ [NC]
# RewriteRule ^(.*)$ http://site.com/$1 [L,R=301]