@charset "utf-8";
/* CSS Document */

body {
	overflow: scroll;
	margin:0px;
	padding:0px;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
}
img {
	border:none;
}
a, a:visited, a:link {
	outline:none;
}
.pointer {
	cursor:pointer;
}

.align_left {
	text-align:left;
}
.align_right {
	text-align:right;
}
.align_center {
	text-align:center;
}
.align_justify {
	text-align:justify;
}
/********************************************/
table.t_table {
	border-collapse:collapse;
	width:900px;
	margin:10px auto;
	font-family:Arial, Helvetica, sans-serif;
}
.t_table tr{
	border:inset 1px #C1C0DC;
}
.t_table td{
	padding-left:5px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:15px;
}
.t_table th{
	color:#004;
	font-weight:bold;
	padding:4px 0px;
	padding-left:5px;
	font-size:17px;
}
.t_id {
	width:70px;
	text-align:left;
}
.t_name {
	width:420px;
}
.t_lang {
	width:48px;
}
.t_ver {
	width:60px;
}
.t_edit {
	text-align:center
}
	.t_edit .edit_div, .t_edit .update_div{
		margin:0px auto;
		width:128px;
		height:35px;
                cursor:pointer;
	}
        .t_edit .edit_div{
            background:url(../images/test_editor/b_edit_.png) center no-repeat;
        }
        .t_edit .edit_div:hover{
            background:url(../images/test_editor/b_edit_hover.png) center no-repeat;
	}
        .t_edit .update_div{
            background:url(../images/test_editor/b_update.png) center no-repeat;
        }
        .t_edit .update_div:hover{
            background:url(../images/test_editor/b_update_hover.png) center no-repeat;
	}
td.t_prop {
	text-align:center
}
	.t_prop div{
		margin:0px auto;
		width:128px;
		height:35px;
		background:url(../images/test_editor/b_prop.png) center no-repeat;
	}
	.t_prop div:hover{
		background:url(../images/test_editor/b_prop_hover.png) center no-repeat;
		cursor:pointer;
	}


#def_param {
	display:none;
}
.addmore {
	font-size:18px; 
	color:#093; 
	width:893px; 
	padding-left:0px; 
	margin:0px auto;
	margin-top:15px;
}
	.addmore span{ 
		cursor:pointer;
	}

table.testform {
	border-collapse:collapse;
	width:900px;
	margin:5px auto;
	font-family:Arial, Helvetica, sans-serif;
}
.testform tr {
	border:inset 1px #C1C0DC;
}
.testform td {
	font-size:15px;
	font-family:Tahoma, Geneva, sans-serif;
	padding:2px 0px;
}
.testform th {
	width:190px;
	color:#004;
	font-weight:bold;
	padding:4px 0px;
	padding-left:5px;
	font-size:15px;
	text-align:left;
}

.addgroup {
	margin:10px auto;
	width:900px;
	font-size:16px;
}
	.addgroup div{
		width:155px;
		color:green;
		cursor:pointer;
		text-decoration:underline;
		font-weight:bold;
		margin-left:100px;
		float:left;
	}
.remgroup{
	color:#C00;
	text-decoration:underline;
	float:right;
	margin-right:15px;
	font-weight:bold;
	cursor:pointer;
}
/******************** edit_test ***********************/
a.link{
	font-size:17px;
	color:#39F;
	text-decoration:underline;
}
	a.link:hover{
		text-decoration:none;
		color:#5ee;
	}
.wrap{
    width:830px;
    margin:5px auto;
}        
.wrapper {
	width:1102px;
	margin:5px auto;
}
.gr_title {
	font-size:16px; 
	font-weight:bold; 
	text-align:left; 
	color:#004; 
}

table.answer{
	width:790px;
	margin:5px auto;
}
    table.answer td{
        vertical-align:top;
    }
td.galka{
	width:22px;
	height:22px;
	text-align:left;
	vertical-align:top;
}
    .galka div{
            width:20px;
            height:19px;
            padding-top:1px;
            background:url(../images/test_editor/gal.gif) top center no-repeat;
    }
div.group_info{
    width:300px;
    float:left;
}
.group_info a{
    color:#f06060;
    text-decoration:underline;
    font-size:15px;
}
    .group_info a:hover{
        color:#fc9494;
        text-decoration:none;
    }
div.group_data {
        display:none;
	padding:4px;
	vertical-align:top;
        width:790px;
        margin-top:8px;
        border:solid 1px gray;
        float:left;
}
	.group_data table{
		margin:0px; 
		border-collapse:collapse; 
		width:782px;
	}
.bad_quest{
    color:#c00;
    background-color:#ffcccc;
}        
.q_group table{
	margin:5px auto; 
	border-collapse:collapse; 
	font-size:16px;
	display:none;
}
.q_group div{
    font-size:14px; 
    margin:4px 0px 0px 30px;
}
.q_group p{
    font-size:15px; 
    font-weight:bold; 
    text-align:left; 
    color:#333; 
    margin:4px 0px 0px 0px;
}

div.show_div{
	width:15px;
	font-size:16px;
	color:#060;
	float:left;
        cursor:pointer;
}
div.hide_div{
	width:15px;
	font-size:16px;
	color:#C30;
	display:none;
	float:left;
        cursor:pointer;
}
/******************** forms *********************/
#question{
	width:830px;
	margin:5px auto;
}
div.bbcode, div.bbcode_ans{
	width:150px;
	float:left;
}
div.colorbut{
	margin:-3px 3px 3px 15px; 
	height:27px; 
	float:left;
}
div.colorbut p{
	background:url(../images/test_editor/bcolor.png) center top no-repeat;
	margin:-1px 0px 0px 3px;
	width:36px;
	height:24px;
	float:left;
	cursor:pointer;
}
div.colorbut input{
	float:left;
}
div.align_button, div.align_button_ans {
	margin:-5px 3px 3px 3px; 
	width:25px; 
	height:27px;
	float:left;
	cursor:pointer;
}
.image_inp{
	padding:5px;
	display:none;
}
.question_add_image {
	margin-bottom:0px;
}
a.butlink, div.butlink {
	color:#036;
	font-weight:bold;
	text-decoration:underline;
	outline:none;
	cursor:pointer;
}
	a.butlink:hover, div.butlink:hover{
		color:#06F;
		text-decoration:none;
	}
#add_remove_ans{
	width:340px;
	margin:10px auto;
}	
div.redbutlink, div.greenbutlink {
	font-weight:bold;
	text-decoration:underline;
	outline:none;
	margin:10px; 
	text-align:center;
	cursor:pointer;
}
div.redbutlink{
	color:#C10;
	float:left;
} 
	div.redbutlink:hover {
		color:#F74;
		text-decoration:none;
	}
div.greenbutlink {
		color:#060;
		float:left;
}	
	div.greenbutlink:hover{
		color:#3C0;
		text-decoration:none;
	}
.alert_red{
    font-size:15px; 
    color:#c00;
}        

span.error {
	display: none;
	color: red;
}

p.success{
	color: #2E8B57;
	background: #98FB98;
	font-weight: bold;
	width: 400px;
	padding: 10px 20px;
	margin: 10px 20px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;	
}

.grid-view .summary {display: none;}
.grid-admin-name {font-weight: bold;}
.grid-student-not-active {color: #666;}

.td-center {
	text-align: center;
}