.rating {background: url("../images/star-matrix.png") no-repeat scroll 0 0 transparent; clear: both; display: block; float: left; height: 14px; list-style: none outside none; margin-top: 0 !important; padding: 0; position: relative; width: 85px; }
.nostar {background-position: 0 0; }
.onestar {background-position: 0 -14px; }
.twostar {background-position: 0 -28px; }
.threestar {background-position: 0 -42px; }
.fourstar {background-position: 0 -56px; }
.fivestar {background-position: 0 -70px; }

span.rating div {cursor: pointer; float: left; font-size: 0; height: 14px; overflow: hidden; text-indent: -999em; width: 17px; }
/*span.rating div {cursor: pointer; float: left; font-size: 0; height: 16px; overflow: hidden; text-indent: -999em; width: 16px; }*/
span.rating div a {height: 14px; left: 0; position: absolute; text-decoration: none; top: 0; width: 17px; z-index: 200; }
span.rating div.one a {left: 0; }
span.rating div.two a {left: 17px; }
span.rating div.three a {left: 34px; }
span.rating div.four a {left: 51px; }
span.rating div.five a {left: 68px; }
span.rating div a:hover {background: url("../images/star-matrix.png") no-repeat scroll 0 0 transparent; height: 14px; left: 0; overflow: hidden; width: 85px; z-index: 2; }

span.rating div.one a:hover {background-position: 0 -98px; }
span.rating div.two a:hover {background-position: 0 -112px; }
span.rating div.three a:hover {background-position: 0 -126px; }
span.rating div.four a:hover {background-position: 0 -140px; }
span.rating div.five a:hover {background-position: 0 -154px; }

#pageRatingData {vertical-align: middle;font-size: 16px;color: #667280;}
.sta {    overflow: hidden;     color: #848484;font-size: 12px;}
.star_rating {vertical-align: middle;}
.sta > span:first-child{margin-right: 5px;line-height: 16px;vertical-align: middle;font-size: 16px;color: #FFF;}