@charset "utf-8";

body{background: url("images/body-bg.png") repeat;}

/*base*/
.f-s_13{font-size: 13px !important;}
.f-s_14{font-size: 14px !important;}
.f-s_15{font-size: 15px !important;}
.f-s_16{font-size: 16px !important;}
.f-s_18{font-size: 18px !important;}
.row-kits li, .items-complect > li, .pager, .title-category-l1, .menu-row-category .frame-drop-menu > ul > li, .lineForm, .compare-characteristic > li, .nav, .funcs-buttons{font-size: 0;}

.f-w_b{font-weight: bold!important;}
.f-w_n{font-weight: normal!important;}
.t-t_u{text-transform: uppercase !important;}
.items-brand-image > li > .frame-photo-title > .title, .start-page-category-menu > li .title{font-weight: normal;}
.text blockquote:before, .text blockquote:after{border-width: 1px 0;border-style: solid;border-top-color: #e7e2dd;border-bottom-color: #fff;}

[class*="icon"], .title-category-l1.is-sub:after, .title-category-l1.is-sub .ie, .ui-slider-handle, .product-status, .niceCheck, .niceRadio, .items-catalog .price-new:before, .menu_info .nav-info li:before, .frame-prices-buy-wish-compare .price-new:before, .frame-gen-price-buy-complect  .price-new:before,  #photo .price-new:before,.menu-row-category .frame-item-menu .frame-title.is-sub:after{background: url("images/sprite.png") no-repeat;}
.icon-plus{width: 10px;height: 10px;background-position: -260px 0;}
.icon-minus{width: 10px;height: 2px;background-position: -280px 0;}
/*.buti, .buti > button, .buti > a, .buti > input{background: url("images/buttons.png") no-repeat;}
.buti{margin-right: 9px;}
.buti > button, .buti > a, .buti > input{margin-right: -9px;}*/
.v_f{background: url("images/v_f.png") repeat-y;}
.h_f{background: url("images/h_f.png") repeat-x;}

button[disabled="disabled"], input[type="submit"][disabled="disabled"], input[type="reset"][disabled="disabled"], input[type="button"][disabled="disabled"], .disabled, .disabled > *, .divider{cursor: default;}

.preloader, .lazy{background-image: url("images/preloader.gif");background-repeat: no-repeat;background-position: 50% 50%;}
.wo-i.preloader{background-image: none;}

.c_3{color: #333 !important;}
.c_6{color: #666 !important;}
.c_9{color: #999 !important;}
.c_w{color: #fff !important;}
.photo-block{-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.3s ease-in-out;}
/*/base*/

/*active*/
:active{outline: none;}
:focus{outline: none;}
/*/active*/

/*groups-buttons*/
.groups-buttons [class*="btn"]:last-child{-moz-border-radius: 0 3px 3px 0;-webkit-border-radius: 0 3px 3px 0;border-radius: 0 3px 3px 0;}
.groups-buttons [class*="btn"]:first-child{-moz-border-radius: 3px 0 0 3px;-webkit-border-radius: 3px 0 0 3px;border-radius: 3px 0 0 3px;}
.groups-buttons [class*="btn"].active:first-child{border-right-width: 0 !important;}
.groups-buttons [class*="btn"].active:last-child{border-left-width: 0 !important;}
/*/groups-buttons*/

/*user-toolbar*/
.frame-user-toolbar.active{border-top: 1px solid transparent;}
.items-user-toolbar > li{border-right: 1px solid transparent;}
.items-user-toolbar > .box-1{border-left: 1px solid transparent;}
.items-user-toolbar{-moz-border-radius: 3px 3px 0 0;-webkit-border-radius: 3px 3px 0 0;border-radius: 3px 3px 0 0;}
.items-user-toolbar > .box-4{border-right: 0;}
.items-user-toolbar button.show.activeUT{border-top: 1px solid transparent;}
/*/user-toolbar*/

/*links*/
a, .ref, .name-check-filter{text-decoration: none;}
.name-check-filter{text-decoration: none;}
a:hover, .selected a, .ref:hover, .nav-static-pages > li > a:hover{text-decoration: none;}
/*/links*/

/*dotted lines*/
[class*="d_l"]{text-decoration: none;cursor: pointer;position: relative;display: inline;border-bottom: 1px dotted transparent;line-height: 1.2;}
[disabled] [class*="d_l"]{cursor: default;}
.d_l_1, .btn-order-call .d_l, .btn-compare .d_l, .btn-wish .d_l, .old-buyer .d_l, .frame-group-checks .title .d_l{line-height: 1.2;}

.dotted_underline{position: relative;}
.dotted_underline:before{position: absolute; bottom: 0px;left: 100%; width: 220%; height: 0px; border-top: 1px dotted; content: "";}
/*/dotted lines*/


/*groups selectors*/
.start-page-category-menu > li .title{font-size: 14px;}
.frame-item-menu > .frame-title .text-el, .frame-drop-menu .title-category-l1 > .text-el, .cusel, .compare-characteristic > li > span, .frame-cur-sum-price .price-new .price, .frame-cur-sum-price .price-discount .price{font-size: 12px;}
.frame-kit, .items-default > li, .frame-item-menu > .frame-title > .title > .text-el, .tabs-data > li > a, .tabs-data > li > button, .drop-bask .frame-items .price, .drop-bask .frame-items .curr, .frame-bask-order .description > .frame-prices .price, .frame-bask-order .description > .frame-prices .curr, .table-info-order .price-new .price, .table-profile .price-new .price{font-size: 13px;}
.nav > li > a, .nav > li > button, .nav > li > span, .nav.nav-vertical ul, footer ul li > span{font-size: 11px;}
.table-info-order .price-new .price, .table-profile .price-new .price, .cusel, .characteristic, .table-info-order td{font-weight: normal;}
.title-default > .title, .gen-sum-order .title{font-size: 18px;}
.price-new .price, .price-discount .price{font-size: 16px;}
.frame-view-products .price-new .price,.frame-view-products .price-discount .price{font-size: 12px;}
.frame-view-products .price-new{font-weight: normal;}
.gen-info-price .price-new .price,.gen-info-price .price-discount .price{font-size: 12px;}
.frame-kit .price-new .price,.frame-kit .price-discount .price{font-size: 12px;}
.footer-bask .price-new .price{font-size: 22px;}
.left-header > .nav > li > a, .left-header > .nav > li > span, .nav-enter-reg .text-el{font-size: 11px;}
.next-kit, .gen-sum-kit{font-size: 35px;}
.item-report .description .title{font-size: 16px;}
.complect-gen-sum .price-new .price, .gen-sum-order .price-new .price, #photo .price-new .price, .gen-price{font-size: 16px;}
.text th, .text dt,  .items-order-gen-info .price-item, .items-register-add-ref .divider,  .frames-checks-sliders .title, .characteristic th, .drop-bask .drop-header .add-info{font-weight: bold;}
.items-catalog .btn-compare .d_l,.items-catalog  .btn-wish .d_l{font-size: 11px;}
/*/groups selectors*/



/*icons*/

.icon_compare, .icon_compare_list{background-position: -40px 0;}
.inCompare .icon_compare{background-position: -40px -20px;}
.icon_wish_list{background-position: -20px 0;}
.icon_wish{background-position: -20px -60px;}
.inWishlist .icon_wish{background-position: -20px -20px;}
.icon_enter{background-position:0px 0;top: 0px;}
.icon_search{background-position: -60px 0;}
.icon_search.icon_search2{background-position: -100px -40px !important; top: 3px; left: 7px;}
.btn-search:hover .icon_search{background-position: -60px -20px;}
.icon_phone_header{background-position: -80px 0; vertical-align: middle;}
.icon_cleaner{background-position: -120px 0;}
.icon_arr-b-down{background-position: -120px -40px;}

.icon_arrow_p{background-position: -160px 0;}
.icon_arrow_n{background-position: -180px 0;}
.arrow:hover .icon_arrow_p{background-position: -160px -40px;}
.arrow:hover .icon_arrow_n{background-position: -180px -40px;}
.arrow[disabled="disabled"] .icon_arrow_p{background-position: -160px -80px;}
.arrow[disabled="disabled"] .icon_arrow_n{background-position: -180px -80px;}


.icon-vk{background-position: 0 -80px;}
.icon-tv{background-position: -30px -80px;}
.icon-fb{background-position: -60px -80px;}
.icon-google{background-position: -90px -80px;}
.icon-ok{background-position: -120px -80px;}

.icon-vk:hover{
background-position: 0 -120px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;}
.icon-tv:hover{background-position: -30px -120px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;}
.icon-fb:hover{background-position: -60px -120px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;}
.icon-google:hover{background-position: -90px -120px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;}
.icon-ok:hover{background-position: -120px -120px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;}

.icon_siteimage{background-position: -20px -40px;}
.icon-crumbs{background-position: -40px -40px;}
.icon_list_cat{background-position: -240px 0;}
.icon_table_cat{background-position: -200px 0;}
.active .icon_list_cat, .icon_list_cat:hover{background-position: -240px -40px;}
.active .icon_table_cat, .icon_table_cat:hover{background-position: -200px -40px;}
.icon_cleaner_buy{top: 3px;background-position: -280px -20px;}
.icon-line{background-position: -200px -80px; top: -2px;}
.icon_times_drop{background-position: -320px -20px;z-index: 1;}
.icon_times_drop:hover{background-position: -320px -60px;z-index: 1;}
.icon_times_cart,.icon_remove, .icon_times{background-position: -260px -80px;}
.icon_times_cart:hover,.icon_remove:hover, .icon_times:hover{background-position: -270px -80px;}
.icon_back{background-position: -200px -100px;}
.icon-order1{background-position: -360px 0px;top: -1px;}
.icon-order2{background-position: -360px -40px;top: -1px;}
.icon-order3{background-position: -360px -80px;top: -1px;}
.icon_ask{background-position: -280px -80px;}
.icon_ask:hover{background-position: -300px -80px;}
.icon_mail_w{background-position: -300px -100px;}
.icon_edit_w{background-position: -280px -100px;}
.icon_add_photo{background-position: -320px -100px;}
.error .icon_info{background-position: -260px -120px;}
.success .icon_info{background-position: -280px -120px;}
.icon_logo{background-position: -520px 0;}
.b-share-icon{position: static;}
/*/icons*/
/*/for delete*/

/*main-menu*/
.menu-main{-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.menu-main > nav{-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.frame-item-menu > .frame-title > .title > .text-el{cursor: pointer;}
.menu-row-category .title-category-l1.is-sub:after, .menu-row-category .title-category-l1.is-sub .ie{content: "";position: absolute;top: 50%;margin-top: -4px;width: 6px;height: 8px;}
.frame-drop-menu{-moz-border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;}
.vertical-menu .frame-drop-menu > ul{-moz-border-radius: 0 5px 5px 0;-webkit-border-radius: 0 5px 5px 0;border-radius: 0 5px 5px 0;}
.frame-l2 > ul > li > a, .frame-l2 > ul > li > ul > li > a{line-height: 1.2;}
.menu-col-category .title-category-l1 > .text-el{font-weight: bold;}
.vertical-menu .frame-item-menu > .frame-title.is-sub:after{width: 9px;height: 13px;top: 50%;margin-top: -7px;left: auto;right: 11px;background-image: url("images/arrow_menu.png");}

.menu-row-category .title-category-l1.is-sub:after, .menu-row-category .frame-item-menu .frame-title.is-sub:after{right: 15px;background-position: -40px -40px;}

.vertical-menu .frame-item-menu:before{border-bottom: 1px solid transparent;bottom: 0;position: absolute;content: '';width: 100%;left: 0;}
.vertical-menu .frame-item-menu > .frame-title:before{border-top: 1px solid transparent;top: 0;}
.menu-main td > .frame-item-menu > ul{border: 3px solid transparent;}
.menu-main td:first-child > .frame-item-menu {-moz-border-radius: 3px 0px 0 3px; -webkit-border-radius: 3px 0px 0 3px; border-radius: 3px 0px 0 3px;}
.menu-main td:last-child > .frame-item-menu {-moz-border-radius: 0px 3px 3px 0; -webkit-border-radius: 0px 3px 3px 0; border-radius: 0px 3px 3px 0; }

/*/main-menu*/

/*prices*/
.items-catalog .price-new:before, .frame-prices-buy-wish-compare .price-new:before,.frame-gen-price-buy-complect  .price-new:before,  #photo .price-new:before{background-position: 0 -40px;}
.frame-prices-buy-wish-compare .no-visible .price-new:before{background-position: -80px -40px; top: -1px;}
.items-catalog .not-avail .price-new:before, .not-avail .frame-prices-buy-wish-compare .price-new:before{background-position: -60px -40px; }

/*/prices*/

/*filter*/
.frames-checks-sliders > .frame-group-checks:first-child{border-top: 0;}
.frame-group-checks .title .d_l{display: inline;}
.frame-group-checks[data-rel*="dropDown"] .icon-arrow{background-position: -240px -80px;}
.frame-group-checks[data-rel*="dropDown"] .f-s_0:hover .icon-arrow{background-position: -240px -100px;}
.frame-group-checks[data-rel*="dropDown"] .f-s_0.valuePD .icon-arrow{background-position: -220px -80px;}
.frame-group-checks[data-rel*="dropDown"] .f-s_0.valuePD:hover .icon-arrow{background-position: -220px -100px;}

#dropDown0.frame-group-checks[data-rel*="dropDown"] .icon-arrow, #dropDown111.frame-group-checks[data-rel*="dropDown"] .icon-arrow{background-position: -220px -80px;}
#dropDown0.frame-group-checks[data-rel*="dropDown"] .f-s_0:hover .icon-arrow, #dropDown111.frame-group-checks[data-rel*="dropDown"] .f-s_0:hover .icon-arrow{background-position: -220px -100px;}
#dropDown0.frame-group-checks[data-rel*="dropDown"] .f-s_0.valuePD .icon-arrow, #dropDown111.frame-group-checks[data-rel*="dropDown"] .f-s_0.valuePD .icon-arrow{background-position: -240px -80px;}
#dropDown0.frame-group-checks[data-rel*="dropDown"] .f-s_0.valuePD:hover .icon-arrow,#dropDown111.frame-group-checks[data-rel*="dropDown"] .f-s_0.valuePD:hover .icon-arrow{background-position: -240px -100px;}


.apply{border: 2px solid transparent;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.apply:before{border-style: solid;border-width: 6px 7px;border-color: transparent;}
/*/filter*/

/*items*/
.items a .title{font-weight: normal;}
.items-catalog.list a .title{font-size: 15px;}
.items-text-category a .title{border-bottom: 0;font-size: 15px;font-weight: normal; height: auto;}
.items-text-category > li > .description{padding-top: 6px;border-top: 1px dotted transparent;}

.items-brands.main > li .photo-block, .items-sub-category .photo-block{border: 3px solid transparent;}

.items-search-autocomplete{border-bottom: 1px solid transparent;}
.items-search-autocomplete .price-new > span > *,.items-search-autocomplete .price-discount > span > *{font-size: 12px; font-weight: bold}
.items-news a{text-decoration: none;}
.items-news > li .title{font-size: 18px;font-weight: normal;line-height: 1;}
.items-news .description{margin-bottom: 10px;}


.item-product .photo-block{border-width: 1px; border-style: solid;}
.item-product .frame-variant-name{margin-right: 10px;}


.items-info-discount > li{display: block;border-top: 1px solid transparent;}
.items-brand-list > li > a{text-decoration: none;font-weight: bold;}

.items-catalog.table .frame-wish-compare-list > div{border-top-style:solid;border-top-width: 1px; text-align: center; }
.items-catalog.table .frame-wish-compare-list > div + div{border-left-style:solid;border-left-width: 1px; }
.items-catalog.list > li{border-width:0 0 1px 2px; border-style: solid; border-left-color: transparent; }

.accessories .items-default > li{width: 201px;}
/*/items*/



/*decor-element*/
.decor-element{left: 0;padding:2px 0 13px 0px;margin: -24px 0 -13px 0px;height: 340px !important; position: absolute;top: 0;width: 100%;height: 100%;z-index: -1;}
li:hover .decor-element{border-top-width:2px; border-style: solid;} 
/*/decor-element*/

/*product*/

.item-product .frame-prices-buy{border-width:1px 1px 0 1px; border-style: solid;}
.item-product .frame-prices-buy:last-child{border-bottom: 1px solid;}
.frame-delivery-payment .title .text-el{font-weight: bold;}
.frame-delivery-payment .frame-list-delivery{border-bottom: 1px solid transparent;}
.characteristic tbody th{font-weight: normal;}
.frame-phone-product .title > .text-el{font-weight: bold;}
.check-variant-product .title{font-weight: bold;}
#view h2{font-size: 18px;}
.patch-product-view{position: relative;}
.page-product #view .patch-product-view[style]{margin-bottom: 10px;}
.page-product #view .patch-product-view[style]:after{content: "";position: absolute;left: 0;bottom: 0;width: 100%;height: 30px;}

.accessories .title-default{border-top: 1px solid transparent;}

.cloud-zoom-lens{background: url("images/zoom.png") no-repeat;background-position: 50% 50% !important;}
.cloud-zoom-big{border:4px solid transparent;}
.cloud-zoom-loading{padding:3px;border: 1px solid transparent;}

.frame-complect{border: 1px solid transparent;}

.frame-prices-buy .alert-exists{text-align: left;font-size: 11px; text-transform: uppercase;}
.decor_title2{font-size: 13px; text-transform: uppercase; font-weight: bold; margin:20px 0 5px;}
/*/product*/

/*carousels*/
.items-v-carousel > li{position: relative;}
.items-v-carousel > li:before{border-top: 1px solid transparent;content: '';position: absolute;left: 0;top: 0;width: 100%;}
.items-v-carousel > li:first-child:before{content: none;}
.arrow > [class*="icon_arrow"]{width: 16px;height: 31px;top: 1px;}
.horizontal-carousel .group-button-carousel .arrow{width: 20px;height: 63px;margin-top: -32px;}
.horizontal-carousel .frame-view-products .group-button-carousel .arrow{margin-top: -43px;}
.vertical-carousel .group-button-carousel .arrow{left: 50%;margin-left: -9px;width: 15px;}
.vertical-carousel .group-button-carousel .prev{top: 9px;}
.vertical-carousel .group-button-carousel .next{bottom: 9px;top: auto;}
.fancy-gallery .group-button-carousel .arrow{width: 30px;height: 30px;margin-top: -15px;}
.horizontal-carousel .frame-thumbs .group-button-carousel .arrow{border: 0;width: 20px;}

.vertical-carousel .content-carousel{border-width: 1px 0;border-style: solid;}

.title-proposition-h .title{position: relative;padding:9px 18px;font-size: 13px;font-weight: bold; text-transform: uppercase;}
.frame-view-products .title-proposition-h .title{font-size: 18px; text-transform: none;  padding: 0 20px;}

.carousel-category-popular{border: 1px solid transparent;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;overflow: hidden;}
.carousel-category-popular .frame-title > .title{padding: 6px 15px;font-size: 17px;text-align: center;display: block;}

.frame-brands .frame-brands-carousel{border: 1px solid transparent;padding: 0px 0 18px;}
.frame-brands .frame-title > .title{padding: 0 15px;font-size: 18px;}

.vertical-layout .frame-baner-start_page{background: none;}
.frame-baner-start_page .content-carousel{}
.frame-baner-start_page:before{content: "";position: absolute;left: -5%;top: -2px;width: 110%;height: 2px;}
.frame-baner-catalog .content-carousel{-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}

.baner .prev, .baner .next{width: 42px;height: 42px;margin-top: -21px;}

.pager > a{margin: 0 0 0 1px;display: inline-block;width:22px;height: 22px; line-height: 22px; text-align: center;font-size: 12px;}

.jspVerticalBar .jspDrag{-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.jspArrow{position: relative;}

/*/carousels*/

/*footer*/

footer li > a, footer li > span, footer li > button{text-decoration: none;display: inline-block;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
footer .box-5 li > *{white-space: normal; overflow: visible;}
footer [class^="box"] .main-title{text-transform: uppercase; font-weight: bold;}
/*/footer*/

/*menus*/
.start-page-category-menu .sub-category > li > a{font-weight: bold;border-bottom: 1px solid transparent;}
.start-page-category-menu > li .photo-block{-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
.start-page-category-menu > li .title{text-transform: uppercase;}
.start-page-category-menu .sub-category > li{padding-left: 1px;}

/*/menus*/

/*menu_info*/
.menu_info .title{font-size: 18px; text-transform: uppercase; font-weight: bold;}
.menu_info .nav-info li:before{background-position: 0 -20px;}
.menu_info .nav-info li a{text-decoration: underline;}
/*/menu_info*/


/*benefits*/
.frame-benefits-product .frame-benefits{margin-bottom: 0;}
.frame-benefits{margin-bottom: 0px;}
.frame-icon-benefit{text-align: center;width: 58px;height: 58px;position: relative;-moz-border-radius: 29px;-webkit-border-radius: 29px;border-radius: 29px;}
.frame-description-benefit{margin-left: 70px;height: 58px;padding-right: 10px;}
.frame-description-benefit .title{font-size: 12px; font-weight: bold; text-transform: uppercase;}
.frame-description-benefit p{font-size: 13px;}

.frame-icon-benefit > [class*="icon-"]{background: url("images/benefits.png") no-repeat;}
.frame-icon-benefit > .icon-benefits_1{width: 47px;height: 43px;background-position: 0 0;}
.frame-icon-benefit > .icon-benefits_2{width: 50px;height: 42px;background-position: -60px 0;}
.frame-icon-benefit > .icon-benefits_3{width: 56px;height: 50px;background-position: -120px 0;}
.frame-icon-benefit > .icon-benefits_4{width: 42px;height: 48px;background-position: -180px 0;}
/*/benefits*/

/*text*/
.list-style-1 li{position: relative;padding-left:14px;}
.list-style-1 li:before{font-size:13px;}
.text table {border: 1px solid transparent;}
.text th, .text td{border: 1px solid transparent;}
hr{border-top: 1px solid transparent;border-bottom: 1px solid transparent;}
.text table{border: 1px solid transparent;}
.text th, .text td{border: 1px solid transparent;}
hr{border-top: 1px solid transparent;border-bottom: 1px solid transparent;}
/*/text*/

/*seo*/

.vertical-layout .frame-seotext-benefits{padding-top: 0;}

/*/seo*/

/*buttons*/


.wish-list-btn,.compare-list-btn{display: inline-block;height: 31px; line-height:31px; width: 50px; vertical-align: top; text-align: center;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;}
.wish-list-btn > button,.compare-list-btn > button{width: 100%; height: 100%;}

.btn-bask > button, .wish-list-btn > button, .compare-list-btn > button, .btn-already-show > button{cursor: default;}

.btn-order-call{margin-left: 10px;}

.btn-bask .text-el{font-size: 12px;}
.btn-bask{width: 100%;}
.btn-bask > button, .btn-bask > a{width: 100%;height: 37px;}
.btn-bask .curr{text-transform: lowercase;}
.btn-bask .frame-icon{width: 42px; height: 100%; text-align: right; float: right;}
.btn-bask .text-cleaner{display: block; padding: 0px; height: 100%; max-width: 148px; float: right; text-align: left;}

.btn-additional-s_c{margin-top: 8px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;display: none;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.btn-additional-s_c > button{height: 100%;padding: 3px 15px;}

.btn-all-comments{display: none;margin-left: 33px;}

.btn-def{border: 1px solid transparent;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.cuselFrameRight{border: 1px solid transparent;}
.cuselFrameRight:before{content: "";position: absolute;left: 50%;top: 50%;margin-left: -4px;margin-top: -2px;border: 4px solid transparent;}
.btn-def > button, .btn-def > input[type="submit"], .btn-def > a{height: 31px;padding: 0 10px;}
.drop-bask .btn-def > button{padding: 0 31px;}

.btn-enter > button, .btn-personal-area > a, .btn-exit-shop > button{height: 31px;line-height: 31px;padding: 0 13px;}
.btn-enter > button, .btn-exit-shop > button{padding-right: 0px;}

.btn-search{border: 1px solid transparent; border-left: 0px; float: right;width: 40px;height: 30px;
-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
-moz-border-radius: 0px 2px 2px 0px;-webkit-border-radius: 0px 2px 2px 0px;border-radius: 0px 2px 2px 0px;}
.btn-search > button{height: 100%;width: 100%;}
.btn-search .text-el{display: none;}
.btn-buy, .btn-cart{border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.items-catalog.table .btn-buy,.items-catalog.table .btn-cart{border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;}
.btn-buy > button, .btn-buy > a{height: 29px;line-height: 30px;padding: 0 25px 0 22px;}
.btn-buy .text-el{font-size: 11px;text-transform: uppercase; font-weight: bold;}
.btn-buy.btn-order .text-el,.btn-buy.btn-order input{font-size: 12px; text-transform: uppercase; font-weight: bold;}

.btn-cart > button, .btn-cart > a, .btn-cart > input{height: 29px;line-height: 30px;padding: 0 25px 0 22px;}
.btn-cart .text-el, .btn-cart > input{text-transform: uppercase;font-size: 11px;}

.frame-gen-price-buy-complect .btn-buy > *{padding: 0 20px;}
.frame-gen-price-buy-complect  .btn-cart > *{padding: 0 25px;}

.btn-buy.btn-order > *{padding: 0 29px; height: 40px;line-height: 41px; }
.frame-payment input[type="submit"]{font-size: 11px;font-weight: bold; text-transform: uppercase; padding: 0 20px; height: 29px;line-height: 30px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.btn-cart-p .text-el, .btn-cart-p > input{font-size: 15px;}
.btn-cart-p > button, .btn-cart-p > a, .btn-cart-p > input{height: 45px;line-height: 44px;padding: 0 20px; }

.btn-plus, .btn-minus{display: block;}
.btn-plus > button{border-width: 1px 0;border-style: solid;}
.btn-minus > button{border-top: 1px solid transparent;}
.btn-plus > button, .btn-minus > button{display: block;height: 16px;width: 33px;}

.btn-form{border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.btn-not-avail{border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
.btn-form > input, .btn-form > button, .btn-not-avail > button, .btn-form > a{height: 33px;line-height: 34px;padding: 0 25px;}
.drop .btn-form > *{padding: 0px; display: block; text-align: center; width: 100%;}
.drop .btn-form{display: block; text-align: center;}
.drop.comments-main-form .btn-form{display: inline-block;}
.drop.drop-bask .btn-form{display: inline-block;}
.drop.drop-bask .btn-form > a{padding: 0 45px; width: auto;}
form .btn-form > button, .btn-form input{padding: 0 33px;}
form .btn-form .text-el, .btn-not-avail .text-el, .btn-form input, .btn-form .text-el{font-size: 11px; text-transform: uppercase;}
.drop .btn-form .text-el{font-weight: bold;}
.neigh-buttonform{height: 32px;}
.btn-already-show.active:after{border-width: 1px 0;border-style: solid;content: "";height: 100%;width: 100%;position: absolute;left: 0;top: 0;margin-top: -1px;}

.btn-crumb .divider{font-size: 14px;margin-left: 4px;}

.btn-compare{height: 20px;}
.btn-wish{height: 20px;}


.item-product .btn-compare, .item-product .btn-wish{margin-bottom: 0;}

.btn-reset-filter{padding: 3px 13px 7px 0;}
.btn-reset-filter .text-el{display: block;}
.btn-reset-filter .icon_times{top: 5px;}

.btn-to-up{-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.btn-to-up > button > .text-el{text-transform: uppercase;font-size: 12px;}
.items-user-toolbar .btn-toggle-toolbar button{padding: 0;width: 140px;}
/*/buttons*/

/*product status*/
.product-status{position: absolute;left: 0;top: 0px;}
.left-product .product-status{left: 15px;top: 15px;}
.list .product-status{left: 5px;}
/*.product-status + .product-status{top: 32px;}
.product-status + .product-status + .product-status{top: 59px;}
.product-status + .product-status + .product-status + .product-status{top: 86px;}*/
.product-status.discount .text-el{font-size: 12px;font-weight: bold;text-transform: uppercase;font-family: Arial, sans-serif;}

.action{background-position:  -400px -60px;width: 47px;height: 50px;}
.nowelty{background-position: -450px 0px;width: 43px;height: 50px;}
.hit{background-position: -400px 0px;width: 43px;height: 50px;}
.discount{background-position: -460px -60px;width: 47px;height: 50px;line-height: 15px;text-align: center;}

.items-bask .product-status{display: none;}
/*/ product status*/

/*form*/

/*not standart checkbox radio*/
.niceCheck{width: 17px; height: 17px; float: left;position: relative;top: 1px;margin-right: 5px; background-position: -280px 0;}
.frame-label:hover .niceCheck{background-position: -300px 0;}
.niceCheck.active{ background-position: -320px 0;}
.niceCheck.disabled{ background-position: -340px 0;}
.niceCheck input, .niceRadio input{display: none;}
.b_n.niceCheck, .b_n.niceRadio{background: none;}
.b_n.niceCheck input, .b_n.niceRadio input{display: block;}
.niceCheck + .name-count{margin-left: 29px;padding-right: 10px;}
.niceRadio + .name-count{margin-left: 19px;}
.niceCheck + .name-count + .help-block{margin-left: 21px;}
.niceRadio + .name-count + .help-block{margin-left: 19px;}

.niceRadio{float: left;position: relative;top: 2px;margin-right: 5px;}
.drop .niceRadio{width: 14px; height: 14px;  background-position: -200px -120px; margin-right: 10px;top: 1px;}
.frame-prices-buy-wish-compare .niceRadio{top: 19px; margin:0 5px 29px 27px; }
.niceRadio.active{background-position: -220px -120px;}
.niceRadio.disabled{}
/*/not standart checkbox radio*/

#slider{border: 1px solid;}
.frame-label.active .name-count{font-weight: normal;}
.frame-radio .name-count{font-weight: normal;}
.slider{-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}

.ui-slider-handle{position: absolute;z-index: 2;width: 10px;height: 19px;cursor: pointer;top: -6px;background-position: -280px -40px;}
.ui-slider-handle:active, .ui-slider-handle:focus{background-position: -300px -40px;}
.cusel .jScrollPaneContainer{}

.msg > .error .text-el{font-weight: normal;}
.msg > .success{border: 1px solid transparent;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
.msg > .info{background-color: transparent;border: 0;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;}

input.plus-minus{width: 52px;height: 29px;display: inline-block;text-align: center; font-size: 14px; vertical-align: middle;}
.cusel{border: 1px solid transparent;}
.cusel span{font-size: 12px;}

label.error, .error .text-el{font-size: 11px;}

/*/form*/

/*tabs*/
.tabs-data > li > a, .tabs-data > li > button{font-size: 11px; text-transform: uppercase;}
.tabs-data > li{border-width: 2px 1px 0 1px ;border-style: solid; margin-right: 8px;}
.tabs-data > li:last-child{ margin-right: 0px;}
.tabs-data > li.active{-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;}

.tabs-compare-category > li{float: none;margin-bottom: 0px;}
.tabs-compare-category > li > button{padding: 7px 10px 7px 0px;text-align: left; display: block;}
.tabs-compare-category > li{border-top: 1px solid;}
.tabs-compare-category > li:first-child{border: 0;}
.tabs-compare-category > .active > button{position: relative;}
.tabs-compare-category .text-el{text-transform: uppercase; font-size: 11px;}
.frame-tabs-ref{position: relative;z-index: 2;border-style: solid; border-width: 1px;}
.frame-tabs-compare{border: 0px;}
/*/tabs*/

/*header*/
.fon-header{border-top-style: solid; border-width: 2px}
.menu-header{border-bottom-style: solid; border-width: 1px;}
.wish-list-btn,.compare-list-btn, .nav-enter-reg > li{border-left: 1px solid;}
.left-header > .nav > li.active{background: none;}
.nav-enter-reg .divider{padding: 0 18px;}
.header-left-content-header [href*="mailto"]{margin-left: 20px;}
.logo{height: 75px;overflow: hidden;float: left;margin-top: 9px;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {font-size: 11px; color:#bbbbbb;}
input::-moz-placeholder, textarea::-moz-placeholder {font-size: 11px;  color:#bbbbbb; }
input::-o-placeholder, textarea::-o-placeholder {font-size: 11px; color:#bbbbbb;}
input::-ms-placeholder, textarea::-ms-placeholder {font-size: 11px;  color:#bbbbbb;}
/*/header*/

/*crumbs*/
.frame-crumbs{overflow: hidden;}
/*/crumbs*/

/*category-first*/
.frame-menu-category-first > .items > li{border-width: 5px; border-style: solid;}
/*/category-first*/
/*category-second*/
.frame-menu-category-second > .items > li{border-width: 5px; border-style: solid;}
/*/category-second*/

/*catalog*/
.header-category{border-width: 1px 0 1px; border-style: solid;}
.title-menu-category .title {margin-bottom: 8px; padding: 9px 45px 8px 16px; text-transform: uppercase; position: relative; font-weight: bold; }
/*/catalog*/



/*titles*/
.title-h1, h1{font-size: 18px;font-weight: normal;}
.title-h2, h2{font-size: 21px;font-weight: normal;}
.title-h3, h3, .title-h3 [class*="price-"]{font-size: 18px;font-weight: normal;}
.title-h4, h4{font-size: 14px;font-weight: normal;}

.frame-complect .title-proposition-h .frame-title > .title:after, .title-default > .frame-title > .title:after{content: "";position: absolute;width: 110%;left: -5%;top: 100%;height: 2px;margin-top: -2px;}
.frame-check-filter .title{font-weight: bold;border-bottom: 1px solid transparent;}
.frame-complect .frame-title > .title, .title-default > .title{}
.frame-complect .frame-title > .title{font-size: 18px; padding: 0 20px;}

.frame-bask-order .frame-title > .title{font-size: 12px; text-transform: uppercase; font-weight: bold;}

.title-proposition-v .frame-title{display: block;margin-right: 0;}

.carousel-category-popular .frame-title:after{content: "";height: 2px;position: absolute;width: 110%;margin-left: -5%;}
/*/titles*/

/*order*/
.horizontal-form .check-variant-payment .frame-label{border-width:1px 0 0 0; border-style: solid;}
.horizontal-form .check-variant-payment .frame-label:first-child{border-width:0;}
.frame-label.but-block{-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.title-order{font-size: 11px; text-transform: uppercase;}
.frame-change-count{border: 1px solid transparent;-moz-border-radius: 0 2px 2px 0;-webkit-border-radius: 0 2px 2px 0;border-radius: 0 2px 2px 0;}
.frame-bask-order .footer-bask{-moz-border-radius: 2px;-webkit-border-radius:2px;border-radius:2px;}
.frame-bask-order .frame-title{border-bottom: 1px solid transparent;}
.table-order > tbody > tr > td{border-bottom: 1px solid transparent;}
.frame-bask-order{border:1px solid;}

.new-buyer{position: relative;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.new-buyer:after{content: "";border-color: transparent;border-width: 6px 7px;position: absolute;top: 100%;left: 50%;margin-left: -7px;border-style: solid;}
.frame-cur-sum-price .price-new{font-weight: bold;}
/*/order*/

/*pagination*/
.pagination li > a{text-decoration: underline;}
/*/pagination*/

/*drop*/
.items-search-autocomplete > li{border-top: 1px solid transparent;}
.items-search-autocomplete > li:first-child{border: 0;}

.drop-header > .title{font-size: 13px; font-weight: bold; text-transform: uppercase;}
#photo .drop-header > .title{font-size: 18px; text-transform: none; font-weight: normal;}
.forgot-register_box > div + div {margin-left: 10px; padding-left: 12px; line-height: 12px;} 
.forgot-register_box > div > *{text-transform: uppercase; font-size: 11px; text-decoration: none;}
.drop-style{-moz-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;}
.drop > .drop-content{min-height: 100px;}

.drop-info{-moz-border-radius: 2px 2px 0 0;-webkit-border-radius: 2px 2px 0 0;border-radius: 2px 2px 0 0;}

#notification.drop > .drop-content{min-height: 0;}

#photo .drop-footer .inside-padd{z-index: 1103; -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
#photo .drop-content{-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;}
#photo .drop-footer .inside-padd{border: 1px solid transparent;}

.forgot-register_box > div + div {border-left: 1px solid transparent;}
.drop-header:before{content: "";position: absolute;top: 100%;width: 100%;left: 0;height: 10px; background: url("images/drop-header.png") top center;background-repeat: no-repeat;}
/*/drop*/

/*page profile*/
.table-profile{border-width: 1px 0 0 1px;border-style: solid;}
.table-profile td, .table-profile th{border-width: 0 1px 1px 0;border-style: solid;}
.info-discount{margin-left: 450px;border: 1px solid transparent;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
/*/page profile*/

/*page order*/
.frame-payment [class*="btn"] input[type="submit"], .frame-payment [class*="btn"] button, .frame-payment [class*="btn"] input[type="submit"]:active, .frame-payment [class*="btn"] button:active{background: none;border: 0;}
/*/page order*/

/*page order view*/
.table-info-order th{font-weight: normal;}
.status-pay{padding: 4px 8px;}
.table-info-order hr{border: 0;border-top: 1px solid transparent;}
/*/page order*/

/*page compare*/
.comprasion-head .title{background: #f5f5f5;}
.compare-characteristic > li{border-top: 1px solid transparent}
.compare-characteristic > li.hover{border-color: transparent;}
.left-compare .compare-characteristic > li.hover:before{border-left: 2px solid ;
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);box-shadow: 0 1px 5px rgba(0,0,0,0.2);}
/*/page compare*/



/*page 404*/
.page-404 .title{font-size: 12px; text-transform: uppercase; font-weight: bold; margin: 25px 0 8px;}
.page-404:before{content: "";position: absolute;left: 42%; top: 404px;width: 184px;height: 110px;background: url("images/404-before.png") top center}
/*/page 404*/

/*footer*/

footer .box-1 > .inside-padd{border-left: 0;}
footer .box-3 > .inside-padd{border-right: 0;}
footer .box-4{overflow: visible;}
footer .develop-info a{font-weight: bold;}
/*/footer*/

/*show all href*/
.frame-brands .show-all-brands{padding: 0 15px;position: relative;z-index: 3;top: -10px;left: 34px;}
.s-all-d .text-el{font-weight: bold;border-bottom: 1px solid transparent;}
.s-all-marg{margin-left: 10px;}
/*/show all href*/

/*tooltip*/
.tooltip{font-size:11px;text-align:center;text-decoration:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.tooltip:after{border-color:transparent;border-style:solid;border-width:5px 5px 0;}
/*/tooltip*/

/*navs*/
.nav-static-pages > li{border-top: 1px solid transparent;}
.nav-static-pages > li:first-child{border-top: 0;}
.nav-static-pages > li > ul{padding-left: 17px;padding-bottom: 10px;}
.nav-static-pages > li > ul > li{margin-bottom: 7px;}
.nav-static-pages > li > ul a{text-decoration: underline;}
.nav-static-pages .is-sub .text-el{font-weight: bold;}
/*/navs*/

/*stars*/
.star-small, .star-small div, .star-small span{background: url('images/stars.png');}
.star-big, .star-big div, .star-big span{background: url('images/star-comment.png');}

.star-small{width:60px;height: 11px;}
.star-big {width: 90px;height: 16px;}

.productRate{position: relative;}
.productRate div {background-position: left bottom;width: 0;height: 100%;position: absolute;top: 0;left: 0;z-index: 1;cursor: pointer;}
.productRate span {display: block;height: 100%;position: absolute;top: 0;left: 0;z-index: 2;background-position: left center;width: 0;cursor: pointer;}
.productRate.disabled, .productRate.disabled div{cursor: default;}

.star-small div{cursor: default;}
.count-response, .count-null-response{font-size: 11px;}
.count-response-product{text-decoration: underline;}
/*/stars*/

/*brand*/
.items-brand-image > li{border-width: 3px; border-style: solid;}
.frame-category-brand .inside-padd{border: 1px solid transparent;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
/*brand*/




/*media quires*/
@media screen and (max-width:959px){

.baner .icon_arrow_p {background-position: -520px -80px;}
.baner .icon_arrow_n {background-position: -540px -80px;}
.frame-prices-buy-wish-compare .price-new:before, .frame-gen-price-buy-complect .price-new:before{background-position: -340px -120px; left: -12px;}
.frame-prices-buy-wish-compare .no-visible .price-new:before {background-position: -360px -120px; top: -1px; }
.frame-prices-buy-wish-compare .no-visible .price-new {border-width: 1px 1px 1px 0;}

}


@media screen and (max-width: 479px){
.icon_cleaner{background-position: -300px -120px;}
.baner .icon_arrow_p{background-position: -160px -120px !important;}
.baner .icon_arrow_n{background-position: -180px -120px !important;}
}
