<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="all">

<div class="topleft">

	<ul>
    	<li><a href="#">Главная</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Карта сайта</a></li>
	</ul>
    
    <div class="logo"><a href="#"><img src="images/logo.jpg" /></a></div>
    
</div>

<div class="toprobots"></div>

<div class="topright">
            <form action="#" enctype="multipart/form-data">
            	<p>поиск</p>
            	<p id="searchfield"><input type="text"/></p>
            	<p><input type="image" src="images/search_submit.gif" /></p>
            </form>
<div class="login_cart">
	<div class="cart">
    	<h2>Корзина</h2>
        <p>
        	всего товаров: <a href="#" class="whitelink">10</a><br />
            общая стоимость: <a href="#" class="whitelink">5000</a>  руб.<br />
            <a href="#">перейти в корзину</a>
        </p>
    </div>
    <div class="login">
    	<h2>Личный кабинет</h2>
        <span>(только для людей)</span><br />
        <form action="#" enctype="multipart/form-data">
        <p>Логин</p><p id="loginfield"><input type="text" /></p>
        <div class="clear"></div>
        <p>Пароль</p><p id="loginfield"><input type="text" /></p>
        <div class="clear"></div>
        <div class="enter"><a href="#">Войти</a></div>
        <div class="forgot"><a href="#">Забыл</a></div>
        </form>
    </div>
</div><!-- login_cart END -->
</div><!-- topright END -->
<div class="clear"></div>

<div class="mainmenu">

<ul>
	<li id="active"><a href="#"><span>Главная</span></a></li>
    <li><a href="#"><span>Новости</span></a></li>
    <li><a href="#"><span>Каталог продукции</span></a></li>
    <li><a href="#"><span>Фотогаллерея</span></a></li>
    <li><a href="#"><span>Статьи</span></a></li>
    <li><a href="#"><span>Обратная связь</span></a></li>
</ul> 
   
</div><!-- mainmenu END -->

<div class="mainbody">


	<div class="left">

    	<h2>Категории продукции</h2>
    	<ul>
        	<li><a href="#">Кухонные роботы</a></li>
            <li><a href="#">Рабочие роботы</a></li>
            <li><a href="#">Нерабочие роботы</a></li>
            <li><a href="#">Спортивные роботы</a></li>
            <li><a href="#">Промышленные роботы</a></li>
            <li><a href="#">Роботы-скакуны</a></li>
            <li><a href="#">Домашние роботы</a></li>
            <li><a href="#">Военные роботы</a></li>
        </ul>
        
        <h2>Категории статей</h2>
    	<ol>
        	<li><a href="#">Роботчие будни</a></li>
            <li><a href="#">Роботы и мы</a></li>
            <li><a href="#">Полезные роботы</a></li>
            <li><a href="#">Для роботов</a></li>
        </ol>
          
    </div><!-- left END -->
    
    <div class="right">
    	
        <h1>Приветствуем на сайте</h1>
        <div class="welcome">
        	<img src="images/rightrobot.png" style="float:left; margin:0px 7px 0px 0px"/>
        	<div class="welcome_bg1"><div class="welcome_bg2">Приветствуем на сайте магазина, где в дальнейшем можно будет заказать и купить любые модели роботов массового производства. Пока же мы предлагаем известные модели проверенных, бюджетных и надежных роботов-пылесосов, роботов, имитирующих животных, и еще некоторые наименования робототехнических товаров, а также необычные электронные hi-tech подарки и сувениры.</div></div>
        </div><!-- welcome END -->
        
        
        <h1>Последние новости</h1>
        <div class="news_block">
            <div class="news1">
                 <span>02.02.2009</span>
                 <h3><a href="#">Праздничная распродажа</a></h3>
                 <p>Вот и наступило долгожданное лето. Собирайся в паход! Возьми с собой робота!!! Обращайтесь к нам, у нас самые симпатичные андроиды в России!</p>  
            </div>
            <div class="news">
                 <span>13.08.2009</span>
                 <h3><a href="#">Роботы на службе в Армии</a></h3>
                 <p>В скором времени на вооружение нашей армии может поступить робот, предназначеный для ведения боевых действий с живой силой и техникой противника.</p>  
            </div>
            <div class="news">
                 <span>07.09.2009</span>
                 <h3><a href="#">Кибер ресторан</a></h3>
                 <p>Вот и наступило долгожданное лето. Собирайся в паход! Возьми с собой робота!!! Обращайтесь к нам, у нас самые симпатичные андроиды в России!!!:))</p>  
            </div>
            <div class="allnews"><a href="#">все новости &mdash;&gt;</a></div>
         </div><!-- news_block END -->
        
        
         <h1>Последние фото</h1>
         <div class="gallery">
         	<div class="photo1"><a href="#"><img src="images/photo1.jpg"/></a></div>
            <div class="photo"><a href="#"><img src="images/photo2.jpg" /></a></div>
            <div class="photo"><a href="#"><img src="images/photo3.jpg" /></a></div>
         </div>
         
         <h1>Горячие товары</h1>
         <div class="hot">
         	<div class="robot1">
            	<h4><a href="#">Робот-скакун</a></h4>
            	<div class="hotimage"><a href="#"><img src="images/hot_robot1.jpg"/></a></div>
                <div class="hot_info">
                	<div class="price"><p><span>130$</span></p></div>
                    <div class="add_to_cart"><a href="#">В корзину</a></div>
                </div>
            </div>
            <div class="robot">
            	<h4><a href="#">Робот-фен</a></h4>
            	<div class="hotimage"><a href="#"><img src="images/hot_robot2.jpg" /></a></div>
                <div class="hot_info">
                	<div class="price"><p><span>50$</span></p></div>
                    <div class="add_to_cart"><a href="#">В корзину</a></div>
                </div>
            </div>
            <div class="robot">
            	<h4><a href="#">Робот-грелка</a></h4>
            	<div class="hotimage"><a href="#"><img src="images/hot_robot3.jpg" /></a></div>
                <div class="hot_info">
                	<div class="price"><p><span>2130$</span></p></div>
                    <div class="add_to_cart"><a href="#">В корзину</a></div>
                </div>
            </div>
         </div> <!-- hot END -->
         
    </div><!-- right END -->
</div><!-- mainbody END -->

<div class="footer">
	<div class="live"><img src="images/live.jpg" /></div>
    <div class="copy">2009 © ООО «Сайт Имидж»<br /><a href="#">Авторское право</a><span></span><a href="#">Лицензионное соглашение</a></div>
    	<ul>
        	<li><a href="#">Главная</a></li>
            <li><a href="#">Продукт</a></li>
            <li><a href="#">Разработка</a></li>
            <li><a href="#">Примеры</a></li>
            <li><a href="#">Поддержка</a></li>
        </ul>
</div><!-- footer END -->

</div> <!-- all END -->
</body>
</html>