.left-info {
    /*padding: 15px;*/
    height: 100%;
    position: realtive;
}

.article-data {
    padding: 15px;
    border-left: 1px solid #e6e6e6;
}

.article-view {
    min-height: 170px;
    background: #f4f4f4;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #e6e6e6;
    position: relative;
    /*border-radius: 5px;*/
    position: relative;
}

.active-article-status {
    background: #F0FFF0;
}

.history-article-status {
    background: #FFF5EB;
}

.left-info table {
    margin-top: 20px;
    width: 100%;
}

.left-info table tr:nth-child(odd) td {
    background: #eaeaea;
}

.left-info table tr td:first-child {
    padding-right: 10px;
    color: #696969;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: right;
}
.left-info table tr td:last-child {
    font-size: 11pt;
    color: #484848;
}

.no_changes {
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    color: #727272;
    font-size: 12pt;
}


.history-bottom-link {
    text-align: left;
    margin: 10px;

}

#articles_diff {
    width: 900px;
    margin-left: -450px;
}



/* ---------------------- */


.collapsed_table {
    padding: 7px;
    margin:  7px;
    color: #696969;
    width: 100%;
}

.collapsed_table tr td {
    vertical-align: middle;
    width: 50%;

}
.collapsed_table tr td:first-child {
    padding-right: 7px;
    text-align: right;
}
.collapsed_table tr td:last-child {
    font-size: 11pt;
    color: #444444;
}


.history_row.collapsed {
    border-top: 2px solid #e6e6e6;
    height: 40px;
    /*background: #f1f1f1;*/
    /*margin-top: 4px;*/
    position: relative;
}
.history_row.collapsed:first-child {
    margin-top: 10px;
}
.history_row.collapsed:last-child {
    border-bottom: 2px solid #e6e6e6;
}

.smini_left {
    float: left;
    position: relative;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 11pt;
}

.smini_left:nth-child(1) {
    border-right: 1px solid #e6e6e6;
    width: 25.5%;
    font-size: 9pt;

}

.active-article-status .smini_left:nth-child(1){
    background: #D8E6D8;
}

.history-article-status .smini_left:nth-child(1){
    background: #E6DCD4;
}

.smini_left:nth-child(1) p {

}

.smini_left:nth-child(1) p:last-child {
    font-size: 11pt;
    padding-top: 0px;
    margin-top: 0px;
}
.smini_left:nth-child(2) {
    width: 49%;
    line-height: 2.4;

}
.smini_left:nth-child(3) {
    width: 24.5%;
    line-height: 2.4;

}

.collapsed_controls {
    color: #696969;
}

.active-article-status .collapsed_controls:hover {
    background: #E9F1E9;
    cursor: pointer;
    font-weight: bold;
}

.history-article-status .collapsed_controls:hover {
    background: #F2EAE7;
    cursor: pointer;
    font-weight: bold;
}

.article-view.history {
    display: none;
}




.historyId {
    width: 30px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10px;
    color: #BEB8B2;

}