.buttonSave {padding-top:15px !important;}
.langSwitcher{margin-top: 25px !important;width: 300px;}
.m-t_10{margin-top: 10px !important;}
.verticalResize{resize:vertical;}
.pointer{cursor: pointer;}
.red{color: crimson;}