@charset "utf-8";
/*---------------------------Cart Page Clases---------------------------------------*/
#table {
	margin-bottom:32px;
}
#table .head {
	margin-bottom:32px;
}
#table .head li {
	display:block;
	float:left;
	font-size:18px;
}
#table .rows .row {
	background:#f8f8f8;
	padding:20px;
	margin-bottom:1px;
}
#table .rows .row li {
	float:left;
	display:block;
}
#table .rows .row .preview {
	width:95px;
	border:1px solid #E3E3E3;
	text-align:center;
	padding:20px;
	background:#ffffff;
}
#table .rows .row .title {
	font-size:24px;
	padding:22px 0 0 20px;
	width:180px;
}
#table a {
	color:#666666;
	text-decoration:none;
}
#table a:hover {
	color:#999999;
}
#table .rows .row .price, #table .rows .row .total {
	padding-top:26px;
}
#table .rows .row .price, #table .rows .row .total {
	font-size:15px;
	color:#3F9FFF;
	padding-right:20px;
	padding-left:20px;
}
#table .rows .row .quantity {
}
#table .rows .row .quantity .top {
	width:122px;
	padding:13px 0;
	color:#999999;
	font-size:22px;
	text-align:center;
	border:1px solid #eeeeee;
	background:#eaeaea;
}
#table .rows .row .quantity .bottom {
}
#table .rows .row .quantity .bottom .less, #table .rows .row .quantity .bottom .plus {
	display:block;
	float:left;
	width:60px;
	height:18px;
	background:#999999;
	border:1px solid #c9c9c9;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
}
#table .rows .row .quantity .bottom .less {
	background:#999999 center center url(images/less.jpg) no-repeat;
}
#table .rows .row .quantity .bottom .plus {
	background:#999999 center center url(images/plus.jpg) no-repeat;
}
#table .rows .row .admin {
	color:#cc0000;
	font-size:13px;
	float:right;
	font-weight:bold;
	padding-top:28px;
	padding-right:10px;
}
#table .rows .row .admin a {
	color:#cc0000;
}
#table .rows .li2 {
	background:#f2f2f2;
}
#table .head .preview {
	padding:0 0 0 20px;
	width:157px;
}
#table .head .title {
	width:204px;
}
#table .head .price {
	width:73px;
}
#table .head .quantity {
	width:146px;
}
#total {
	text-align:right;
}
#total .label {
	font-size:22px;
	float:right;
	margin:30px 40px 20px 20px;
}
#total .value {
	font-size:24px;
	width:290px;
	height:52px;
	background:#fefefe;
	border:1px solid #e3e3e3;
	display:block;
	float:right;
	color:#3F9FFF;
	text-align:center;
	padding:26px 0 0 0;
}
#buttons {
	margin:32px 0 52px 0;
	padding:32px 0;
	border-top:1px solid #e3e3e3;
}
#buttons a {
	float:right;
	font-size:22px;
	color:#666666;
	text-decoration:none;
	padding:11px 40px 0 0;
}
#buttons a:hover {
	color:#999999;
}
#buttons #checkout {
	display:block;
	width:148px;
	height:29px;
	background:url(images/checkout.jpg) left top no-repeat;
	padding:13px 0 0 45px;
	font-weight:bold;
	font-size:14px;
}
#buttons #checkout:hover {
	color:#666666;
}
