@charset "utf-8";
/*---------------------------Categories Classes---------------------------------------*/
#content{
width:100%;
float:none;
}
ul.products li{
margin-right:54px;
}
ul.products li.last{
margin-right:0;
}
ul.products li .image{
width:270px;
height:203px;
}