@charset "utf-8";

*{margin:0px; padding:0px; border:0px;outline:none;line-height: inherit;vertical-align: baseline;background-color: transparent;}
html, body{height: 100%;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color: #f4f7fc;}
body{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;min-width: 980px;font-size:13px;line-height: 1.5; color:#333;}
@media all and (min-resolution: 120dpi){html {font-size: 50%;-webkit-text-size-adjust: 50%;-ms-text-size-adjust: 50%;}html, x:-moz-any-link {font-size: 100.01%;}}
ul, ol{list-style: none;}
table{border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;}
table th{text-align: left;}
a img{border: none;}
img{width: auto\9;height: auto;max-width: 100%;vertical-align: middle;border: 0;-ms-interpolation-mode: bicubic; }
figure{line-height: 0;font-size: 0;}
blockquote, q {quotes:  none;}
sub, sup {position: relative;font-size: 75%;line-height: 0;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

textarea, select, option, input, label, .frame-label{font-style: normal;font-size: 12px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;color: #333;}
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner{padding: 0; border: 0;}/* Firefox button bug */
input[type="radio"], input[type="checkbox"]{position: relative;top: 2px;margin-right: 5px;}
input[type="submit"]{overflow: visible;}
.frame-label, label, .pointer, .js-pointer, .arrow, .ref{cursor:pointer;}
.frame-label.disabled{cursor:default;}
label{display: block;margin-bottom: 5px;}
input{outline: none;}
button, input[type="button"], input[type="reset"], input[type="submit"]{color: #008a92; cursor: pointer;-webkit-appearance: button;overflow: visible;}
button[disabled="disabled"]{cursor: default;}
input[type="text"], input[type="password"], textarea{width: 100%;max-width: 100%;padding: 0 5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
textarea, select, input[type="text"], input[type="password"]{border: 1px solid;}
select, input[type="text"], input[type="password"]{height: 35px;  border-color: #d7d6d2; background: #fff;}
textarea{overflow: auto;display: block;}
hr{border:0;width: 100%;display: block;}
p {margin-bottom: 30px;}
.arial{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.baner{z-index: 1;}
a:hover, a:active{outline:0}
a:focus, button:focus{outline: 2px solid #f1ca7f;outline-offset:-1px;}
blockquote:before, blockquote:after, q:before, q:after {content:  none;}

/*---------------------*/
/*asdf*/.menu-main table{table-layout: auto;}
.h_f, .menu-main td > .frame-item-menu > div:after, .ie_3, .menu-main td > .frame-item-menu:hover > div > .title, .menu-main td > .frame-item-menu.active > div > .title, .special-proposition:before, .ie_10, .frame-crumbs:after, .ie_18, .ui-widget-header, .tabs.tabs-data, .fancy-cleaner .footer-fancy-cleaner:before, .frame-seo-text:after, .menu-header:after, .special-proposition .title_h1:after, .special-proposition .title_h1:before, .news:before{background: url("../images/h_f.png") repeat-x;}
.main-body{ background-color:#eeeeee; min-height: 100%;margin: 0 auto;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display: block;}
.container{margin: 0 auto;width: 925px;clear: both;}

.block_d-i > *{display: inline!important;}
.d_i{display: inline!important;}
.d_n{display: none!important;}
.d_i-b, [class*="price-"]{display: inline-block!important;}
.d_b{display: block!important;}
.f_l{float: left!important;}
.f_r{float: right!important;}
.c_b{clear: both!important;}
.o_h{overflow: hidden;}
.t-a_c{text-align: center !important;}
.t-a_r{text-align: right !important;}
.t-a_l{text-align: left !important;}
.f-w_b{font-weight: bold;}
.t-d_n{text-decoration: none;}
.t-d_u{text-decoration: underline;}
.b_n{background: none !important;}
.p_r{position: relative;}
.f-s_0, .f-s_0 .f-s_0{font-size: 0;}
.f-s_0 > *{font-size: 13px;}
.f-s_11{font-size: 11px !important;}
.f-s_12{font-size: 12px !important;}
.f-s_13{font-size: 13px !important;}
.f-s_14{font-size: 14px !important;}
.f-s_15{font-size: 15px !important;}
.f-s_16{font-size: 16px !important;}
.f-s_18{font-size: 18px !important;}
.f-s_21{font-size: 21px !important;}
.f-s_27{font-size: 27px !important;}
.f-s_30{font-size: 30px !important;}
.v-a_b{vertical-align: bottom !important;}
.v-a_bl{vertical-align: baseline !important;}
.v-a_t{vertical-align: top !important;}
.v-a_m{vertical-align: middle !important;}
.m-t_10{margin-top: 10px !important;}
.m-t_20{margin-top: 20px !important;}
.m-l_5{margin-left: 5px !important;}
.m-l_20{margin-left: 20px !important;}
.m-l_42{margin-left: 42px !important;}
.m-l_57{margin-left: 57px !important;}
.m-r_5{margin-right: 5px !important;}
.m-r_10{margin-right: 10px !important;}
.m-r_15{margin-right: 15px !important;}
.m-r_20{margin-right: 20px !important;}
.m-r_25{margin-right: 25px !important;}
.m-b_10{margin-bottom: 10px !important;}
.m-b_15{margin-bottom: 15px !important;}
.p-b_15{padding-bottom: 15px !important;}
.l-h_1-1{line-height: 1.1;}
.c_3{color: #333 !important;}
.c_6{color: #666 !important;}
.c_9{color: #999 !important;}

a.c_6:hover, .pointer.c_6:hover{color: #f57332;}
.w-s_n-w{white-space: nowrap;}
.w_815{width: 815px !important;margin: auto;}
.w_350{width: 350px !important;}

.o_5{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.clearfix:after, article:after, .nav:after, .container:after, .control-group:after{visibility: hidden;display: block;font-size: 0;content: ".";clear: both;height: 0;}
.helper{vertical-align: middle;width: 0;height: 100%;padding: 0 !important;border: 0 !important;display: inline-block;}
.helper + *{vertical-align: middle;display: inline-block;word-break: break-word;}

.active > span, nav li > span, nav .active, nav .active button, .c_d{cursor: default;}
a [class*="icon"], nav a span{cursor: pointer;}
.photo-block{font-size: 0;text-align: center;display: inline-block;}
.photo-block .helper{height: 100% !important;}
.nav{font-size: 0;}
nav a{text-decoration: none;}
.t-a_j{text-align: justify !important;font-size: 1px;}
.t-a_j > *{display: inline-block !important;vertical-align: middle;font-size: 12px;float: none !important;}
.t-a_j:after, .ie_1{content: "1";margin-left: 100%;height: 1px;visibility: hidden;display: inline-block;}

.m-w_1090{max-width: 1090px;margin: auto;}
.w_100{width: 100% !important;}
.w_180{width: 100% !important;}

/*-----DROP-CONTENT-----*/
.nav > li{float: left;}
.nav > li > a, .nav > li > span{padding: 0 18px;display: inline-block;font-size: 13px;}
.nav > li > .pointer{font-size: 0;}
.nav > li > .pointer > span{font-size: 13px;}
.control-span-top {margin-top:5px; cursor: pointer;}
#prev_slide, #next_slide, .pager a, .menu-main td > .has-arrow > div > .title > .title-text:before,[class*="icon"],.ie_22, .prev, .next, .niceCheck, .ui-slider-handle, .tooltip-slider:after, .prod_status, .delivery-payment_product > li li:before, .ie_17, .text ul li:before, #fancybox-close, .fancy-ico, .ie_2, .ie_17, .frame-item-menu > ul > li > a.is-sub:after, .ie_21, .niceRadio, .text-comment:before{display: inline-block;font-size: 0;line-height: 0;position: relative;background: url("../images/sprite.png") no-repeat;}
.icon-times-apply, #fancybox-close, .icon-times-drop{width: 10px;height: 10px;position: absolute;right: -10px;top: 10px;background-position: -400px 0;cursor: pointer;}
.icon-enter{width: 16px;height: 15px;background-position: 0 0;margin-right: 7px;top: 2px;}
.icon-reg{width: 15px;height: 15px;background-position: -20px 0;margin-right: 7px;top: 1px;}
.icon-exit {background-position: -20px -20px; width: 13px; height: 17px; margin: 0 4px -4px -5px;}
.icon-rss {width:18px; height:19px; background-position: 0 -20px; margin-right:10px; margin-left: -7px; top:3px;}
.icon-bask{width: 15px;height: 13px;background-position: -40px 0;top: 1px;margin-right: 5px;}
.menu-header{color: #fff;font-weight:bold;position: relative; background: #272b32; /* Old browsers */
             background: -moz-linear-gradient(top,  #272b32 0%, #1b1f25 100%); /* FF3.6+ */
             background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#272b32), color-stop(100%,#1b1f25)); /* Chrome,Safari4+ */
             background: -webkit-linear-gradient(top,  #272b32 0%,#1b1f25 100%); /* Chrome10+,Safari5.1+ */
             background: -o-linear-gradient(top,  #272b32 0%,#1b1f25 100%); /* Opera 11.10+ */
             background: -ms-linear-gradient(top,  #272b32 0%,#1b1f25 100%); /* IE10+ */
             background: linear-gradient(to bottom,  #272b32 0%,#1b1f25 100%); /* W3C */
             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272b32', endColorstr='#1b1f25',GradientType=0 ); /* IE6-9 */
}
.user-name-text {color:#5a606e !important; font-weight:normal !important;}
.btn-enter > .user-but {cursor: default;}
.btn-enter > *, .cusel, .cuselFrameRight, .apply, .apply > div, .cusel, .cuselFrameRight{background: url("../images/h_f.png") repeat-x;}
.btn, .btn > *{background: url("../images/buttons.png") no-repeat;}
.btn > *{display: block;}
.btn:hover > a{color: #2abec7;}

.btn-enter > *{padding: 0 18px;font-size: 12px;}
.btn-enter:hover{background-position: 0 -2730px;}
.btn-enter:hover > *{background-position: 100% -28px;}
.btn-enter:active{background-position: 0 -2790px;}
.btn-enter:active > *{background-position: 100% -2819px;}
.menu-header .container{position: relative;z-index: 1;}
.menu-header .f_l > .nav{border-width: 0 1px;border-style: solid;border-left-color: #0e1116; border-right-color: #434b59;}
.nav-enter-reg, .nav-user-profile{margin-top: 5px; padding: 1px 1px 0 1px;}
.nav-enter-reg{margin-top: 0;}
.nav-enter-reg .or{margin: 0;visibility: hidden;}
.nav-enter-reg .or > span{font-size: 5px !important;}
.nav-enter-reg > li > * span, .nav-enter-reg > li > * a, .nav-user-profile > li > * span, .nav-user-profile > li > * a{padding: 0;color: #fff; font-weight:bold;}
ul.nav-enter-reg > li > *, ul.nav-user-profile > li > *{box-shadow: 0px 2px 7px #20252c; -moz-box-shadow: 0px 2px 7px #20252c; -webkit-box-shadow: 0px 2px 7px #20252c; padding-top: 4px;padding-bottom: 4px;}
.nav-enter-reg > li > .reg-but, .nav-user-profile > li > .user-but  {border-right:1px solid #101317; border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px 0 0 3px;}
.nav-enter-reg > li > .enter-but, .nav-user-profile > li > .exit-but {border-left:1px solid #353c47; border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0 3px 3px 0;}

.menu-header .f_l > .nav > li > a, .menu-header .f_l > .nav > li > span{border-width: 0 1px;border-style: solid;border-right-color: #0e1116; border-left-color: #434b59;padding: 11px 18px;}
.button-location {margin-top: 5px;font-size: 0;box-shadow: inset 0px 1px 4px #0b0d12; background-color: #16191f; border-bottom:1px solid #2e353e; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.content-header{padding-top: 21px;}
.logo{width: 355px;height: 39px;overflow: hidden;margin-left: 10px;margin-top: 17px;}
.phones-header{color: #333333;font-size: 18px;}
.phones-header .f-w_b{font-weight: bold !important;}
.fon-header{position: relative;z-index: 2; padding-bottom: 1px; }
header{padding-bottom: 20px;position: relative;z-index: 3;}
.phones-info {font-size: 13px; color: #999999; margin: 0 !important;}
.phones-header{padding: 4px 0 8px; margin:0 43px 0 0;}
.phones-header-last {margin: 0 10px 0 0;}
.menu-header .f_l .nav > li{padding: 0 0;}

.menu-main{
    border-bottom: 1px solid #b2b2b2; border-radius: 5px; position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0px 1px 2px #cccaca;
    -moz-box-shadow: 0px 1px 2px #cccaca;
    -webkit-box-shadow: 0px 1px 2px #cccaca;   
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}
.frame-menu-main{position: relative;z-index: 2;background-position: 0 0;padding-bottom: 25px;}
.frame-menu-main:after, .ie_9{content: "";position: absolute;bottom: -6px;height: 8px;width: 100%;background-position: 0 -17px;}
.menu-main td{border-right: 1px solid #cbcbcb; border-left:1px solid #fcfcfc; vertical-align: middle; text-align:center;}
.menu-main td > .frame-item-menu{height: 100%; }

.menu-main td > .has-arrow > div > .title > .title-text {position:relative; }
.menu-main td > .has-arrow > div > .title > .title-text:before,.ie_22 {position:absolute;content: "";width:8px; height:6px; background-position: -40px 0;top: 50%;margin-top: -3px;right: -11px;}

.menu-main td:first-child { border-left:none; }
.menu-main td:last-child {border-right:none;} 
.menu-main td:first-child > .frame-item-menu:hover > div > .title {border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; -moz-border-radius:5px 0 0 5px;}
.menu-main td:last-child > .frame-item-menu:hover > div > .title {border-radius:0 5px 5px 0; -webkit-border-radius:0 5px 5px 0; -moz-border-radius:0 5px 5px 0;}
.menu-main td > .frame-item-menu > div > .title{height: 47px;background-color:transparent;overflow: hidden;color: #008991;text-shadow: 0 1px #fff; -webkit-text-shadow: 0 1px #fff; -moz-text-shadow: 0 1px #fff; width: 100%;display: block;}
.menu-main td:first-child > .frame-item-menu > div > .title:before, .menu-main td:first-child > .frame-item-menu > div > .title .ie_6{display: none;}

.menu-main td > .frame-item-menu:hover > div > .title{background: #efefef; /* Old browsers */
                                                      background: -moz-linear-gradient(top,  #efefef 0%, #d6d6d6 100%); /* FF3.6+ */
                                                      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
                                                      background: -webkit-linear-gradient(top,  #efefef 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
                                                      background: -o-linear-gradient(top,  #efefef 0%,#d6d6d6 100%); /* Opera 11.10+ */
                                                      background: -ms-linear-gradient(top,  #efefef 0%,#d6d6d6 100%); /* IE10+ */
                                                      background: linear-gradient(to bottom,  #efefef 0%,#d6d6d6 100%); /* W3C */
                                                      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
}
.menu-main td > .frame-item-menu.active > div > .title{filter:none; background-color: #1b969e; text-shadow:none; cursor:default; color:#fff; background-image: none; box-shadow: inset 0px 2px 5px #126c71; -moz-box-shadow: inset 0px 2px 5px #126c71; -webkit-box-shadow: inset 0px 2px 5px #126c71;}
.menu-main td > .frame-item-menu:hover > div > .title:before{display: none;}
.hover.menu-main td > .frame-item-menu:hover > div > .title{}
.menu-main td > .frame-item-menu > div:after, .ie_3{width: 2px;content: "";position: absolute;left: 0;top: 0;background-position: 0 -72px;height: 100%;}
.menu-main td:first-child > .frame-item-menu > div:after, .menu-main td:first-child > .frame-item-menu > div .ie_3{display: none;}
.not-js.menu-main td:hover > .frame-item-menu > ul, .menu-main.not-js td:hover > .frame-item-menu > div:before, .menu-main.hover td > .frame-item-menu:hover > div:before{display: block;}
.frame-item-menu > ul{background-color: #f6f6f6;border:1px solid #d3d3d3; width: 229px;font-size: 0;max-width: 100%;display: none;position: absolute;z-index: 1;text-align: left;}
.frame-item-menu > ul > li:last-child{}
.menu-main td > .frame-item-menu > .right-drop{}
.menu-main td > .frame-item-menu > .right-drop > li:last-child{}
.menu-main .title-text{font-size: 14px;font-weight: bold;}
.frame-item-menu > ul > li{width:188px; padding: 0 26px 5px 15px;border-top: 1px solid #d8d8d8;border-bottom: 1px solid transparent;}
.frame-item-menu > ul > li > a.is-sub:after, .ie_21{width: 6px;height: 10px;position: absolute;background-position: -640px -80px;right: -8px;position: absolute;content: "";top: 50%;margin-top: -5px;}
.frame-item-menu > ul > li:hover > a.is-sub:after, .frame-item-menu > ul > li:hover > a.is-sub .ie_21{background-position: -660px -80px;}
.frame-item-menu > ul:hover > li{}
.frame-item-menu > ul > li:hover{background: none; background: #ececec; /* Old browsers */
                                 background: -moz-linear-gradient(top,  #ececec 0%, #ececec 100%); /* FF3.6+ */
                                 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
                                 background: -webkit-linear-gradient(top,  #ececec 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
                                 background: -o-linear-gradient(top,  #ececec 0%,#ececec 100%); /* Opera 11.10+ */
                                 background: -ms-linear-gradient(top,  #ececec 0%,#ececec 100%); /* IE10+ */
                                 background: linear-gradient(to bottom,  #ececec 0%,#ececec 100%); /* W3C */
                                 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
}
.frame-item-menu > ul > li:first-child{border-top: 0;}
.frame-item-menu > ul > li:hover > a{}
.frame-item-menu > ul > li:hover > a > span{color: #2abec7; text-decoration: underline;}
.frame-item-menu > ul > li > a{color: #333;text-decoration: none;font-size: 0;position: relative;display: block; width:100%;}
.frame-item-menu > ul > li > a > .helper{height: 7px;}
.frame-item-menu > ul > li > a > span{font-size: 13px; color: #333333; width: 100%;}
.frame-item-menu > ul{display: none;top: 100%;margin-top: -1px;}
.menu-main td > .frame-item-menu > div > .title > span{display: inline-block;}
.menu-main td > .frame-item-menu.active > div > .title > span{display: inline-block; cursor: default; }
.menu-main td > .frame-item-menu:hover > div{border-color: transparent;}

.frame-item-menu > ul > li > div{display: none;position: absolute;left: 228px;background-color: #f8fbff;margin-left: 1px;top:-1px;min-height: 100%;width: 226px;border: 1px solid #d3d3d3; background-color: #f3f3f3;z-index: -1;}
.frame-item-menu > ul > li:hover > div{display: block;}
.frame-item-menu > ul > li > div > ul{padding-bottom: 5px;padding-left: 33px;}
.frame-item-menu > ul > li > div > ul > li{}
.frame-item-menu > ul > li > div > ul > li{margin-bottom: 10px; margin-top: 10px;}
.frame-item-menu > ul > li > div > ul > li > a{color: #333333; text-decoration: none; line-height: 1;font-size: 13px;}
.frame-item-menu > ul > li > div > ul > li > a.t-d_n{color: #3d84ba;}
.frame-item-menu > ul > li > div > ul > li > a:hover{color: #2abec7; text-decoration: none;}
.frame-item-menu > ul > li > div > ul > li > .title{color: #739cda;font-size: 13px;font-weight: bold;padding: 12px 0 5px;}
.frame-item-menu > .right-drop{}
.frame-item-menu > .right-drop:hover > li{}
.frame-item-menu > .right-drop > li:hover{}
.frame-item-menu > .right-drop > li > div{left: auto !important;right: 100%;margin-right: 1px;}
.frame-item-menu > .right-drop > li{padding: 0 15px 0 26px;}
.frame-item-menu > .right-drop > li > a{text-align: right;}
.frame-item-menu > .right-drop > li > a.is-sub:after, .frame-item-menu > .right-drop > li > a.is-sub .ie_21{right: auto;left: -8px;background-position: -654px -80px;}
.frame-item-menu > .right-drop > li:hover > a.is-sub:after, .frame-item-menu > .right-drop > li:hover > a.is-sub .ie_21{background-position: -675px -80px;}
.frame-item-menu > .right-drop ul{text-align: left;}
.menu-header .f_l > .nav > li > a{color: #fff; font-weight:bold;}
.content-cleaner-search{}
.contain-cycle{padding-bottom: 23px;position: relative;z-index: 1;}
.cycle{position: relative;width: 922px;height: 287px;}
.cycle ul{overflow: hidden;position: relative;z-index: 1;}
.cycle li{float: left !important;width: 959px;height: 287px;}
.pager{text-align: center;display: inline-block;z-index: 2;top: -31px; position: absolute; width: 100%; top:100%; margin-top:-36px;}
#next_slide, #prev_slide {width: 43px; height:40px; position: absolute; cursor:pointer; top:50%; z-index: 3; margin-top: -20px;}
#prev_slide {left: 0; background-position: -60px 0; margin-left:13px;}
#prev_slide:hover {background-position: -60px -60px;}
#next_slide {right: 0; background-position: -120px 0px; margin-right:9px;}
#next_slide:hover {background-position: -120px -60px;}
.pager a{display: inline-block;width: 15px;height: 15px;margin: 0 5px;background-position: -180px -20px;}
.pager a.activeSlide{background-position:-180px 0px;}
.slider-info h1 {margin: 0;}
.slider-info p {font-size: 14px;}
.frame-news-catalog{ background-color: #f3f3f3; border-top:1px solid #dfdfdf;}
.frame-catalog{padding: 34px 0 22px;position: relative;}
.frame-news{margin-left: -122px;}
.frame-news > li {width: 227px;vertical-align: top;margin-left: 122px;}
.news-item-img h3 {color:#333333;}
.news-item-img {margin-bottom: 12px;}
.fon-noise h3, .frame-catalog h3 {margin-bottom:5px;}
.frame-catalog .photo-block{background-color: transparent;}
.frame-catalog .photo-block > .helper, .frame-catalog .photo-block > .helper + span{vertical-align: top;}
.frame-news-item p{line-height: 1.3;}
.fon-noise {border-top:1px solid #dfdfdf;padding: 40px 0 50px;}
.company-news-but {margin-top:20px;}
.about-company, .blog-news {padding: 0; width:665px;}
.btn-link-ref { background-position: 0 0;margin-right: 5px; }
.btn-link-ref  a, .btn-drop input[type="submit"] {padding: 0 25px;}
.btn-link-ref > *, .btn-drop > *{background-position: 100% -35px; height:35px;line-height: 34px;margin-right: -5px;font-size: 14px; }
.date {color:#999999;}
.wrap-company-news { width:230px; }
.company-news {border:1px solid #d3d3d3; margin-bottom: 12px; box-shadow: 0px 1px 0px #dadada; -moz-box-shadow: 0px 1px 0px #dadada; -webkit-box-shadow: 0px 1px 0px #dadada;}
.company-news ul li {border-bottom:1px solid #d3d3d3; padding: 12px 15px;}
.company-news ul li:last-child {border: none;}
.company-news p {margin-bottom:4px;}
.company-news h3 { padding: 7px 15px; margin: 0; border-bottom:1px solid #d3d3d3;
                   background: #fdfdfd; /* Old browsers */
                   background: -moz-linear-gradient(top,  #fdfdfd 0%, #e5e5e5 100%); /* FF3.6+ */
                   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
                   background: -webkit-linear-gradient(top,  #fdfdfd 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
                   background: -o-linear-gradient(top,  #fdfdfd 0%,#e5e5e5 100%); /* Opera 11.10+ */
                   background: -ms-linear-gradient(top,  #fdfdfd 0%,#e5e5e5 100%); /* IE10+ */
                   background: linear-gradient(to bottom,  #fdfdfd 0%,#e5e5e5 100%); /* W3C */
                   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
.h-footer{height: 118px;}
footer{background-color: #f3f3f3; height:118px; margin: -118px auto 0;position: relative; border-top: 1px solid #dfdfdf;}
footer p {margin:0;}
footer .container{padding-top: 37px;}
footer .box-1 {}
.box-1  ul > li{margin-bottom: -2px; float: left; border-left:1px solid #999999; padding: 0 18px; line-height: 13px;}
.box-1  ul > li:first-child {border-left:none;}
.box-1  ul > li > a {color:#008991;}
.box-1  ul > li > a:hover {color:#2abec7}
/*-----NEWS---------*/
.frame-inside {margin-bottom: 75px;}
.frame-company p {color:#5f5f5f;}
.frame-company ul {list-style-type: square; width:415px; padding:0 10px 0 30px;}
.frame-company ul  li {margin-bottom: 8px; color:#5f5f5f;}
.frame-company img {margin-top: 10px;} 
/*-----JOBS---------*/
.frame-comments, .frame-form-comment{width: 70%;}
.frame-side-menu ul > li {padding: 0;}
.frame-side-menu ul > li > a {text-decoration: none; color:#333333; cursor:pointer;}
.frame-side-menu ul > li > a , .frame-side-menu ul > li > span {padding: 8px 15px; display: block;}
.frame-side-menu ul > li > a:hover {color:#2abec7; text-decoration:underline; }
.frame-side-menu ul > li.active span {color:#fff; background-color:#1b969e; cursor: default; box-shadow: inset 0px 2px 5px #126c71; -moz-box-shadow: inset 0px 2px 5px #126c71;-webkit-box-shadow: inset 0px 2px 5px #126c71;}
.frame-comments ul {width:auto; padding-left:30px; padding-right:0;}
.frame-comments ul li {color:#333333;;}
.frame-comments h3 {margin-bottom: 15px;}
.bottom-description {margin-top: 30px; width: 670px;}
.bottom-description img {float:left; }
.bottom-description-text {width:410px; float:right;}
.bottom-description-text p {margin-bottom: 15px;}
.wrap-frame-top {margin-bottom: 40px;}
/*------REGISTRATION--------*/
.vertical-form .control-label{margin-bottom: 2px;}
.vertical-form .control-group{margin: 17px 0 15px;}
.vertical-form .control-group:first-child{margin-top: 0;}
.frame-tabs-ref > div{clear: both;border: 1px solid #d7d6d2;padding:20px 0 10px;background-color: #f3f3f3;}
.horizontal-form .control-label{float: left;width: 80px;padding: 7px 3px 0 2px;}
.horizontal-form .controls{margin-left: 85px;position: relative;}
.horizontal-form .control-group{margin-bottom: 13px;}
.controls{display: block;position: relative;}
.control-label a{font-weight: normal;}
.left-personal .control-label{width: 80px;padding: 7px 3px 0 2px;}
.left-personal .controls{position: relative; width: 245px;}
.left-personal .control-group{ margin-bottom: 20px; float: left; margin-right: 30px; margin-left: 25px;margin-top:0;}
.left-personal{width: 660px;float: left;}
.control-group .btn-link-ref, .drop-content .btn-drop {margin-top: 5px; margin-right:15px;}
.helper-group  {margin: 10px 0 0 0;}
.helper-group ul li {display: inline-block; margin-right: 20px;}
.btn-link-ref:hover {background-position:0 -75px;}
.btn-link-ref:hover > * { background-position: 100% -110px; }  
.btn-link-ref:active{background-position:0 -156px;}
.btn-link-ref:active > * {background-position:100% -191px;}
/*--------FANCY-BOX--------*/
.right-personal{width: 260px;float: right;}
.frame-thumbail{margin-left: -112px; margin-bottom: 20px; margin-top: 10px;}
.frame-thumbail > li{margin-left: 112px; color:#999999; width:231px; vertical-align: top;}
.frame-thumbail > li .photo-block{display: block;width: 231px;height: 208px; text-align: center;}
.left-personal .characteristic{width: 100% !important;}
.frame-complect ul{width: 20000px;}
.frame-complect li{width: 815px !important;}
.frame-complect .title_h1{color: #a5d23e;}
.photo-block{position: relative;font-size: 0;}
.photo-block img{max-height: 100%;}
.photo-block a{display: block;}
.photo-number {color:#333333;}
#fancybox-loading{position:fixed;top:50%;left:50%;width:40px;height:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;z-index:1104;display:none}
#fancybox-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background-image:url("../images/fancy_loading.png")}
#fancybox-overlay{position:absolute;top:0;left:0;width:100%;z-index:1100;display:none}
#fancybox-tmp{border:0;overflow:auto;display:none;margin:0;padding:0}
#fancybox-wrap{position:absolute;top:0;left:0;z-index:1101;outline:none;display:none;padding:20px;}
#fancybox-hide-sel-frame{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;z-index:1101}
#fancybox-error{color:#444;font:normal 12px/20px Arial;margin:0;padding:14px}
#fancybox-img{width:100%;height:100%;border:none;outline:none;line-height:0;vertical-align:top;margin:0;padding:0}
#fancybox-frame{width:100%;height:100%;border:none;display:block}
#fancybox-left,#fancybox-right{position:absolute;bottom:0;height:100%;width:50px;cursor:pointer;outline:none;z-index:1102; background-color: #050505; opacity: .3;}
#fancybox-left:hover ,#fancybox-right:hover {opacity: 1;}
#fancybox-left{left:-50px;}
#fancybox-right{right:-50px;}
#fancybox-left:hover,#fancybox-right:hover{visibility:visible}
#fancybox-outer{position:relative;width:100%;height:100%;}
#fancybox-content{width:0;height:0;outline:none;position:relative;overflow:hidden;z-index:1102;padding:0;border:0 solid #fff;-moz-box-shadow: 0 2px 13px #333;-webkit-box-shadow: 0 2px 13px #333;box-shadow: 0 2px 13px #333;}
#fancybox-close{right: 17px;top: 8px;z-index: 1103; width:17px; height:17px; background-position: -40px -40px;}
#fancybox-left-ico,#fancybox-right-ico{position:absolute;top:50%;cursor:pointer;z-index:1102;}
#fancybox-left-ico, #fancybox-right-ico{width: 22px;height: 48px;margin-top: -24px;}
#fancybox-left-ico{background-position: 0 -100px; margin-left: 13px}
#fancybox-right-ico{background-position: 0 -40px; margin-left: 15px;}
#fancybox-left-ico:active{background-position: -580px -140px;}
#fancybox-right-ico:active{background-position: -620px -140px;}

[class*="btn"], [class*="btn"] > *{text-decoration: none;cursor: pointer;}
[class*="btn"]{display: inline-block;vertical-align: middle;}
.btn{position: relative;}

.drop{display: none;position: absolute;top: 100%;left: 0;z-index: 100;}
a, .ref{color: #008a92;cursor: pointer;text-decoration: underline;}
a:hover, .ref:hover, .nav-enter-reg > li > button:hover > span, .btn-drop input[type="submit"]:hover, .btn-cleaner:hover .text_el{color: #2abec7;}
textarea, select, input[type="text"], input[type="password"]{background-color: #fff;color: #3d3d3d;}
.title_h1, h1{font-size: 24px;font-weight: normal;}
.title_h2, h2{font-size: 21px;font-weight: normal;}
.title_h3, h3{font-size: 18px;font-weight: normal;}
.title_h4, h4{font-size: 14px;font-weight: normal;margin-bottom: 5px}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus{border-color: #ff8a00;-moz-box-shadow: 0 0 5px #ff8a00;-webkit-box-shadow: 0 0 5px #ff8a00;box-shadow: 0 0 5px #ff8a00;}
.enter{background-color: transparent;-moz-border-radius: 3px 3px 0 0;-webkit-border-radius: 3px 3px 0 0;border-radius: 3px 3px 0 0;position: relative;z-index: 1;}
.enter.active, .enter:hover, .enter:focus{background-color: #0080c1;color: #fff;-moz-box-shadow: 0 1px 10px rgba(91, 91, 91, 0.75);-webkti-box-shadow: 0 1px 10px rgba(91, 91, 91, 0.75);box-shadow: 0 1px 10px rgba(91, 91, 91, 0.75);}
.drop-content-inside{padding: 39px 30px 1px;position: relative;}
.drop-popup .header-title{font-size: 18px;margin-bottom: 16px;margin-left: 115px;top: 31px;position: relative;line-height: 0;}
.drop-popup  .control-group {margin-top: 10px;}
.drop-popup, .drop-popup > .drop-content, .drop-popup > .drop-footer, .items-catalog > li > a > .photo-block:before, .sliderCont{background: url('../images/popup.png') no-repeat;}
.drop-popup{padding-top: 17px;background-position: 0 0;width: 463px;}
.drop-popup .drop-content{background-position: -462px 0;background-repeat: repeat-y;}
.drop-popup .drop-footer{height: 26px;background-position: -924px 0;}
.drop-popup.drop-register{margin-left: 29px;}
.drop-popup.drop-enter{margin-left: 51px;}
.drop-popup.drop-order-call{margin-left: 19px;}
.drop-report{background-position: -1574px 0;padding-top: 24px;margin-top: -18px;margin-left: 30px;}
.drop-report .drop-content-inside{padding-top: 20px;}
.drop-report .header-title{top: 15px;}
.drop-report .icon-times-drop{top: 32px;right: 38px;}
.drop-report .drop-content{background-position: -2037px 0;}
.drop-report .drop-footer{background-position: -2500px 0;height: 32px;}