<ul>
	<li><a href="#" onClick="return false;">Товары</a>
		<ul>
			<li><a href="#" onClick="ajaxShop('products/create'); return false;">Создать</a></li>
			<li><a href="#" onClick="ajaxShop('properties/index'); return false;">Свойства товаров</a></li>
		</ul>
	</li>
	<li><a href="#" onClick="return false;">Категории</a>
		<ul>
			<li><a href="#" onClick="ajaxShop('categories/create'); return false;">Создать</a></li>
			<li><a href="#" onClick="ajaxShop('categories/c_list'); return false;">Редактировать</a></li>
		</ul>
	</li>
	<li><a href="#" onClick="return false;">Бренды</a>
		<ul>
			<li><a href="#" onClick="ajaxShop('brands/create'); return false;">Создать</a></li>
			<li><a href="#" onClick="ajaxShop('brands/c_list'); return false;">Редактировать</a></li>
		</ul>
	</li>
</ul>
