/* Перемещаемая зона под указалелем линзы */
#wrap{text-align: center;}
.cloud-zoom img{display: inline-block !important;}
.cloud-zoom-lens {background: url("../images/zoom.png") no-repeat;background-position: 50% 50% !important;background-color:#fff;outline: 1px solid #969696;cursor:move;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
.cloud-zoom-title {position:absolute !important;background-color:#000;color:#fff;padding:3px;width:100%;text-align:center;top:0px;}
.cloud-zoom-big {width: 100% !important;height: 360px !important;border:4px solid #eee;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;overflow:hidden;position: absolute;left: 0;top: 0;background-repeat: no-repeat;background-color: #fff;}
.cloud-zoom-loading {color:white;background:#222;padding:3px;border:1px solid #000;}
#xBlock{position: relative;}

.item_tovar #wrap{overflow: hidden;width: 100%;margin-bottom: 30px;}
.mousetrap{display: inline-block;}
.item_tovar #wrap .photo{display: inline-block !important;width: 100%;padding: 0;max-width: 100%;margin: 0;height: 340px;}
.popup_product .item_tovar .frame_thumbs{height: 175px;}
.popup_product .variantProd .title{display: block;}

.popup_product .icon-infoM{width: 16px;height: 16px;margin-right: 5px;background: url("../images/info.png") no-repeat;top: 4px;}
.popup_product .drop_down{width: 587px;}
.popup_product .frame_tabs{overflow: hidden; position: relative;}
.popup_product #info.hideAfter:after {
    content: ""; position: absolute; display: block; left:0; bottom:0px; right:0;height:40px;
    background: #fff;
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(80%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
    background: linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
}
.popup_product .icon-wish_2 + span, .popup_product .icon-comprasion_2 + span {border-bottom: 1px dotted #3a88cc; font-size: 12px;} 
.popup_product .icon-wish_2 + span:hover, .popup_product .icon-comprasion_2 + span:hover {color: #cc0000; border-bottom: 1px dotted #cc0000;}
.popup_product{padding: 20px;display: none;}
.popup_product .add_func_btn button{padding: 5px 5px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;}
.popup_product .frame_tabs{border: 0;padding: 0;max-width: 100%;}
.popup_product .frame_tabs > div, .cloned .frame_tabs > div, .cloned.frame_tabs > div{display: block;}
.popup_product .item_tovar{padding-bottom: 0;margin-bottom: 0;}
.wish_list_in_popup .d_l_b, .wish_list_in_popup .d_l_b{border-bottom-color: transparent;text-decoration: underline;}
.popup_product #info, .cloned.frame_tabs #characteristic{overflow: hidden;padding-top: 25px;}

.product_slider_PN{width: 28px !important;}
.product_slider_PN#fancybox-left{left: -35px;}
.product_slider_PN#fancybox-right{right: -35px;}
.product_slider_PN#fancybox-left span{left: 0;}
.product_slider_PN#fancybox-right span{right: 0;left: auto;}