 body {padding-top: 67px; }
 @media screen and (max-width: 768px) {
  .row-offcanvas {position: relative; -webkit-transition: all 0.25s ease-out; -moz-transition: all 0.25s ease-out; transition: all 0.25s ease-out; }
.row-offcanvas-right .sidebar-offcanvas {right: -50%; /* 6 columns */ }
.row-offcanvas-left
.sidebar-offcanvas {left: -50%; /* 6 columns */ }
.row-offcanvas-right.active {right: 50%; /* 6 columns */ }
.row-offcanvas-left.active {left: 50%; /* 6 columns */ }
.sidebar-offcanvas {position: absolute; top: 0; width: 50%; /* 6 columns */ }
}
.bs-callout-danger {background-color: #fcf2f2; border-color: #dFb5b4; }