.white, .white a {color: #fff; }
.custom_form_table tr td {padding: 7px; }
.custom_form_table {width: 350px; }

.navbar-inverse{background: #223340;-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
.navbar-inverse .navbar-nav > li > a{font-size: 11px;color: #d9e8f1!important;text-transform: uppercase;position: relative;padding: 25px 21px 21px 21px;}
.navbar-inverse .navbar-nav > li{border-right: 1px solid #324a5c;}
.navbar-inverse .navbar-nav > li:first-child{border-left: 1px solid #324a5c;}
.navbar-inverse .navbar-nav>.active>a{background-color: #293e4d;}
.navbar-inverse .navbar-nav>.active>a:before{content: ""; position: absolute;width:  100%; height: 3px; background: #3e92d5; top: 0px; left: -1px;padding: 0 1px;-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{text-shadow: none;}
.navbar-inverse .navbar-brand{padding: 16px 40px;}
.sprite, .search-form-user .search-btn{background: url('../images/sprite.png') no-repeat;}
.search-form-user{margin-right: 18px;position: relative;margin-bottom: 22px;}
.search-form-user .search-btn{
   position: absolute;background-position: 0 -160px!important;width: 13px;height: 13px;border: none;top: 9px;right: 10px;
   -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;
}
.search-form-user input[type="text"]{border: 1px solid #b7c7cc;-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;height: 32px;font-style: italic;font-size: 14px;}
#sidebar{margin-top: 0!important;border-right: 1px solid #d3dfe3;padding-top: 17px;}
.main-content{border-left: 1px solid #d3dfe3;margin-left: -1px;}
.tree_menu > .title{font-size: 16px;font-weight: bold;color: #333;margin-bottom: 10px;}

.crumbs-custome{font-size: 14px;color: #000;border-bottom: 1px solid #d3dfe3;padding:  18px 30px 16px 40px;}
.custome-cat{padding-left: 24px;}
.custome-cat h1{font-size: 27px;line-height: 1.2;padding:  0 15px 11px;}
.custome-cat > div{display: inline-block;vertical-align: top;float: none;margin-bottom: 28px;}
.f-s_0{font-size: 0;}
p {color: #333;font-size: 14px;line-height: 20px;}
.custome-cat > div a{font-size: 14px;font-weight: bold;text-decoration: underline;display: inline-block;margin-bottom: 5px;}
.custome-cat > div p{}

.down-info-p{background: #424d5b;padding: 40px 0 25px;}
.down-info-p
[class*="info-box"]{}
[class*="info-box"] > .title{font-size: 16px;font-weight: bold;color: #fff;margin-bottom: 13px;}
[class*="info-box"] > .title a{color: #69bcff;}
.icon-blog, .icon-forum, .icon-linked{width: 32px;height: 32px;vertical-align: middle;margin-right: 10px;top: -2px;}
.icon-blog{background-position: -100px -40px;}
.icon-forum{background-position: -140px -40px;}
.icon-linked{background-position: -180px -40px;}

.info-box1{width: 305px;margin-right: 80px;}
.info-box2{width: 235px;margin-right: 50px;}
.info-box3{width: 310px;}
.down-info-p ul{}
.down-info-p ul li{margin-bottom: 23px;}
.down-info-p ul li .date{font-size: 11px;text-transform: uppercase;color: #acbfdb;line-height: 1.2;margin-bottom: 1px;}
.down-info-p ul li .short-info{font-size: 15px;line-height: 1.2;color: #fff;}

html, body{height: 100%;}
.main-body{min-height: 100%; margin: 0 auto; position: relative;}
.h_footer{height: 660px;}
footer{min-height:660px;; margin: -660px auto 0;position: relative;z-index: 1;color: #FFF;background-color: #37414d;}

footer ul{list-style-type: none;}
.content-footer{border-bottom:1px solid #495564;height: 180px;padding-top: 49px;}
.content-footer [class*="foot-box"]{float: left;}
.content-footer [class*="foot-box"] .title{font-size: 16px;font-weight: bold;color: #acbfdb;margin-bottom: 3px;}

.foot-box1{width: 160px;margin-right: 15px;}
.foot-box2{width: 150px;margin-right: 10px;}
.foot-box3{width: 175px;margin-right: 15px;}
.foot-box4{width: 265px;margin-right: 15px;}
.foot-box5{width: 160px;}
.content-footer ul{}
.content-footer ul li{}
.content-footer ul li{font-size: 15px;color: #fff;font-weight: normal;margin-bottom: 3px;}
.content-footer ul li a{text-decoration: none;color: #fff;}

.icon-skype-foot{width: 15px;height: 15px;background-position: -120px 0;top: 2px;margin-right: 5px;}
.icon-icq-foot{width: 16px;height: 16px;background-position: -120px -20px;top: 2px;margin-right: 5px;}

.footer-footer{color: #FFF;padding-top: 26px;}
.footer-footer > div{}
.footer-footer > *{vertical-align: top;font-size: 16px;}
.copy-right{}
.copy-right > div:first-child{}
.all-rights, .cms-foot-vote{color: #667280;}
.stars-foot{position: relative;top: -3px;margin-left: 5px;}

.footer-footer ul{position: relative;top: 6px;}
.footer-footer ul li{display: inline-block;vertical-align: top;margin-left: 6px;}
.footer-footer ul li a{}
[class*="icon-fsoc"]{width: 44px;height: 40px;}
.icon-fsoc-vk{background-position: 0 -250px;}
.icon-fsoc-fsb{background-position: -50px -250px;}
.icon-fsoc-gplus{background-position: -100px -250px;}
.icon-fsoc-youtube{background-position: -150px -250px;}
.icon-fsoc-in{background-position: -200px -250px;}
.icon-fsoc-tweet{background-position: -250px -250px;}

