<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>

	<div class="all">
    	
        <div class="topmenu">
            <ul>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Галерея</a></li>
                <li><a href="#" id="mainactive">Блог</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Главная</a></li>
            </ul>
        </div><!-- topmenu END -->
    	<div class="clear"></div>
        
    	<!-- ROUND AREA BEGIN -->
        
		<div class="mbody">
        	<div class="mbody_top">
        		<div class="top_left_corner">
        			<div class="top_rigt_corner">
						
                        <div class="center">
                        
                            <div class="logo">
                                      <a href="#"><img src="images/logo.gif" /></a>        
                            </div><!-- logo END -->
                            
                            <div class="top_image"></div>
                                           
                            <div class="content">
                            
                                                
                                <div class="left">
                                	<div class="sidebare">
                                    
                                       <h2>Категории</h2> 
                                       
                                       <ul>
                                       		<li><a href="#">Раскрутка в сети</a></li>
                                            <li><a href="#" id="leftactive">Дизайн</a></li>
                                            <li><a href="#">Без категории</a></li>
                                            <li><a href="#">Файлы</a></li>
                                       </ul>
                                       
                                       <div class="separator"></div>
                                       
                                       
                                       
                                        <h2>Комментарии</h2> 
                                        
                                        <p>ntfdjfk ldjkldfjg kljkdl djfgkdjg kdlgjdk j dfg dkfg jdgklfjdklfgjd gkljkdl jg</p>
                                        <p>ntfdjfk ldjkldfjg kljkdl djfgkdjg kdlgjdk j dfg dkfg jdgklfjdklfgjd gkljkdl jg</p>
                                        
                                        
                                        <div class="search">
                                        	<form action="#" method="post" enctype="multipart/form-data">
                                            	<input type="text" class="inputtext"/>
                                                <input type="image" src="images/search.gif"/>
                                            </form>
                                        </div>
                                        
                                     </div><!-- sidebare END -->
                                     
                                </div><!-- left END -->

                                <div class="right">
                                
                                	<div class="post">
                                		<h1>Первый Пост</h1>
                                        <span>Posted by admin on October 29th, 2009</span>
                                        <p>
                                        	Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации “Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст..” Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам “lorem ipsum” сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые -  намеренно (например, юмористические варианты).
                                        </p>
                                        <div class="postinfo">Раскрутка в сети&nbsp;&nbsp;Комментари (5)&nbsp;&nbsp;<a href="#">Читать Далее</a></div>
                                     </div><!-- post END -->
                                     
                                     <div class="post">
                                		<h1>Второй Пост</h1>
                                        <span>Posted by admin on October 29th, 2009</span>
                                        <p>
                                        	Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации “Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст..” Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам “lorem ipsum” сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые -  намеренно (например, юмористические варианты).
                                        </p>
                                        <div class="postinfo">Раскрутка в сети&nbsp;&nbsp;Комментари (5)&nbsp;&nbsp;<a href="#">Читать Далее</a></div>
                                     </div><!-- post END -->
                                        
                                        
                                </div><!-- right END -->
                                
                                <div class="clear"></div>  
                                                 
                            </div><!-- content END --> 
                            
                        </div>    
                                        
					</div><!-- top_rigt_corner END -->                  
				</div> 
			</div>
		</div><!-- mbody END --> 
        
        <div class="bot_left_corner">
        	<div class="bot_right_corner">
        		<div class="mbody_bot"><div class="mbody_bot_line"></div></div>
        	</div>
        </div>
         
        <!-- ROUND AREA END -->
        
        
	</div><!-- all END -->
    
</body>
</html>
