.star-small, .star-small div, .star-small span{background: url('../images/stars.png');}
.star-big, .star-big div, .star-big span{background: url('../images/star-comment.png');}
.star-small{width: 70px;height: 12px;}
.star-big {width: 130px;height: 26px;}

.productRate{position: relative;}
.productRate div {background-position: left bottom;width: 0;height: 100%;position: absolute;top: 0;left: 0;z-index: 1;cursor: pointer;}
.productRate span {display: block;height: 100%;position: absolute;top: 0;left: 0;z-index: 2;background-position: left center;width: 0;cursor: pointer;}
.productRate.disabled, .productRate.disabled div{cursor: default;}

.star-small div{cursor: default;}
