/** #menu {padding: 1px; position: absolute; left: 0px; top: 0px} **/
div.rdTreeFirebug table {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
}

div.rdTreeFirebug  a.selected  {
/*     background-color:#e0e0e0;
     color:#000; */
	 background-color:#000070;
	 color:#fff;
     padding:0px 4px;
	 font-weight:bold;
}

div.rdTreeFirebug a {
	color:#2e679a;
	text-decoration:none;
	cursor:pointer;
	font-size: 11px;
}

div.rdTreeFirebug ul{
    margin:0px;
    padding:0px;
}

div.rdTreeFirebug a:hover {
/*	text-decoration:none; */
	text-decoration:underline;

}

div.rdTreeFirebug ul ul {
/**	border-left:2px solid #e0e0e0; **/
	padding-left:0px;
	display:none;
}

div.rdTreeFirebug ul li {
	list-style:none;
	/** cursor:pointer; **/
	background:0px 4px no-repeat url(../images/tree/item.gif);
    padding-left:0px;
	font-weight:bold;
	line-height:15px;
}

div.rdTreeFirebug ul li.last,
div.rdTreeFirebug ul li.lastNode {	background:url(../images/tree/line-last.gif) no-repeat; background-position: 0px -285px;}
div.rdTreeFirebug ul li.center,
div.rdTreeFirebug ul li.centerNode { background:url(../images/tree/line-center.gif) no-repeat; background-position: 0px center;}

div.rdTreeFirebug ul li.centerNode { background-position: 0px -293px;}
div.rdTreeFirebug ul li.lastNode { background-position: 0px -286px;}

div.rdTreeFirebug ul ul li.last {	background-position: 15px -286px;}
div.rdTreeFirebug ul ul li.center { background-position: 15px center;}

div.rdTreeFirebug ul ul li.centerNode { background-position: 15px -293px;}
div.rdTreeFirebug ul ul li.lastNode { background-position: 15px -286px;}

div.rdTreeFirebug ul li ul li {
    font-weight:normal;
    padding-left:15px;
}

div.rdTreeFirebug ul.opened {
	display:block;
	background: url(../images/tree/line-vertical.gif) left repeat-y;
}

div.rdTreeFirebug table {
	border-spacing:0px;
	border-collapse:collapse;
	display:block;
}
div.rdTreeFirebug table,
div.rdTreeFirebug tr,
div.rdTreeFirebug td
 {
	margin:0px;
	padding:0px;
	/*border:1px solid #FF0000; */
}

div.rdTreeFirebug td.icon {
	vertical-align:top;
	width:16px;
}
div.rdTreeFirebug td.icon img {
	display:block;
	padding-top:3px;
}
