

#stats_products_container {
    margin: 15px;
    
}

#diagram-container {
    min-height: 550px;
}

#options-container {
    min-height: 300px;
}

#stats_products_container {
    min-height: 600px;
}

#stat_brands_list {
    min-height: 300px;
    width: 100%;
}