.firstLevelMenu {font-weight:bold; border-radius: 0px !important;}
.nav-tabs>li>a {padding-top: 2px;padding-bottom: 2px;line-height: 20px;}
.nav-tabs.nav-stacked>div>li>a{border: 1px solid #ddd; display: block; border-bottom: none;}
.nav-tabs.nav-stacked>div>li>a:hover {z-index: 2;border-color: #ddd;}
.linkChart{padding-left: 13px;}
.linkChart.active{color: red;}
.m_l_10 {margin-left: 10px !important;}
.m_t_-10{margin-top: -10px !important;}
.m-l_0{margin-left: 0 !important;}
.m-t_5{margin-top: 5px !important;}
.m-t_25{margin-top: 25px !important;}
.m-l_40{margin-left: 40px !important;}

.settingTitle{
    font-weight:bold;
    display: block;
    padding: 3px;
    border: 1px solid #ddd; display: block;
    border-bottom: none;
    text-align: center;

}
.settingsContainer{
    border: 1px solid #ddd; display: block;
    padding: 3px 3px 3px 10px;
}
.fixedTableWithLeftScroll{
    overflow-y: auto; height: 500px;
}


/* Інформація про користувачів */
#user_information table thead th {
    vertical-align: middle;
    text-align: center;
}
#user_information table thead th {width: 10%;}
#user_information table thead th:nth-child(1) {width: 15%;}
#user_information table thead th:nth-child(6) {width: 15%;}
#user_information table thead th:nth-child(7) {width: 12%;}


.mod_stats_no_online {
    text-align: center;
    color: #696969;
}

.view_type label {
    display: inline;
}


.left-menu-ul .submenu:last-child li:last-child {
    border-bottom: 1px solid #ddd;
}

.online-users-table tr:hover {
    cursor: pointer;
}

.hisory-table tr td:first-child {
    width: 20%;
}

.hisory-table tr td:last-child {
    width: 80%;
}

.hisory-table-container {
    max-height: 400px;
    overflow-y: scroll;
}

#common-info-table {
    display: block;
    width: 100%;
}

#common-info-table tr td:first-child {
    width: 30%;
    padding: 5px;
    background: #f7f7f7;
    border: 1px solid #ccc;
}

#common-info-table tr td:last-child {
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
}

.orders_users_order:hover {
    cursor: pointer;
    text-decoration: underline;
}

.content-statistic{padding-top: 20px;}
.content-statistic .table{margin-top: 0;}
.content-statistic .head-product, .content-statistic .head-product table{margin-bottom: 0;}
.content-statistic .head-product + table{border-top-right-radius: 0;border-top: 0;}
.content-statistic .head-product + table tr:first-child td:first-child{border-top-left-radius: 0;}

.date_start, .date_end, .content-statistic select, .content-statistic input{margin-bottom: 0 !important;}
.w_95{width: 95px;}
.m-l_5{margin-left: 5px;}
.frame-panel-stat > .d-i_b{margin-left: 45px;vertical-align: bottom;margin-bottom: 0;}
.frame-panel-stat > .d-i_b label{margin-bottom: 0;}
.frame-panel-stat > .d-i_b:first-child{margin-left: 0;}
.frame-panel-stat .title-field{margin-bottom: 4px;}