@charset "utf-8";

/********  CLEAR DATA  ********/
*{margin:0px; padding:0px; outline:none; font-size: 100%; vertical-align: baseline;}
body {font-family:Tahoma,"Kalimati","Geneva", sans-serif; font-size:12px; background: url(../images/main_bg.png) repeat-x; color: #2f2f2f}
textarea, select, option, input {font-family:'Tahoma'; font-size:12px;}
a img{border:0px;}
ol,ul {list-style:none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after{content: '';}
table {border-collapse:collapse;border-spacing:0;}
input[type="submit"]::-moz-focus-inner {padding: 0 !important; border: 0 !important;} /* Firefox button bug */

/********  MAIN ELEMENTS  ********/
@font-face {
    font-family: "OfficinaSansBookC";
    src: url("fonts/officinasansbookc_0-webfont.eot");
    src: url("fonts/officinasansbookc_0-webfont.svg#OfficinaSansBookC") format("svg"),
        url("fonts/officinasansbookc_0-webfont.woff") format("woff"),
        url("fonts/officinasansbookc_0-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
sup {position: relative;top: -10px;}
a{color: #0059ac}
a:hover{color: #ffab2e}
input{border:none;}
.js{background: url(../images/dashed_blue.gif) 0 100% repeat-x; padding-bottom: 1px; text-decoration: none;}
.js:hover{background-image: url(../images/dashed_yellow.gif)}
.no_js a{background: none !important; padding: 0 !important; text-decoration: underline !important;}
h1,h3, .h1title{font-size: 40px; color: #0059ac; margin-bottom: 20px; font-weight: normal; clear: both;}
.site_description h1{font-size: 30px;}
h2,.box_title{font-size: 24px; color: #0059ac; font-weight: normal;padding-top: 37px; }
.title_h3, h2, .box_title, h1, h3, .h1title,.name-n,.cat-n-tit{font-family: 'OfficinaSansBookC'; }
#notifyProductVariantName{color: #0059AC;}
#collback_form form h2{padding-left: 1px;}
h3, .title_h3{font-size:18px;}
.h1title{margin-bottom: 0px;}
.o_h{overflow: hidden;}
.f_l{float: left;}
.f_r{float: right;}
.t-a_r{text-align: right !important;}
.d_b{display: block;}
.d_i{display: inline;}
.m-l_15{margin-left: 15px;}
.b{font-weight: bold;}
/********  action hit ********/
/*.action_hit{margin-top: 478px; }*/
.action_hit{margin-top: 365px; }
.action_hit h3{margin-top: 40px;}
/********  action hit ********/
.f_s_16{font-size:16px;}
.clear{clear: both}
.clearfix:after, .filter_form:after{visibility: hidden;display: block;font-size: 0;content: ".";clear: both;height: 0;}
.filter_form{margin-bottom: 35px;}

.action{margin-bottom: 20px;}

.goods_left{background: #fff;margin-right:24px;behavior: url(PIE/PIE.htc);margin-bottom: 50px;width: 230px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;float: left;-webkit-box-shadow: 0 0 5px 2px #eee;-moz-box-shadow: 0 0 5px 2px #eee;box-shadow: 0 0 5px 2px #eee;margin-top: 4px;}
.left_inside{margin-right:24px;width: 230px;float: left;margin-top: 4px;}
.goods_left h2{margin: 10px 0 0 13px;padding:0;color:#000;}
.good_desc .h2_frame{margin-top: 14px;padding-bottom: 35px;}
.good_desc h2{color:#000;}
.goods_left ul{font-size: 11px; color:#8f8f8f;padding: 0 6px;margin: 15px 0;}
.goods_left .bottom_border{margin-top: 20px;}
.goods_left .bottom_border li{padding: 13px 0 20px 0; border-bottom: 1px solid #e6e6e6;}
.goods_left .bottom_border li:last-child{border-bottom: none;}
.goods_left li ul{display: none;margin: 0;}
.goods_left li ul li{color:#0059ac;padding-left: 4px;}
.product_thumb{color:#2f2f2f;font-size: 11px;overflow: hidden;padding: 10px 0;}
.product_thumb a{text-decoration: underline;cursor: pointer;display: block;}
.product_thumb .image2{float: left;width: 96px;text-align: center;}
.product_thumb .description2{padding: 0 5px 0 10px;overflow: hidden;}
.product_thumb b{color:#2f2f2f;}
.description2 div{margin-top: 5px;color:#2f2f2f;}

.goods_left ul li > span{line-height: 30px;background: url(../images/plus.png) no-repeat 0 3px;}
.goods_left span span{margin-left: 10px;font-size: 12px; font-family:'Tahoma';text-decoration: none;color:#0059ac;cursor: pointer;}
.goods_left span span:hover{background: url(../images/dashed_blue.gif) 0 100% repeat-x;}
.cartSummary span span:hover{background: none; cursor: text;}
.goods_left .expanded{background-image: url(../images/minus.png);font-weight: bold;}
.notjs{background: none;}
.notjs:hover{background: none;}
.good_desc{overflow: hidden;zoom: 1;}

.description{overflow: hidden;margin-bottom: 50px;}
.l_descr_good{width: 230px;float:left; position: relative;margin-right: 60px;}

#price_aj, .cleaner span, .sum_wares span {color:#0059ac;font-size: 30px !important;}
#price_aj span,.cleaner span span, .sum_wares span span{font-size: 16px !important;}
.r_descr_good #in_cart{float: left;text-decoration: none;clear: both;width:139px;height:34px;background: url(../images/buy.png) no-repeat;line-height: 30px;color: #fff;text-shadow:0 1px 0 #022e91;margin-top: 10px;font-family:'Arial'; font-weight: bold;text-align: center;}
.r_descr_good{overflow: hidden;font-size: 12px;}
.r_descr_good dl{font-weight: normal;line-height: 18px;position: relative;margin-bottom: 15px;font-size: 12px; font-family: 'Tahoma';width: 260px;overflow: hidden;}
.r_descr_good dt{color:#2f2f2f;line-height: 20px;float: left;width:110px;}
.r_descr_good dd{color:#000;text-align: left;line-height: 20px;font-weight: bold;float:left;width: 150px;}
.is_avail{color:#007405;padding-top: 11px;}
.is_avail_icon{width: 11px;height: 11px;float: left;background-position: -67px -12px;margin-right: 4px;}
.r_descr_good dd span .noItem{color:red;}
.r_descr_good .noItemGrey, .r_descr_good .noItemGrey span{color: gray;}
.r_descr_good .noItemDiv{color: gray; font: bold 12px/16px "Arial",sans-serif; margin-left: 17px;}
.r_descr_good .count{margin-top: 25px;}
.r_descr_good input, .cleaner tbody input{background: #fff;float: left;behavior: url(PIE/PIE.htc);-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-webkit-box-shadow: 0 -1px 3px #aaa;-moz-box-shadow: 0 -1px 3px #aaa;box-shadow: 0 -1px 3px #aaa;border: none;text-align: center;}
.block{display: block;clear: left;}
.not_block{display: none;}
.tabs{clear:both;font-size: 12px; font-family: 'Tahoma';background: #fff;margin:0 10px 5px 10px;}
ul.tabNavigation {overflow: hidden;}
ul.tabNavigation li {display: block;float: left;background: url(../images/grad_tabs.png);margin: 4px 5px 0 4px;-moz-border-radius: 3px 3px 0 0;-webkit-border-radius: 3px 3px 0 0;border-radius: 3px 3px 0 0;}
ul.tabNavigation li a {color: #2d2d2d;text-decoration: none;height: 32px;float: left;line-height: 33px;text-shadow:0 1px 0 #e6e5e5;padding: 0 26px;
                       -moz-border-radius: 3px 3px 0 0;-webkit-border-radius: 3px 3px 0 0;border-radius: 3px 3px 0 0;}

ul.tabNavigation li a.selected{background-color: #fff !important;text-shadow: 0 0 0;-webkit-box-shadow: 0 0 5px 2px #eee;-moz-box-shadow: 0 0 5px 2px #eee;box-shadow: 0 0 5px 2px #eee;zoom:1;color:#000;font-weight: bold;}
ul.tabNavigation li a:focus {outline: 0;}
div.tabs > div {margin-left: 4px;-moz-border-radius: 0 3px 3px 3px;-webkit-border-radius:  0 3px 3px 3px;border-radius: 0 0 3px 3px;-webkit-box-shadow: 0 0 5px 2px #eee;-moz-box-shadow: 0 0 5px 2px #eee;box-shadow: 0 0 5px 2px #eee;padding: 9px 17px 30px;background-color: #fff;}
div.tabs > div.form_inside{padding: 0 0 30px 0;}
.tabs p{margin-top: 26px;}
.tabs object,.tabs embed{margin: 0 auto;display: block;margin-top: 30px;}
.crumbs{margin: 27px 0 28px 0;}
.crumbs a{font-size: 11px;cursor:  pointer;}
.active{color: #f9a31b; text-decoration: none;}

.form_name{margin: 0; padding:20px 0 15px 20px;color: #0059ac;font-size: 16px;font-family: 'OfficinaSansBookC';}
.form_name .firstdt{float: left;}

.filter .title_h3{margin-bottom: 12px;font-weight: bold;}
.filter dl{background-color: #fff7d9;padding: 10px 17px 16px;margin-bottom:3px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.filter dt{font-weight:bold;position:relative;padding-top: 2px;}
.filter dd{font-size: 0;padding-top: 3px;}
.filter dd li{padding-bottom: 5px;}
.reset{display: block;margin-top: 6px;font-size: 12px;color: #5d5d5d;}
.filter .pun_fil{font-size: 12px;cursor: pointer;}
.filter .one_column label{min-width: 100%;}
.filter label{margin: 8px 0 0;min-width: 50%;display: inline-block;}
.filter .active span{color: #0059ac;}
label{color:#5d5d5d;margin:8px 10px 0 10px;font-size: 12px;position: relative; top: 2px;line-height: 18px;}
.null_label label{margin:0 0 4px 0;}
.null_label input,.null_label textarea{margin-bottom:10px;}
input{margin:3px 3px 0 0;vertical-align: top;}
select{margin: 0px 15px 0 0;padding: 3px;behavior: url(PIE/PIE.htc);-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;border-radius: 3px;border: 1px solid #8c8c8c;}
.rightpart,.leftpart{float: left;}
.rightpart dt{width: 200px;margin-left: 50px;}
.act, .hit{right: 2px; top:3px;background: url(../images/act_hit.png) no-repeat;height: 69px; width: 69px;position: absolute;z-index: 2;}
.act{background-position: 0 0;}
.hit{background-position: -69px 0;}
.l_descr_good .hit{background-position: -69px -0}

.wares {overflow: hidden;margin: 16px 0 0 -30px;}
.wares .image{width: 201px; text-align: center; height: 120px; display: table-cell; vertical-align: middle;}
.wares li{float:left;position: relative;width: 201px; height: 233px;margin: 0 0 20px 30px; background: url(../images/fon_ware.png) no-repeat;text-align: center;padding: 10px 10px 0 10px;}

/*Delete after christmas*/
.christmas .wares li{float:left;position: relative;width: 201px; height: 233px;margin: 0 0 20px 33px; background: url(../images/fon_ware_ch.png) no-repeat;display: inline-block;vertical-align: top;text-align: center;padding: 10px 10px 0 10px;}

.wares .price_buy {position: absolute; bottom: 3px;height: 42px;font-family:Arial, Helvetica, sans-serif;left:0;text-align: left;width: 201px;padding: 0 10px;}
.block_price{float: left;}
.price_product{font-size: 25px !important;text-shadow: 0 1px 0 #fedaa7;line-height: 38px;}
.wares .grn{font-size: 14px;color:#626261; margin-left: 17px;}
.wares .price_buy a{background: url(../images/button_product.png) no-repeat; margin-top:9px;height: 23px; width: 84px;line-height: 23px;font-size: 12px;color: #fff;text-shadow:0 1px 0 #03319e;text-align: center;float: right;text-decoration: none;}

.results{overflow: hidden;padding-bottom: 5px;}
.results div{text-align: center;position: relative;}
.results div .f_l{position: absolute;left: 0;}
.results ul {display:inline-block;list-style: none;font-size: 12px;}
.results li {float: left;display:inline;margin-right:4px;width: 22px;height: 24px;overflow: hidden;text-align: center;color: #0d53a8;font-weight: bold;
             cursor: default;line-height: 24px;text-decoration: none;}
.promoPaginFix{margin-left: 7px}
.promoPaginFix, .promoPaginFix a{width: auto !important;}
.results li a {color: #646464;text-decoration: underline;display: block;width: 21px;height: 24px;}
.results .f_l{position: relative;top: 5px;}
.leftarr,.rightarr,.active_page, .times, .is_avail_icon{background-image: url(../images/number_page.png);}
.times{width: 11px;height: 11px;float: left;background-position: -67px 0;position: relative;top: 2px;}
.times + span{color: #0059ac;margin-left: 16px;display: block;}
.leftarr{background-position: 0 0;cursor: pointer !important;}
.active_page{background-position: -22px 0;}
.rightarr{background-position: -44px 0;cursor: pointer !important;}

.noItemPopup{color: #2F2F2F;}

.formCost{margin-top: 20px;}
.formCost span{font-size: 12px;margin: 0 10px;}
.formCost input{behavior: url(PIE/PIE.htc);-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;margin: 0;border: 1px solid #8c8c8c;height: 19px;line-height: 19px;width: 70px;padding-left: 5px;}
.sliderCont {margin-top: 12px;}
.ui-slider {position: relative;border: 1px solid #D4D4D4;background: #ffc993;}
.ui-slider .ui-slider-handle {position: absolute;z-index: 2;width: 27px;height: 30px;background: url(../images/slider.png) no-repeat;cursor: pointer;}
.ui-slider .ui-slider-range {position: absolute;z-index: 1;display: block;border: 0;overflow: hidden;}
.ui-slider-horizontal { height: 6px;}
.ui-slider-horizontal .ui-slider-handle {top: -10px;margin-left: -6px;}
.ui-slider-horizontal .ui-slider-range {height: 100%;}
.ui-slider-horizontal .ui-slider-range-min {left: 0;}
.ui-slider-horizontal .ui-slider-range-max {right: 0;}
.ui-corner-all {behavior: url(PIE/PIE.htc);-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;border-radius: 3px;}
.ui-widget-header{background: #f98b1c;}

.gradient{height:52px; /*background: url(../images/grad.png) repeat-x; */padding-top: 15px}
.sear_fil{margin: 0 auto;width: 138px;overflow: hidden;}
.sear_fil a{margin-left: 5px;line-height: 24px;}

.b_f{text-decoration: none; line-height: 21px !important;float: left;border: none !important;cursor: pointer; text-align: center;background-image: url(../images/button_form.png); width:138px; height: 23px;color: #fff; text-shadow: 0 -1px 0 #093cd3;}
.b_f:hover{color:#fff;}
.b_o{line-height: 31px !important;float: right;border: none !important;cursor: pointer;text-align: center;background-image: url(../images/order.png);color: white;text-shadow: 0 -1px 0 #093CD3;margin: 30px 30px 0 0 !important;padding: 0 !important;width: 187px;height: 34px !important;font-size: 16px;font-family:'Arial';font-weight: bold;}

.contacts{width: 270px;float: left;}
.contacts h3{margin-bottom: 10px; margin-top: 20px;}
.contacts p{line-height: 20px;}
.map{display: block;overflow: hidden; margin-top: 40px;}
.map h3{float:left;}
.map a{float: right;margin: 20px 0 15px 0;}
.map .filter{padding: 0 22px 40px;margin:50px 2px 150px 20px;}
.map img{clear: both;}
.map .filter label{display: block;clear: both;}
.map .filter input,.map .filter textarea,.new_user input,.new_user select,.new_user textarea{-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;border-radius: 3px;border:1px solid #ffab2e;}
textarea {height: 160px;width: 100%;font-size: 12px;padding: 3px 0 3px 2px;font-family: Arial, Helvetica, sans-serif;line-height: 16px;max-width: 100%;}
.sub_zam{float: right;margin-right: 10px;}

.text_field{display: inline-block; background: url(../images/form_input.png) no-repeat 0 0;}
.text_field a, .text_field input{display: inline-block; height: 21px; line-height: 21px; background: url(../images/form_input.png) no-repeat 100% -21px; text-decoration: none; padding: 0 5px 0 5px; margin-right: -3px;  font-size: 12px;margin: 0;}
.text_field input{border: 0;}

.button{display: inline-block; background: url(../images/button.png) no-repeat 0 0;}
.button a, .button input, .new_user .button input{margin: 0;display: inline-block; height: 22px; line-height: 22px; color: #fff; background: url(../images/button.png) no-repeat 100% -22px; text-decoration: none; padding: 0 15px 0 15px; margin-right: -3px;  font-size: 12px;}
.button input{border: 0; cursor: pointer}

.button_y{display: inline-block; background: url(../images/button.png) no-repeat 0 -44px;}
.button_y a, .button_y input{display: inline-block; height: 19px; line-height: 17px; color: #fff; background: url(../images/button.png) no-repeat 100% -63px; text-decoration: none; padding: 0 25px 0 25px; margin-right: -3px;  font-size: 11px;}
.button_y input{border: 0; cursor: pointer}

.container{margin:0 auto 0; width: 992px; position: relative;/* overflow: hidden;*/}
.container2{overflow: hidden;}
.site_description{position: absolute; top: 100%; right: 0; width: 991px; z-index: 10}

.top{height: 40px;}
.top a{float: left; color: #ffffff; text-decoration: none}
.top_menu{float: left;}
.top_menu a{height: 40px; line-height: 40px; padding: 0 25px 0 25px; border-left: 1px solid #17a1e8; border-right: 1px solid #136af2;}
.top_menu a[href="/shop/promotion"]{ background: url("/uploads/shop/akciinew.png") no-repeat scroll 70px 5px transparent; width: 60px; }
.auth_menu{float: right;}
.auth_menu span{float: left; border-left: 1px solid #fff; margin: 13px 0 0 6px;}
.auth_menu .js{background: url(../images/dashed_white.gif) 0 100% repeat-x; margin-left:6px; position: relative; top: -1px; font-size: 11px; padding-bottom: 1px;  text-decoration: none}
.auth_menu a{ margin-left:6px; position: relative; top: -1px; font-size: 11px; text-decoration: underline}
.auth_menu span:first-child{border: 0; margin-left: 0;}

.header{height: 105px;}
.logo{float: left; width: 200px; margin: 10px 0 0 11px;}
.logo a{display: block; width: 200px; height: 53px; background: url(../images/sportek.png)}
.logo span{font-family: 'OfficinaSansBookC'; margin: 3px 0 0 5px; display: block; height: 38px; overflow: hidden}

.h_info{float: left; margin: 30px 0 0 86px;}
.h_contacts{width: 465px; height: 25px;}
.h_contacts div{float: left; font-family: 'OfficinaSansBookC'; color: #0059ac; font-size: 16px; margin: 0 5px 0 10px;}
.h_contacts span{color: #f77c0f; font-size: 13px; margin: 2px 5px 0 0; float: left;}
.h_contacts a{float: right;}

.search .text_field{margin: 0 13px 0 0;}
.search .text_field input{width: 382px;}
.search div{float: left;}

.cart{width: 183px; height: 75px; background: url(../images/cart_bg.png); float: right; margin: 14px 0 0 0; text-align: center}
.cart .title{font-family: 'OfficinaSansBookC'; color: #0059ac; font-size: 16px; margin-top: 5px;}
.cart .info{color: #6d6d6d; margin: 3px 0 6px 0;;}
.cart .info span{color: #d6161d; font-weight: bold;}

.main_menu{position:relative;z-index:10;}
.main_menu ul{height: 93px; border-left: 1px solid #fdc41d; border-right: 1px solid #f7710f;}
.main_menu li{float: left; background: url(../images/active_menu_bg.png) repeat-x 0 -93px;  z-index: 10}
.main_menu a{float: left; width: 100px; height: 36px; color: #fff; font-size: 11px; line-height: 12px; text-align: center; padding: 57px 4px 0 4px; border-left: 1px solid #f7710f; border-right: 1px solid #fdc41d; text-decoration: none; background: url(../images/mein_menu_icons.png) 50% 0 no-repeat;}
.main_menu li:hover, .main_menu .active{background-position: 0 0;}
.main_menu li:hover ul{display: block}


.main_menu .m_m_1:hover a{background-position: 50% 0;}
.main_menu .m_m_1:hover a, .main_menu .m_m_1.active a{background-position: 50% -93px;}

.main_menu .m_m_2 a{background-position: 50% -186px;}
.main_menu .m_m_2:hover a, .main_menu .m_m_2.active a{background-position: 50% -279px;}

.main_menu .m_m_3 a{background-position: 50% -372px;}
.main_menu .m_m_3:hover a, .main_menu .m_m_3.active a{background-position: 50% -465px;}

.main_menu .m_m_4 a{background-position: 50% -558px;}
.main_menu .m_m_4:hover a, .main_menu .m_m_4.active a{background-position: 50% -651px;}

.main_menu .m_m_5 a{background-position: 50% -744px;}
.main_menu .m_m_5:hover a, .main_menu .m_m_5.active a{background-position: 50% -837px;}

.main_menu .m_m_6 a{background-position: 50% -930px;}
.main_menu .m_m_6:hover a, .main_menu .m_m_6.active a{background-position: 50% -1023px;}

.main_menu .m_m_7 a{background-position: 50% -1116px;}
.main_menu .m_m_7:hover a, .main_menu .m_m_7.active a{background-position: 50% -1209px;}

.main_menu .m_m_8 a{background-position: 50% -1302px;}
.main_menu .m_m_8:hover a, .main_menu .m_m_8.active a{background-position: 50% -1395px;}

.main_menu .m_m_9 a{background-position: 50% -1488px;}
.main_menu .m_m_9:hover a, .main_menu .m_m_9.active a{background-position: 50% -1581px;}

.main_menu ul ul{height: auto; border: 0; float: left; margin: 0 0 0 0;  padding: 25px 30px 10px 30px; position: absolute; top: 93px; background: #025db1; display: none;}
.main_menu ul ul li{float: left; position: static; background:none; margin: 0 0 0 80px;}
.main_menu ul ul li:first-child{margin-left: 0;}
.main_menu ul ul li:hover{ background:none;}
.main_menu ul ul a{float: none; width: auto; height: auto; padding: 0; margin: 0 0 15px 0; background: none; text-decoration: none; border: 0; white-space: nowrap; text-align: left;  font-family: 'Tahoma',sans-serif; font-size: 16px; display: block;}
.main_menu ul ul a:hover{text-decoration: underline;}

.main_menu ul ul ul{margin:0 0 15px 0; float: none; padding: 0; width: auto !important; position: static; background: none; display: block;}
.main_menu ul ul ul li{background: url(../images/list_marker.gif) no-repeat 0 8px; padding: 0 0 0 15px; margin: 10px 0 0 5px !important; float: none}
.main_menu ul ul ul li:hover{background: url(../images/list_marker.gif) no-repeat 0 8px;}
.main_menu ul ul ul a{font-size: 12px; font-family:'Tahoma'; margin-bottom: 0;}

.main_menu ul ul ul ul{margin: 0 0 0 0; padding: 0; width: auto !important;  position: static; background: none; display: block;}
.main_menu ul ul ul ul li{background-image: url(../images/list_marker_2level.gif); padding-left: 7px; margin:8px 0 0 0;}
.main_menu ul ul ul ul li:hover{background-image: url(../images/list_marker_2level.gif);}
.main_menu ul ul ul ul a{font-size: 11px; color: #d8d9d9}

.main_menu .m_m_1 > ul{margin-left: 1px;}
.main_menu .m_m_2 > ul{margin-left: -111px;}
.main_menu .m_m_3 > ul{margin-left: -114px;}
.main_menu .m_m_4 > ul{margin-left: -52px;}
.main_menu .m_m_5 > ul{margin-left: -225px;}
.main_menu .m_m_6 > ul{margin-left: -5px;}
.main_menu .m_m_7 > ul{margin-left: -76px;}
.main_menu .m_m_8 > ul{margin-left: -196px;}
.main_menu .m_m_9 > ul{margin-left: -102px;}

.shares{position: relative; margin: 30px 0 0 0;}
.shares .carusel{width: 900px !important; margin: auto; height: 217px !important; overflow: hidden !important;}
.shares .carusel li{padding-right: 16px;}
.shares .carusel li a, .shares .carusel li img{display: block}
.shares .prev, .shares .next{background: url(../images/slider_arrows.png) no-repeat 0 0; position: absolute; top: 95px; cursor: pointer; width: 25px; height: 29px;}
.shares .prev{left: 0;}
.shares .next{right: 0; background-position: 100% 0}
.shares .prev:hover{background-position: 0 100%}
.shares .next:hover{background-position: 100% 100%}
/* NS-CUST: 2012-03-19 */
.shares .promo33 {width:33%; float:left;}
.shares .tleft {text-align:left;}
.shares .tcenter {text-align:center;}
.shares .tright {text-align:right;width: 34%;}
/* NS-END */

.cycle{position: relative;width: 500px;}
.cycle ul{height: 127px!important;}
.bann-one{margin-left: 15px;}

.main_wrap{padding:50px 0 40px 0;}
.global_catalog{clear:both;}	/* NS-CUST */

.global_catalog ul{overflow: hidden;}
.global_catalog ul li{float: left; width: 198px;background: url(../images/global_catalog_icons.jpg) no-repeat 0 0; padding: 125px 0 0 0;}
.global_catalog ul a{font-size: 12px; font-weight: bold;}
.global_catalog ul a:hover{color: #f77c0f}

.global_catalog ul ul{margin-top: 5px; padding-right: 30px;}
.global_catalog ul ul a{font-size: 11px; color: #4f4f4f; font-weight: normal}
.global_catalog ul ul li{float: none; width: auto; height: auto; background: url(../images/list_marker_gray.gif) 0 8px no-repeat; padding: 0 0 0 12px; margin: 5px 0 0 0;}


.g_c_1{}
.g_c_2{background-position: -198px 0 !important;}
.g_c_3{background-position: -396px 0 !important;}
.g_c_4{background-position: -594px 0 !important;}
.g_c_5{background-position: -792px 0 !important;}
.g_c_1, .g_c_2, .g_c_3, .g_c_4, .g_c_5{height: 210px !important;}

.g_c_6{background-position: -990px 0 !important;}
.g_c_7{background-position: -1188px 0 !important;}
.g_c_8{background-position: -1386px 0 !important;}
.g_c_9{background-position: -1584px 0 !important;}
.g_c_10{background-position: -1782px 0 !important;}
.g_c_6, .g_c_7, .g_c_8, .g_c_9, .g_c_10{height: 135px !important;}

.g_c_11{background-position: -1980px 0 !important;}
.g_c_12{background-position: -2178px 0 !important;}
.g_c_13{background-position: -2376px 0 !important;}
.g_c_14{background-position: -2574px 0 !important;}
.g_c_15{background-position: -2772px 0 !important;}
.g_c_11, .g_c_12, .g_c_13, .g_c_14, .g_c_15{height: 130px !important;}

.g_c_16{background-position: -2970px 0 !important;}
.g_c_17{background-position: -3168px 0 !important;}
.g_c_18{background-position: -3366px 0 !important;}
.g_c_19{background-position: -3564px 0 !important;}
.g_c_20{background-position: -3762px 0 !important;}
.g_c_16, .g_c_17, .g_c_18, .g_c_19, .g_c_20{height: 225px !important;}

.g_c_21{background-position: -3960px 0 !important;}
.g_c_22{background-position: -4158px 0 !important;}
.g_c_23{background-position: -4356px 0 !important;}
.g_c_24{background-position: -4554px 0 !important;}
.g_c_25{background-position: -4752px 0 !important;}

/*before christmas*/
/*.bottom_info{position: relative;clear:both;}
.bottom_info .t, .bottom_info .b{position: absolute; width: 100%; background: url(../images/bottom_info.png) 0 0 repeat-x; left: 0;}
.bottom_info .t{height: 145px; top: 0;}
.bottom_info .b{height: 138px; bottom: 0; background-position: 0 -145px;}
.bottom_info .container{padding-bottom:90px;}
.bottom_info .info_box{width: 300px; padding: 10px; overflow: hidden; position: relative; margin-top: 10px;}
.bottom_info .title{margin-bottom: 15px;}
.bottom_info .info_box span{float: left; width: 100px; margin: 5px 5px 0 0; text-align: center}
.bottom_info .info_box dl{overflow: hidden}
.bottom_info .info_box p{margin: 10px 0 0 0; line-height: 16px;}*/

/*christmas, spring*/
.bottom_info{position: relative;clear:both;}
.christmas{ background: url('../images/actioncristmas.jpg') repeat-x;}
/*.spring{ background: url('../images/actionBG.jpg') repeat-x;}*/
.bottom_info .t, .bottom_info .b{position: absolute; width: 100%;/* background: url(../images/bottom_info.png) 0 0 repeat-x; */left: 0;}
.bottom_info .t{height: 145px; top: 0;}
.bottom_info .b{bottom: 0; background-position: 0 -145px;}
.bottom_info .container{padding-bottom:90px;}
.bottom_info .info_box{width: 300px; padding: 10px; overflow: hidden; position: relative; margin-top: 10px;}
.bottom_info .title{margin-bottom: 15px;}
.bottom_info .info_box span{float: left; width: 100px; margin: 5px 5px 0 0; text-align: center}
.bottom_info .info_box dl{overflow: hidden}
.bottom_info .info_box p{margin: 10px 0 0 0; line-height: 16px;}
.christmas .santa-cap{width: 47px; height: 47px; background: url('../images/santa-cap.png'); position: absolute; left: -13px; top: -16px;}
.box_title_spring{background: url("../images/actionTitle.png") repeat scroll 0 0 transparent;height: 90px;position: absolute;top: 0;width: 323px;left: 317px;}
.bottom_info .container{overflow:visible;padding:60px 0 0;}
/*---------*/

.info_box{border: 1px solid #ffab2e; background: #fff; behavior: url(PIE/PIE.htc);width: 230px;-moz-border-radius: 4px;-webkit-border-radius: 4px; border-radius: 4px;}

.footer{/* background: #025db1;*/ color: #fff; padding: 20px 0; overflow: hidden; line-height: 20px;}
.footer .container{overflow: hidden}
/*.footer a{color: #ffab2e}*/
.footer .f_right span{color: #444;}
.footer a:hover{text-decoration: none}
.footer span{display: block;}
.footer span img{position: relative; top: 3px; margin-right:5px;}
.f_left{float: left;}
.f_right{float: right; text-align: right}

.footer_menu{overflow: hidden; height: 45px; width: 260px; position: relative;float: left;margin-top: 10px;}

.footer_menu a:first-child{position: absolute; left: 0px; top: 0px;}
.footer_menu a:first-child + a{position: absolute; left: 90px; top: 0px;}
.footer_menu a:first-child + a + a{position: absolute; left: 160px; top: 0px;}
.footer_menu a:first-child + a + a + a{position: absolute; left: 0px; top: 20px;}
.footer_menu a:first-child + a + a + a + a{position: absolute; left: 90px; top: 20px;}
.footer_menu a:first-child + a + a + a + a + a{position: absolute; left: 160px; top: 20px;}

.consultaionFooter{float: left; color: #2f2f2f; margin: 10px 21px 0 10px; font: 12px/21px "Tahoma", sans-serif; }
.consultaionFooter span{font-weight: bold; display: inline;}


.text p{margin: 10px 0 0 0; line-height: 18px;}
.text ul{list-style: disc; margin: 10px 0 0 20px;}
.text li{margin: 5px 0 0 0; line-height: 18px;}


h1.big_marg{margin: 30px 0 16px 0;}
h3.big_marg{margin: 20px 0 15px 0;}
label.big_marg{margin-bottom: 25px;}
div.big_marg{margin-bottom: 200px;}

#collback_form .new_user dl{padding-left: 10px; padding-top: 15px;}
#collback_form .new_user dt{margin-bottom: 2px;}
#collback_form .new_user .button{margin-right: 19px; margin-top: 22px;}

.new_user{font-family: 'Tahoma'; font-size: 12px;color: #2f2f2f;overflow: hidden;padding-left: 0 !important; padding-right: 0 !important;}
.new_user>div{float:left;}
.new_user .button{float: right; margin:10px 9px 0 0;}
.new_user dl{padding: 20px 0 0 20px;float: left;}
.new_user label{margin-left: 0px !important;}
.new_user .both{clear: left;}
.new_user dl.right{margin-left: 41px;}
.new_user dt{margin-bottom: 5px;}
.new_user dt span{position: relative;top: -1px; color:red;}
.new_user input{height:15px;}
.new_user dd.notdt{padding-top: 19px;}
.new_user dd.notdt input{margin:1px 5px 0 0;}
.new_user select{height:20px;}
.new_user select,.new_user input{margin: 3px 3px 0 0;padding: 2px;}
.new_user .b_width{width: 316px;}
.new_user input.b_width{width: 310px;}
.new_user .m_width{width: 180px;}
.new_user div.b_width,.new_user div.b_width textarea,.new_user div.b_width dl{width: 651px !important;}
.new_user dd em{font-family: 'Arial'; font-size: 11px; color:#9e9e9e;display: block;margin-top: 7px;}
.new_user  textarea{width: 312px;height: 78px;}
.new_user div.small_padd dl{padding-top: 0px;}
.new_user input[type=submit]{}

hr {height: 1px;border: none;border-top: 1px solid #e6e6e6;width: 658px;margin: 20px 0 20px 20px;float: left;}
.new_user > span{font-weight: bold;display: block;clear: left;padding-left: 20px;}
.new_user dl.small_padd{padding-top: 14px;}

table {border-collapse: collapse;border-spacing: 0;}
.cleaner_title{text-align: left !important;}
.cleaner_title div{font-weight: 700; margin-top: 5px; font-size: 12px;}
.cleaner thead td{height: 27px;vertical-align: middle;font-size: 12px;}

table.cleaner  thead{background-color: #0059ac;color:#fff; text-shadow:0 1px 0 #045097;font-weight: bold;}
.cleaner thead td{text-align: left;padding-left: 40px;}
.cleaner thead td:first-child{behavior: url(PIE/PIE.htc);-moz-border-radius: 5px 0 0 5px;-webkit-border-radius: 5px 0 0 5px;border-radius: 5px 0 0 5px;}
.cleaner thead td.lasttd{behavior: url(PIE/PIE.htc);-moz-border-radius: 0 5px 5px 0;-webkit-border-radius: 0 5px 5px 0;border-radius: 0 5px 5px 0;padding-left: 0;}

.cleaner tbody td{vertical-align: middle;text-align: center;}
.cleaner tbody td.big_padding{padding-left: 40px;text-align: left;}
.flo_left{text-align: left !important;}
.cleaner tbody td.first_child{height:91px;}
.cleaner tbody td.first_child a{font:32px Arial bold; color: red;text-decoration: none;}
.cleaner tbody tr{border-bottom: 1px solid #f3f3f3;}

.cleaner tfoot tr{padding-top: 30px;}
.cleaner tfoot td{vertical-align: middle;padding-top: 30px;}
.cleaner tfoot a{float: left;margin: 0 !important;text-decoration: none;}
.cleaner tfoot a:hover{color:#fff;}

.sum,.sum_wares{color:#2f2f2f; font-size:18px;text-align: right;padding: 0 30px 0;}
.sum_wares{padding: 0 0 0 20px;margin: 0;text-align: left;}
.sum_wares > span{padding-left: 20px;}

.ui-autocomplete{z-index: 1000 !important; background: #fff !important; width: 390px !important; padding-top: 10px; position: absolute!important;}
.ui-autocomplete li{overflow: hidden !important; padding: 10px 0 10px 0;}
.ui-autocomplete .image{float: left;margin: 2px 10px 2px 5px;}
.ui-autocomplete img{ max-width: 70px;}
.ui-autocomplete a{display: block}
.ui-autocomplete .itrm_price{padding: 5px 0 0 0; font-weight: bold}
.ac_allresults{margin: 0px 10px 20px; text-align: right;}

.fancy_info{padding-bottom: 10px;}
.fancy_title{font-family: 'OfficinaSansBookC'; font-size: 20px; margin: 5px 0 10px 0;}
.fancy_price{display: inline-block; color: #0059AC; font-size: 24px; margin-right: 10px;}
.fancy_price span{font-size: 14px;}
.fancy_info .button{margin-left: 10px;}

.thumbs{display: none}
.callback_form{width: 330px;}
.commentForm dl{display: block; float: none}
.commentForm textarea{min-width: 650px; max-width: 650px;}

.callback_form{padding: 0; margin-top: -20px;}
.callback_form input[type="text"], .callback_form input[type="password"]{width: 300px;}
.callback_form select{ padding: 3px 5px 3px 0; height: auto !important; width: 305px;}
.callback_form dl{padding-top: 10px;}
.callback_form textarea{min-width: 300px; max-width:300px;}

#commentForm{width: 660px;}
#commentForm dl{margin-left: 0; padding-left: 0;}
#commentForm .button{margin-left: -120px;}

label.error{display: block; font-size: 11px; color: red; margin: -3px 0 0 0; position: relative; left: 3px;}
.error[for=wtf]{display: block; font-size: 11px; color: red; margin: 52px 0 0 0; position: absolute; left: auto; top: auto;}

.text table{width: auto;}
.text table tr:first-child td{border: 0;}
.text table tr td:first-child{font-weight: 700;}
.text table tr td{ border-top: 1px solid #e6e7ea; padding: 5px 20px 5px 0;}
.text table caption{padding:5px; font-size:16px;}

.com_title{font-family: 'OfficinaSansBookC'; font-size: 24px; color: #0059ac; font-weight: normal; position: relative; top: 10px}
.comments{}
.comment:first-child{margin-top: 0; border: 0;}
.comment{ border-top: 1px solid #e6e7ea; margin-top: 10px;}
.comment p{ color: #2f2f2f}
.comment cite{font-size: 11px; font-style: normal; text-align: right; display: block; font-weight: 700}
.comment cite span{font-size: 12px}

.p_bot{padding-bottom: 138px;}

.order_login{padding: 30px 0 0 0 !important;}
.order_login .auth_links{padding: 0 0 20px 20px;}

.search_info{}
.search_info dl{overflow: hidden; margin-top: 5px;}
.search_info dt{float: left; width: 70px;}
.search_info dd{float: left; font-weight: 700}


/***/
.fancy_text{width: 500px; max-height: 500px; overflow: auto}
.price_product .penny{font-size: 14px; margin-left: 1px; position: absolute; margin-top: -4px;}
.c_descr_good .penny{font-size: 14px; margin-left: 2px; position: absolute;  margin-top: 3px;}
.c_descr_good .penny+span{margin-left: 15px;}
.c_descr_good .dot, .price_product .dot{display: none;}

.alreadyIn{background: url('../images/alreadyincart.png')!important;}
.alreadyIn_small{background: url('../images/alreadyincart_small.png') no-repeat 1px 1px !important;}
.currentProduct{color: gray;}
.productRelativePhoto{background: url('../images/ajax-loader.gif') 50% 50% no-repeat;}
.nobackgr{background-image: none;}
.tabs .marTopPlus{margin-top: 5px; border-radius: 3px;}
.userError{color: red; background: url('../images/warning.png') no-repeat 0px 50%; padding: 2px 20px; display: none;}
.orderHistory{width: 100%; border-radius: 5px; box-shadow: 0 1px 5px #999999; margin: 10px 0;}
.orderHistory td{vertical-align: middle; text-align: center;}
.orderHistory thead td{background-color: #0059AC; vertical-align: middle; font: bold 12px/30px "Tahoma",sans-serif; color: #fff;}
.orderHistory tbody td{height: 65px; border-top: 1px #e6e6e6 solid; font: 12px/21px "Tahoma",sans-serif; }
.orderHistory tbody tr:first-child td{border-top: none;}
.fringeLeft, .fringeRight{width: 25px; height: 37px; background: url('../images/orderHistoryFringes.png');}
.fringeRight{background-position: 25px 0px}
.orderHistory tbody .fringeInside{border-top: none;}

.profInfoLeft{float: left; width: 310px;}
#uProfileInfo{width: 670px; overflow: hidden; float: left;  background: url('../images/passChangebg.png') no-repeat 650px 10px;}
#uProfileInfo dl, .passwordChange dl{padding: 15px 0 0 0;}
#uProfileInfo input, .passwordChange input{width: 250px;}
#uProfileInfo select{width: 254px;}
#uProfileInfo .shorBlock{width: 110px; margin-right: 24px;}
#uProfileInfo input[type="submit"], .passwordChange input[type="submit"]{background: url('../images/profSubmit.png') no-repeat; border: none; width: 207px;padding: 4px 0 20px; font: 12px/16px "Arial", sans-serif; color: #fff; text-shadow: 0px -1px 0px #000; cursor: pointer; float: right; margin: 30px 52px 0 0;}
#uProfileInfo input[type="submit"]{margin: 30px 102px 0 0;}
.passwordChange input[type="submit"]{margin: 30px 0px 0 0;}
.passwordChange{float: right; width: 258px;}

.orderViewInfo{}
.orderViewInfo dl{overflow: hidden; margin: 8px 0px; font: 12px/18px "Tahoma",sans-serif;}
.orderViewInfo dt{float: left; width: 110px;}
.orderViewInfo dd{float: left; font-weight: bold;}

.cartTable{width: 100%; margin-top: 20px;}
.cartTable thead th:first-child{background: #0059AC url('../images/orderInfobg.png') no-repeat; padding-left: 30px}
.cartTable thead th{background-color: #0059AC; height: 27px; color: #fff; vertical-align: middle; text-align: center;}
.cartTable thead th.ctLastElement{background: #0059AC url('../images/orderInfobg.png') no-repeat 100% -27px;}
.cartTable tbody .prodName{text-align: left;}
.cartTable tbody td:first-child{padding-left: 30px}
.cartTable tbody td{vertical-align: middle; text-align: center; height: 100px;}
.cartTable tbody tr{border-bottom: 1px #f4f4f4 solid;}

#total{margin: 20px 0px; overflow: hidden;}
#total #totalPriceText{float: right; font: 30px/30px "Arial",sans-serif; color: #0059ac;}
#total #totalPriceText .currency{float: right; font: 16px/39px "Arial",sans-serif; color: #0059ac; margin-left: 5px}
#total .label{float: right; font: 18px/18px "Tahoma",sans-serif; color: #2f2f2f; margin: 5px 10px 0 0;}

.flashBack{background: url('../images/flashback.png') no-repeat; font: 12px/27px "Tahoma",sans-serif; color: #fff; width: 181px; height: 27px; text-align: center; font-weight: bold;}
form .filter h3{margin-top: 15px;}

.map .filter label{display: block;clear: both;}
.map .filter input,.map .filter textarea{display: block;behavior: url(PIE/PIE.htc);-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;border-radius: 3px;border:1px solid #ffab2e;}
.map {background: url('../images/ajax-loader.gif') 50% 300px no-repeat;}
.p_top{margin-top: 170px;}
.p_top_fixed{margin-top: 50px;}

.good_desc{padding-left: 15px;} /*ach*/

/*del after christmas*/
.christmas .wares{ margin: 0 0 0 -31px; padding-top: 28px; padding-left: 6px;}

.sear_fil .b_f{height: 22px;}

.r_descr_good input{ height: 21px; width: 46px; background: url(../images/prodinpitbg.png) no-repeat; box-shadow: none; margin: 0 0 0px;}
.c_descr_good .announceMe{background: none; font: bold 12px/16px "Arial",sans-serif; color: #0059ac; text-decoration: none; border-bottom:  1px dashed #0059ac; height: auto; text-shadow: none;}
.c_descr_good .announceMe:hover{border-bottom-color: transparent;}

.wares .noInStock{background: url('../images/fon_noitem.png');}
.wares .noInStock .price_buy a{background-image: none; margin-top:3px; height: 36px; width: 84px;line-height: 24px;font-size: 12px;color: #fff;text-shadow: none;text-align: center;float: right;text-decoration: none; font-size: 12px; color: #0059ac; line-height: 16px;}
.wares .noInStock .price_buy a span{border-bottom: 1px #0059ac dashed;}

.r_descr_good .colorPick a{display: block; height: 16px; width: 16px; margin: 0 0 3px 0; border: 1px #000 solid;}
.r_descr_good .colorPick {margin-right: 5px; float: left; border-bottom: 2px #fff solid;}
.r_descr_good .colorActive {border-bottom: 2px #000 solid;}

/*christmas*/
.christmas .container .box_title{font-family: 'Arial',sans-serif; padding-top: 25px;}
/*.pageinside .container {padding-bottom: 7px!important;} */
.pageinside{margin-top: 50px}
.christmas .container{padding-bottom: 20px;}
/*END*/

.change{text-align: right; padding: 10px 15px; font-weight: bold; color: #0059AC; clear: both;}
.change span{border-bottom: 1px #0059AC dashed; cursor: pointer;}
.change span:hover{border-bottom: none;}
.cartSummary{color: #0059AC; float: right; margin: 0px 20px 0 0;}
.cartSummary .grn{margin-left: 15px;}
.textSummary{font-size: 25px; text-shadow:0 1px 0 #FEDAA7;}
.fixFilter{width: 138px!important;}

#collback_form{padding-top: 20px;}
#collback_form h1{margin: 0px 7px 10px 7px;}
#collback_form .callback_form{width: 375px;}
#collback_form .callback_form input[type="text"], #collback_form .callback_form input[type="password"]{width: 348px;}
#collback_form textarea{width: 348px; min-width: 348px; max-width:348px;}
.penny sup{position: static;}
.cleaner_title .penny,.cleaner_title .dot{color: #000!important;font-size: 12px!important;}
.flo_left .penny,.flo_left .dot{color: #0059AC!important;font-size: 30px!important;}
.flo_left  .penny sup{position: relative; font-size: 18px; margin-left: 2px;}
.flo_left  .dot{display: none;}

.cleaner tfoot .penny,.flo_left .dot{color: #0059AC!important;font-size: 30px!important;}
.cleaner tfoot .penny sup{position: relative; font-size: 18px; margin-left: 2px;}
.cleaner tfoot .dot{display: none;}
.noResults{margin: 20px  0 70px 40px;}

#cart_popup .cleaner tbody td{padding: 2px 10px;}
.good_desc .tabs{margin: 20px 5px 5px 0;}
#prodInf{overflow: hidden;}

#fourth > a{margin: 10px;}
.no_over{overflow: visible!important;}

.footer{border-top: 2px solid #f9a51b;}

.noInStock .price_product{text-shadow: none;}
.nopadTop{padding-top: 0px!important;}
.pasChange{margin: 10px 0 -23px 0; color: green; clear: both;}

#collback_form  .new_user .wtfDl{padding-top: 5px;}
.moreWtftext{color: #5D5D5D; margin-top: 10px; display: none;}
.moreWtf{text-decoration: none; border-bottom: 1px #0059AC dashed;}
.error404{text-align: center; padding: 40px;}
.error404 .no_page{color: #484848; font-size: 24px; margin: 10px 0 10px; display: block;}
.error404 .to_home{font-size: 15px;}

.auth_links{padding: 25px 0 12px 12px;}

#login_form .errors{margin: 18px 10px 0px; color: #FF1B1B;font-weight: bold; clear: both; font-size: 12px;}
.new_user select, .new_user input[type=checkbox]{padding: 0px;}

.social_networks{float: right; margin-top: 20px;}
.social_networks a{background: url('../images/Untitled-3.png'); float: left; width: 24px; height: 24px; margin-right: 6px;}
.social_networks .tw{background-position: 0 -50px;}
.social_networks .vk{background-position: 0 -25px;}

.showCart{border-bottom: 1px #0059AC dashed; text-decoration: none;}

.recommend_soc {margin: 10px 0; clear: both;}
.recommend_soc a{text-decoration: none;margin-right: 5px;float: left; margin-top: 15px;}
.yashare-auto-init{text-align: center;}
.yashare-auto-init .b-share{padding-left: 0px;}

.to800{height: 840px;}
.to460{height: 460px;}
.to590{height: 590px;}
.to350{height: 350px;}
.to325{height: 325px;}
.to280{height: 280px;}
.to390{height: 390px;}
.to375{height: 375px;}
.to420{height: 420px;}
.to310{height: 310px}

.nomar-top{margin-top: 0px!important;}

.wares li{position: relative}
.imgTitle{position: absolute; width: 200px; left: 10px; top: 145px;}

.hideme{display: none;}

.tex{border: 1px #FFAB2E solid;width:200px; border-radius: 3px 3px 3px 3px;height: 20px;}
#form_call textarea{border: 1px #FFAB2E solid;width:200px; height: 150px; border-radius: 3px 3px 3px 3px; }
#form_call span{color:red}
#form_call dt{margin-top: 10px; margin-bottom: 3px}
#work_day{padding: 10px 10px 10px 10px}
#work_day h1{margin-bottom: -2px}
#work{margin-bottom:  10px;}
#work_day p{line-height: 20px; font-size: 14px}
.call{margin-top: 10px; float: right; margin-right: 70px}
#call_to_me{float:left;margin-top: -350px;width: 270px;}
#call_to_me h3{margin-top: 20px;}


.old_price{
    padding: 0 23px 0 0;
    position: absolute;
    text-decoration: line-through;
    color: black;
    height: 17px;
    line-height: 17px;
    bottom: 43px;
    left: 2px;
    background: url('../images/oldPrice.png') no-repeat 100% 0;
}
.old_price span{background-color: #FFCF56; display: block; padding: 1px 0; text-shadow: 0 1px 0 #FEDAA7; padding-left: 10px;}

.hide_filter{float: right; margin-top: 20px; margin-right: 10px;}
.firstdt{margin-top: 25px;}
.b_filter{cursor: pointer; 
          background-image: url(../images/bottom_filter_on.png); background-position: 0px 26px;
          height: 26px;color: #fff; width: 220px; vertical-align: middle}
.c_descr_good .old_price_span{font-size: 16px; color:#a9a597; text-decoration: line-through;}
.sort{float: left;}
.errors{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 360px;
}

dt,dd{padding-top: 10px;}

.type_var{
    z-index: 1;
    position: relative;
}
.disabl{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);opacity: 0.1}

/*social*/
.socall {bottom: 47px; left: 743px; position: relative; width: 320px;}
.vksave {float: left; margin: 0 15px 0 0;}
.fronts { bottom: 40px;}
.ul_soc_front { clear: both;}

.fbrec{float: left;
       overflow: hidden;
       width: 171px;}
.container > .socall{overflow:hidden; height:24px; margin-bottom:-24px;}

/**    FILTER    **/
.promoFilterWrap{overflow: hidden;}
.promoFilterWrap .sear_fil{clear: both; width: 138px; margin-top: 10px;}
.subHeader{font-size: 22px;font-family:'OfficinaSansBookC';color:#0059AC;}

.leftSideFilter, .rightSideFilter{width: 45%;float: left; padding: 15px; background-color: #fff7d9; height: 165px; margin-bottom: 10px;}
.rightSideFilter{float: right;}
.equtor{float: left; width: 220px;}
.equtor label{line-height: 25px;}
.equtor input{position: relative; top: 4px;}


.productKit{clear:both; border: 1px solid #ffab2e; border-radius: 5px; overflow: hidden; padding: 5px;}

.mainKitProduct{padding-right: 60px;display: inline-block; background: url('../images/kitsum.png') no-repeat 90% 50%; vertical-align:top;}
.addKitProduct {display: inline-block;  background: url('../images/kitEqual.png') no-repeat 90% 45%;padding-right: 60px; margin-right: 20px; position: relative; vertical-align:top;}
.mainKitProduct img{display: block;padding: 0 10px;}
.mainKitProduct > span{display: block; width: 150px; text-align: center;}
.picfix{display: table-cell; vertical-align: middle; height: 133px;}

.summaryKit {display: inline-block;  padding: 72px 0; vertical-align:top;}
.kitAImg{display: block;padding: 0 10px;}
.kitAName{width: 150px; text-align: center;}

.kitButton{display: block;text-decoration: none;clear: both;width:139px;height:34px;background: url(../images/buy.png) no-repeat;line-height: 30px;color: #fff;text-shadow:0 1px 0 #022e91;margin-top: 10px;font-family:'Arial'; font-size: 15px; text-align: center;}
.kitButton:hover{color:#fff}
.kitSetPrice{color:#0059ac;font-size: 30px !important; font-size: 20px!important; text-align: center; margin-top: 5px;}
.kitSetPrice .dot{display: none;}
.kitSetPrice sup{font-size: 13px; top: -7px; position: relative;}

.kitDiscount{background: url('../images/kitsidcountbg.png'); padding: 2px 0 0 5px; width: 68px; height: 26px; color: #fff; font-size: 12px; text-align: center; font-weight: bold; position: absolute; right: 20px; top: 20px;}

.gray_line_through{text-decoration: line-through; color: grey;}
.cleaner_title .gray_line_through span{text-decoration: line-through; color: grey!important;}

.cleaner tbody td.big_padding.kitIncart {text-align: center; background: url('../images/summary.png') no-repeat 10% 50%;}
.cleaner tbody td.big_padding.kitIncart input{float: none;}

.andPlus{background: url("../images/kitsum.png") no-repeat scroll 50% 0 transparent;clear: both;height: 25px;}
.new_user dl.right{margin-left: 11px;}
.new_user dl.small_padd{padding-top: 23px;}
.cleaner tbody td.big_padding{text-align: center;}
.cleaner tbody input{float: none;}



.prodTypeDescWrap, .prodTypeDescContainer, .prodTypeDescHeader{background: url('../images/prod_types.png');}
.prodTypeDescWrap{position: absolute; background-position: 0 100%; padding-bottom: 19px; right: 67px; background-repeat: no-repeat; z-index: 999; display: none;}
.prodTypeDescHeader{background-position: -798px 0; height: 8px; margin-top: -20px}
.prodTypeDescContainer p{padding-left: 20px}
.prodTypeDescContainer{background-position: -399px 0; width: 399px;}
.withProductType{padding: 3px 0 0 18px; background: url('../images/prod_types.png') -1197px 3px no-repeat; display: inline-block;height: 20px;margin: 14px 0 0 13px;}
.c_descr_good .withProductType span{font-size: 12px!important; cursor: pointer; border-bottom: 1px dashed #0059AC;color: #0059ac;}

.rating-span { color: #444444;}
.rating-span span { display: inline;}

.news-ico,.pager a{background: url('../images/sprite.png') no-repeat;display: inline-block;position: relative;}
.news-ico{width: 37px;height: 37px;background-position: 0 0;}

.footer_news{padding-bottom: 100px;}
.footer_news li{float: left;width: 32%;padding-left: 1%;}
.footer_news li:first-child{padding-left: 0;}
.footer_news li .title{margin-bottom: 15px;}

.cat-n-tit{color: #0059ac;font-size: 30px;padding: 17px 0;border-top: 2px solid #117add;}
.name-n .name{color: #0059ac;font-size: 21px;margin-right: 7px;line-height: 21px;}
.name-n .time{color: #f98a1b;font-size: 12px;}
.name-n{margin-left: 50px;}

.pager{position: absolute;z-index: 10;bottom: -28px;left: 0;}
.pager a{display: inline-block;width: 20px;height: 20px;margin-left: 1px;background-position: -39px -21px;}
.pager a.activeSlide{background-position:-39px 0;}


.rating {
    background: url("/application/modules/star_rating/templates/public/star-matrix.gif") no-repeat scroll 0 0 transparent;
    clear: both;
    height: 16px;
    list-style: none outside none;
    padding: 0;
    position: relative;
    width: 80px;
    margin-top: 0px!important;
    display: block;
    float: left;
}
.nostar {background-position: 0 0;}
.onestar {background-position: 0 -16px;}
.twostar {background-position: 0 -32px;}
.threestar {background-position: 0 -48px;}
.fourstar {background-position: 0 -64px;}
.fivestar {background-position: 0 -80px;}

span.rating div {cursor: pointer;float: left;text-indent: -999em; overflow: hidden; height: 16px; width: 16px;font-size:0px;}
span.rating div {cursor: pointer;float: left;text-indent: -999em; overflow: hidden; height: 16px; width: 16px;font-size:0px;}
span.rating div a {height: 16px;left: 0;position: absolute;text-decoration: none;top: 0;width: 16px;z-index: 200;}
span.rating div.one a {left: 0;}
span.rating div.two a {left: 16px;}
span.rating div.three a {left: 32px;}
span.rating div.four a { left: 48px;}
span.rating div.five a {left: 64px;}

span.rating div a:hover { background: url("/application/modules/star_rating/templates/public/star-matrix.gif") no-repeat scroll 0 0 transparent;
                          height: 16px;left: 0; overflow: hidden;width: 80px; z-index: 2;}
span.rating div.one a:hover { background-position: 0 -176px;}
span.rating div.two a:hover { background-position: 0 -192px;}
span.rating div.three a:hover { background-position: 0 -208px;}
span.rating div.four a:hover { background-position: 0 -224px;}
span.rating div.five a:hover { background-position: 0 -240px;}

h3 {font-size: 110%;}
.overflow{overflow: hidden;}

.star-rating{float: left;}
.star-rating a{background: url("/application/modules/star_rating/templates/public/star-matrix.gif") no-repeat scroll 0 0 transparent; 
               width: 16px; height: 16px; display: block; text-indent: -999em; cursor: pointer;}
.star-rating a:hover{}
#pageRatingData {font-size: 11px; color: #444;}
#pageRatingData span{display: inline-block;}
