@charset "utf-8";
/*---------------------------General Clases---------------------------------------*/
body {
	font-family:Arial, Helvetica, sans-serif;
	background:#f7f7f7;
	color:#666666;
}
h3, h4, h5, h6, body, form, ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
h1 {
	font-size:38px;
}
h2 {
	font-size:36px
}
h3 {
	font-size:34px;
}
h4 {
	font-size:32px;
}
h5 {
	font-size:20px;
}
h6 {
	font-size:26px;
}
h1, h2, h3, h4, h5 {
	padding:8px 0;
}
.left {
	float:left;
}
.right {
	float:right;
}
.sp { /* MOD*/
	clear:both;
}
.spLeft {/* MOD*/
	clear:left;
}
.spRight {
	clear:right;
}

a {
    color:#3F9FFF;
}

a:hover {
	color:#e50c00;
}

form .submit {
	background:#f5f4f4;
	border:1px solid #e3e3e3;
	padding:15px 60px;
	font-size:11px;
	color:#666666;
	font-weight:bold;
	cursor:pointer;
}
/* FIX IE7*/
html* {
	z-index:2;
}
#navigation * {
	z-index:3;
}
/* BEGIN LAYOUT */
#conteiner {
	width:990px;
	margin:0 auto;
}
/* BEGIN HEADER */
#header {
	margin:27px 0;
}
#header .left {
	width:600px;
}
#header .left #logo {
	float:left;
	padding:0 35px 0 0;
}
#header .left #slogan {
	float:left;
	font-size:13px;
	color:#666666;
	border-left:1px solid #DFDFDF;
	padding:0px 0 0px 35px;
	margin-top:8px;
}
#header .right {
	text-align:right;
	font-size:21px;
	width:390px;
	padding:1px 0 0 0;
}
#header .right .image {
	margin-left:25px;
	vertical-align:middle;
}
#header .right div {
	display:inline;
}
#header .right .items {
	color:#3F9FFF;
	padding:0 24px 0 0;
	background:url(images/sp.jpg) right 7px no-repeat;
	text-decoration:none;
    font-size:14px;
}
#header .right .prices {
	color:#666666;
	padding:0 0 0 24px;
    font-size:14px;
}
/* BEGINA NAVIGATION */
#navigation {
	height:57px;
	background:url(images/navigation.jpg) left top no-repeat;
	text-transform:uppercase;
	font-weight:bold;
}
#navigation a {
	font-size:14px;
	color:#333333;
	text-decoration:none;
}
#navigation ul li {
	float:left;
	border-right:1px solid #dfdfdf;
	padding:2px 1px;
	position:relative;
}
#navigation ul li ul li {
	float:none;
	border-right:0;
	padding:1px 0;
	border-bottom:1px solid #e3e3e3;
}
#navigation ul li a {
	display:block;
	padding:21px 23px 0 23px;
	height:32px;
	color:#333333;
	font-size:12px;
}
#navigation ul li a:hover{
	color:#e50c00;
}

#navigation ul li ul li a {
	padding:10px;
	display:block;
	color:#666666;
	text-decoration:none;
	height:auto;
	font-size:12px;
	margin:0;
}
#navigation ul li a:hover {
	background:#ececec;
}
#navigation ul li ul li a:hover {
	color:#3F9FFF;
	background:#efeeee;
}
#navigation ul li.home {
	padding:0;
}
#navigation ul li.home a {
	padding:23px 33px 2px 33px;
}
#navigation ul li.home a:hover {
	background:url(images/homeHover.jpg) left top no-repeat;
}
#navigation ul li .hover {
	padding:15px;
	position:absolute;
	top: 58px;
	background:#eaeaea;
	z-index:3;
	left:-1px;
	width:180px;/* MOD */
}
#navigation ul li .hover .last {
	border-bottom:0;
}
/* BEGIN SEARCH */
#navigation #search {
	float:right;
	width:252px;
	height:34px;
	background:url(images/search.png) left top no-repeat;
	margin:11px 33px 0 0;
	position:relative;
}
#navigation #search .submit {
	position:absolute;
	width:16px;
	height:14px;
	background:url(images/bSearch.png) left top no-repeat;
	left: 13px;
	top: 10px;
	border:0;
}
#navigation #search .text {
	position:absolute;
	background:none;
	border:0;
	left: 41px;
	top: 8px;
	width: 195px;
	font-size:12px;
	color:#666666;
}
/* BEGIN SIDEBAR */
#sidebar {
	float:left;
	width:230px;
	margin-right:32px;
}
#sidebar .box {
	border:1px solid #dfdfdf;
	margin-bottom:32px;
}
#sidebar ol {
color:#0099FF;
font-size:11px;
margin:0;
padding:20px 20px 6px 29px;
font-weight:bold;

}
#sidebar ol li{
padding:0 0 16px 3px;
}
#sidebar ol li a{
color:#666666;font-size:12px;
text-decoration:none;
line-height:162%;
font-weight:normal;}
#sidebar ol li a:hover {
    color:#999999;
}
#sidebar .box .title span {
	display:block;
	background:#f9f9f9 url(images/tBox.jpg) 10px center no-repeat;
	padding:10px 0 8px 30px;
	font-size:19px;
	color:#333333;
}
#sidebar .box .title {
	padding:1px;
	border-bottom:1px solid #dfdfdf;
	font-size:19px;
}
#sidebar .box ul {
	padding:0 10px;
}
#sidebar .box ul li {
	padding:1px 0;
	border-bottom:1px solid #e3e3e3;
}
#sidebar .box ul li a {
	padding:15px 10px;
	display:block;
	color:#666666;
	text-decoration:none;
	font-size:12px;
}
#sidebar .box ul li a:hover {
	color:#3F9FFF;
	background:#fbfafa;
}
#sidebar .box ul li.last {/* MOD */
	border-bottom:0px;
}
#sidebar #icons {
	text-align:left;
	padding-left:32px;
}
#sidebar #icons img {
}
/* BEGIN CONTENT */
#main {
	background:#ffffff;
	border:1px solid #dfdfdf;
	border-top:0px;
	padding:10px 30px 30px 30px;
}
#content {
	float:left;
	width:662px;
}
#title {
	font-size:24px;
	background:url(images/tContent.jpg) left center no-repeat;
	padding:2px 0 0 28px;
	margin-bottom:28px;
	margin-top:-5px;
}
#titleExt {
	background:#ffffff url(images/titleExt.jpg) left top repeat-x;
	border:1px solid #e6e6e6;
	padding:15px;
	margin-bottom:0px;
}
#titleExt .left {
	background:url(images/play.png) left center no-repeat;
	font-size:18px;
	padding:2px 0 0 25px;
}
#titleExt .left a {
	color:#666666;
	text-decoration:none;
}
#titleExt .left a:hover {
	color:#999999;
}
#titleExt .left .ext {
	color:#999999;
}
#titleExt .right {
	font-size:11px;
	padding:7px 0 0 0;
}
#titleExt .right span {
	text-decoration:underline;
	color:#3F9FFF;
	font-weight:bold;
}
#titleExt .right .date {/* MOD*/
	text-decoration:none;
}
/* BEGIN PRODUCTS */

/* START MOD */
ul.products li .image {
	display:block;
	background:#fefefe;
	border:1px solid #e3e3e3;
	width:308px;
	height:202px;
	margin:0 0 10px 0;
	text-align:center;
}
ul.products li .name {
	font-size:15px;
	padding:0 0 5px 0;
}
ul.products li .name a {
	text-decoration:none;
	color:#666666;
}
ul.products li .name a:hover {
	color:#999999;
}
ul.products li {
	float:left;
	margin:0 42px 29px 0;
	display:block;
}
ul.products li .price {
	font-size:13px;
	color:#3F9FFF;
	float:left;
}
ul.products li .compare {
	font-size:13px;
	color:#3F9FFF;
	float:right;
}
ul.products li .compare a{
	text-decoration: none;
}

ul.products li.last {/*MOD*/
	margin-right:0;
}
/* END MOD */
#gopages {
	font-size:12px;
	color:#333333;
	word-spacing:2px;
	text-align:right;
	border-top:1px solid #e6e6e6;
	padding:32px 0 0 0;
}
#gopages a {
	color:#333333;
	text-decoration:none;
}
#gopages a:hover {
	text-decoration:underline;
}
#gopages .prev {
	margin:0 10px 0 0;
}
#gopages .next {
	margin:0 0 0 10px;
}
#gopages img {
	vertical-align:middle;
}
#gopages a.current {
	text-decoration:underline;
}
#gopages a.current:hover {
	text-decoration:none;
}
/* BEGIN FOOTER */
#footer {
	width:990px;
	margin:0 auto;
	padding:35px 0;
	color:#999999;
}
#footer .left {
	font-size:14px;
	line-height:167%;
}
#footer .left .credits {
	font-size:12px;
}
#footer .right {
	font-size:12px;

}
#footer li{
float:left;
padding:0 15px;
background:url(images/sp2.jpg) right center no-repeat;
}
#footer li.last{
padding-right:0;
background:none;
}
#footer a {
	color:#999999;

	text-decoration:none;
}
#footer a:hover {
	text-decoration:underline;
}

/*** ADDITIONS ***/
#content{
    width:100%;
    float:none;
}
ul.products li{
    margin-right:20px;
    width: 220px;
	float:left;
}
ul.products li.last{
    margin-right:0;
}
ul.products li.separator {
	clear:both; 
	float:none; 
	margin:0;
	padding:0;
}

ul.products li .image{
    width:220px;
    height:170px;
}

/**
 *  Блок дерева категорий.
 */
#categories_menu_tree {
    float:left;
    width:200px;
}

#categories_menu_tree .brand {
	border: 1px solid #E3E3E3;
	text-align: center;
	font-size:12px;
	padding:5px;
}
#categories_menu_tree .time_work {
	border: 1px solid #E3E3E3;
	font-size:12px;
	padding:5px;
}
#categories_menu_tree .news{
	border: 1px solid #E3E3E3;
	font-size:12px;
	padding:5px;
}
#categories_menu_tree .newsitem{
	margin-bottom:10px;
}
#categories_menu_tree .newsitem span{
	font-size:11px;
	font-weight: bold;
}
#categories_menu_tree .newsitem p{
	margin: 0 0 5px 0;
}
#categories_menu_tree h3 {
	color: #666666;
    font-size: 18px;
	margin:0px;
	font-weight:normal;
}

/**
 *  Стили списка дерева категорий
 */
ul.categories_tree_list {
    list-style:none;
}

ul.categories_tree_list li {
    margin-bottom:10px;
	color:#e50c00;
	font-weight:bold;
	font-size: 18px;
}

ul.categories_tree_list li a {
    font-size:18px;
    color:#666; 
	font-weight:normal;
}

ul.categories_tree_list li a:hover {
    color:#e50c00;
}

ul.categories_tree_list ul {
    list-style:none;
    margin:10px 0px 10px 20px;
}

ul.categories_tree_list ul li {
    margin-bottom:10px;
    font-size:12px;
	color:#e50c00;
}

ul.categories_tree_list ul li a {
    color:#3F9FFF;
    font-size:12px;
}

ul.categories_tree_list ul li a:hover {
    color:#e50c00;
}

/** FORMS **/
form .fieldName {
    float:left;
    width:190px;
    padding-top:3px;
}

form .field {
    float:left;
}

form .input {
    width:300px;
    border: 1px solid #E3E3E3;
    padding:3px;
}

form .clear {
    clear:both;
    padding-bottom:10px;
}

/**
 *  Блок списка товаров.
 */
div.products_list {
    float:left;
    width:700px;
    margin-left:25px;
}

/* Корзина */
.cartTable tbody tr {
    background-color:#F8F8F8;
}
.cartTable .delete {
    color: #C00;
    font-size: 13px;
    font-weight: bold; 
    text-decoration:none;
}
.cartTable .admin {
    width:15px;
}

#table {
    margin-bottom:32px;
}
#table .head {
    margin-bottom:32px;
}
#table .head li {
    display:block;
    float:left;
    font-size:18px;
}
#table .rows .row {
    background:#f8f8f8;
    padding:20px;
    margin-bottom:1px;
}
#table .rows .row li {
    float:left;
    display:block;
}
#table .rows .row .preview {
    width:95px;
    border:1px solid #E3E3E3;
    text-align:center;
    padding:20px;
    background:#ffffff;
}
#table .rows .row .title {
    font-size:24px;
    padding:22px 0 0 20px;
    width:180px;
}
#table a {
    color:#666666;
    text-decoration:none;
}
#table a:hover {
    color:#999999;
}
#table .rows .row .price, #table .rows .row .total {
    padding-top:26px;
}
#table .rows .row .price, #table .rows .row .total {
    font-size:15px;
    color:#3F9FFF;
    padding-right:20px;
    padding-left:20px;
}
#table .rows .row .quantity {
}
#table .rows .row .quantity .top {
    width:122px;
    padding:13px 0;
    color:#999999;
    font-size:22px;
    text-align:center;
    border:1px solid #eeeeee;
    background:#eaeaea;
}
#table .rows .row .quantity .bottom {
}
#table .rows .row .quantity .bottom .less, #table .rows .row .quantity .bottom .plus {
    display:block;
    float:left;
    width:60px;
    height:18px;
    background:#999999;
    border:1px solid #c9c9c9;
    color:#FFFFFF;
    text-align:center;
    text-decoration:none;
}
#table .rows .row .quantity .bottom .less {
    background:#999999 center center url(images/less.jpg) no-repeat;
}
#table .rows .row .quantity .bottom .plus {
    background:#999999 center center url(images/plus.jpg) no-repeat;
}
#table .rows .row .admin {
    color:#cc0000;
    font-size:13px;
    float:right;
    font-weight:bold;
    padding-top:28px;
    padding-right:10px;
}
#table .rows .row .admin a {
    color:#cc0000;
}
#table .rows .li2 {
    background:#f2f2f2;
}
#table .head .preview {
    padding:0 0 0 20px;
    width:157px;
}
#table .head .title {
    width:204px;
}
#table .head .price {
    width:73px;
}
#table .head .quantity {
    width:146px;
}
#total {
    text-align:right;
}
#total .label {
    font-size:22px;
    float:right;
    margin:30px 40px 20px 20px;
}
#total .value {
    font-size:24px;
    width:290px;
    height:52px;
    background:#fefefe;
    border:1px solid #e3e3e3;
    display:block;
    float:right;
    color:#3F9FFF;
    text-align:center;
    padding:26px 0 0 0;
}
#buttons {
    margin:32px 0 52px 0;
    padding:32px 0;
    border-top:1px solid #e3e3e3; 
} 
#buttons a {
    float:right;
    font-size:22px; 
    color:#666666; 
    text-decoration:none; 
    padding:11px 40px 0 0; 
} 
#buttons a:hover { 
    color:#999999; 
} 
#buttons #checkout { 
    display:block; 
    width:148px; 
    height:29px; 
    background:url(images/checkout.jpg) left top no-repeat; 
    padding:13px 0 0 45px; 
    font-weight:bold; 
    font-size:14px; 
} 
#buttons #checkout:hover { 
    color:#666666; 
} 

ul.deliveryMethods h3 {
    font-size:16px;
    margin:0px;
    padding:0px;
}

ul.deliveryMethods li div.desc {
    font-size:13px;
    margin:0 0 0 20px;
}

.spLine {
    height:1px;
    border-top: 1px solid #E3E3E3;
    margin-bottom:5px;
}
.errors {
    margin-bottom:15px;
    margin-top:5px;
    padding:5px;
    line-height:15px;
    border:1px solid #FFBBBB;
    border-top:4px solid #FFBBBB;
    background-color: #FFDDDD;
    font-size:13px;
}
.errors p {
    margin:0;
    padding:0;
}
#categoryPath {
    border-top:1px solid none;
    font-size:12px;
    padding-left:26px;
    margin-top:5px;
}
#categoryPath a {
    margin-top:5px;
    color:#666;
}
#brands_list {
    color:#D6D6D6;
    margin-bottom:30px;
    text-align:right;
    margin-left:42px;
}
#brands_list a {
    color:#3F9FFF;
    font-size:12px;
    text-decoration:none;
}
#brands_list a:hover {
    color:#e50c00;
}
#brands_list a.active {
    font-weight:bold;
}

#filterBox {
    position:absolute;
    z-index:9999;
    width:400px;
    margin-left:-254px;
    background-color:#fff;
    border:2px solid silver;
    padding:10px;
    font-size:12px;
    display:none;
}

form.commentForm {
    line-height: 25px;
}

form p.clear {
	clear: both;
    font-size:12px;
}

label.left{
	display: inline;
	float: left;
	width: 140px;
	width: "150px";
	padding-right: 10px;
	vertical-align: middle;
    text-align: left;
}

form .el_magrin {
    margin-left:150px;
}

label.required {
    font-weight:bold;
}

input[type=text], input[type=password] {
    border:1px solid #B9B9B9;
	font-size: 12px;
    width:200px;
    padding:2px;
    color:#333;
}

form textarea {
    border:1px solid #B9B9B9;
    margin-bottom:0px;
    padding:2px;
}

fieldset {
	margin-bottom: 20px;
	padding: 10px;
	border: 0px;
}

legend {
	font-size: 13px;
    color:#D50400;
    font-weight:bold;
}

form .help_text {
    color:#8E8E8E;
    margin-left:150px;
    float:left;
    clear:both;
    font-size:11px;
    margin-bottom:0px;
    padding:0px;
}

form .error_field_text {
    color:#E34141;
}

form .field_error {
    border:1px solid #E34141;
}

.errors {
    margin-bottom:15px;
    margin-top:5px;
    padding:5px;
    line-height:15px;
    border:1px solid #FFBBBB;
    border-top:4px solid #FFBBBB;
    background-color: #FFDDDD;
}
div.comment {
    position:relative;
    width:600px;
    height:50px;
}

div.comment_avatar {
    padding:4px;
    height:50px;
    float:left;
    overflow:hidden;
    font-size:11px;
    width:100px;
}
#topCurrency {
    font-size:13px;
    float:right;
    margin-top:10px;
}
.highlight {
    color:#6495ed;
    font-weight:bold;
    padding:2px;
}
.orderViewInfo {
    padding-top:5px;
    padding-bottom:10px;
    font-size:13px;
}
.topCompareInfo {
    float:right;
	margin: 5px 0 0 0;
}
.topCompareInfo a {
    font-size:12px;
    color:silver;
    text-decoration:none;   
	text-decoration:underline;
}
.priceLight {
    font-size:15px;
    font-weight:bold;
    background-color:#f5f5dc;
    padding:3px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}