<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ImageCMS Lite</title>
<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />
</head>

<body>
<div class="all">
	<div class="left">
   	 	<div class="top">
			<div class="logo"><a href="#"><img src="images/logo.jpg" /></a></div>
   			<div class="search">
            	<form>
                	<input name="search" type="text" value="поиск" />
                    <input type="image" id="inputimg" src="images/submit.jpg" />
                </form>
            </div>
    	</div>
		<div class="topmenu">
    		<ul>
            	<li><div class="menuact"><div class="menuactleft"><div class="menuactright"><div class="menuacttext">Главная</div></div></div></div></li>
                <li><div class="menuinact"><a href="#">О блоге</a></div></li>
                <li><div class="menuinact"><a href="#">Что такое RSS?</a></div></li>
            </ul>
		</div>
        <div class="post">
        	<h2><a href="#">Запуск сайта ImageCMS</a></h2>
            <p>Хочу предоставить вам разработанную компанией ООО "Сайт Имидж" систему управления сайтом ImageCMS. Система перешла из демо-версии на стадию бета тестирования. В связи с этим приглашаю всех желающих оценить сайт системы и саму систему.</p>
            <p><img src="images/logo.jpg" /></p>
            <p>В скором времени планируется запуск демо-версий ImageCMS Lite и ImageCMS Pro. Все события в развитии системы я буду описывать дополнительно на этом блоге.</p>
            <div class="postbot">
            	<div class="date">02 октября, 2009 | Раздел: <a href="#">Новости</a></div>
                <div class="commentsnum"><a href="#">Комментарии (8)</a></div>
            </div>
        </div>
        <div class="post">
        	<h2><a href="#">Запуск сайта ImageCMS</a></h2>
            <p>Хочу предоставить вам разработанную компанией ООО "Сайт Имидж" систему управления сайтом ImageCMS. Система перешла из демо-версии на стадию бета тестирования. В связи с этим приглашаю всех желающих оценить сайт системы и саму систему.</p>
            <p><img src="images/logo.jpg" /></p>
            <p>В скором времени планируется запуск демо-версий ImageCMS Lite и ImageCMS Pro. Все события в развитии системы я буду описывать дополнительно на этом блоге.</p>
            <div class="postbot">
            	<div class="date">02 октября, 2009 | Раздел: <a href="#">Новости</a></div>
                <div class="commentsnum"><a href="#">Комментарии (8)</a></div>
            </div>
        </div>
        <div class="post">
        	<h2><a href="#">Запуск сайта ImageCMS</a></h2>
            <p>Хочу предоставить вам разработанную компанией ООО "Сайт Имидж" систему управления сайтом ImageCMS. Система перешла из демо-версии на стадию бета тестирования. В связи с этим приглашаю всех желающих оценить сайт системы и саму систему.</p>
            <p><img src="images/logo.jpg" /></p>
            <p>В скором времени планируется запуск демо-версий ImageCMS Lite и ImageCMS Pro. Все события в развитии системы я буду описывать дополнительно на этом блоге.</p>
            <div class="postbot">
            	<div class="date">02 октября, 2009 | Раздел: <a href="#">Новости</a></div>
                <div class="commentsnum"><a href="#">Комментарии (8)</a></div>
            </div>
        </div>
        <div class="post">
        	<h2><a href="#">Запуск сайта ImageCMS</a></h2>
            <p>Хочу предоставить вам разработанную компанией ООО "Сайт Имидж" систему управления сайтом ImageCMS. Система перешла из демо-версии на стадию бета тестирования. В связи с этим приглашаю всех желающих оценить сайт системы и саму систему.</p>
            <p><img src="images/logo.jpg" /></p>
            <p>В скором времени планируется запуск демо-версий ImageCMS Lite и ImageCMS Pro. Все события в развитии системы я буду описывать дополнительно на этом блоге.</p>
            <div class="postbot">
            	<div class="date">02 октября, 2009 | Раздел: <a href="#">Новости</a></div>
                <div class="commentsnum"><a href="#">Комментарии (8)</a></div>
            </div>
        </div>
        <div class="post">
        	<h2><a href="#">Запуск сайта ImageCMS</a></h2>
            <p>Хочу предоставить вам разработанную компанией ООО "Сайт Имидж" систему управления сайтом ImageCMS. Система перешла из демо-версии на стадию бета тестирования. В связи с этим приглашаю всех желающих оценить сайт системы и саму систему.</p>
            <p><img src="images/logo.jpg" /></p>
            <p>В скором времени планируется запуск демо-версий ImageCMS Lite и ImageCMS Pro. Все события в развитии системы я буду описывать дополнительно на этом блоге.</p>
            <div class="postbot">
            	<div class="date">02 октября, 2009 | Раздел: <a href="#">Новости</a></div>
                <div class="commentsnum"><a href="#">Комментарии (8)</a></div>
            </div>
        </div>
        <div class="pagination">
        	<img src="images/leftico.jpg" /><span>1</span><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a> <a href="#"><img src="images/rightico.jpg" /></a>
        </div>
     </div>
     <div class="right">
     	<div class="subscribe">
        	<div class="righttopbg"></div>
            <div class="rightmidbg">
            	<h3>Подписка на блог</h3>
                <div class="rssico"><a href="#"><img src="images/rssico.png" /></a></div>
                <div class="rsscount">
                	<p><a href="#">RSS записей блога</a></p>
                    <p><a href="#"><img src="images/rsscount.jpg" /></a></p>
                </div>
                <h4>E-mail рассылка:</h4>
                <form>
                	<input type="text" name="email" />
                    <input type="image" id="inputimg" src="images/subscrbutton.jpg" />
                </form>
                
            </div>
            <div class="rightbotbg"></div>
        </div>
        
        <div class="category">
        	<div class="righttopbg"></div>
            <div class="rightmidbg">
            	<h3>Категории</h3>
                <div class="categorylist">
                	<ul>
                    	<li><img src="images/categoryico.jpg" /> <a href="#">Категория 1 (100)</a></li>
                        <li><img src="images/categoryico.jpg" /> <a href="#">Категория 2 (46)</a></li>
                        <li><img src="images/categoryico.jpg" /> <a href="#">Категория 3 (35)</a></li>
                        <li><img src="images/categoryico.jpg" /> <a href="#">Категория 4 (24)</a></li>
                        <li><img src="images/categoryico.jpg" /> <a href="#">Категория 5 (20)</a></li>
                        <li><img src="images/categoryico.jpg" /> <a href="#">Категория 6 (15)</a></li>
                        <li><img src="images/categoryico.jpg" /> <a href="#">Категория 7 (4)</a></li>
                        <li><img src="images/categoryico.jpg" /> <a href="#">Категория 8 (3)</a></li>
                        <li><img src="images/categoryico.jpg" /> <a href="#">Категория 9 (2)</a></li>
                        <li><img src="images/categoryico.jpg" /> <a href="#">Категория 10 (1)</a></li>
                    </ul>
                </div>
            </div>
            <div class="rightbotbg"></div>
        </div>
        <div class="tags"></div>
        <div class="comments">
        	<div class="righttopbg"></div>
            <div class="rightmidbg">
            	<h3>Комментарии</h3>
                <div class="commentslist">
                	<ul>
                    	<li><img src="images/commentico.jpg"/> <a href="#">Неизвестный</a>: <a href="#">А мне понравилось, вообще прикол в этом.</a></li>
                        <li><img src="images/commentico.jpg" /> <a href="#">Nassne</a>: <a href="#">Да бросьте, что в этом интересного то, я думаю...</a></li>
                        <li><img src="images/commentico.jpg" /> <a href="#">Неизвестный</a>: <a href="#">А мне понравилось, вообще прикол в этом.</a></li>
                        <li><img src="images/commentico.jpg" /> <a href="#">Nassne</a>: <a href="#">Да бросьте, что в этом интересного то, я думаю...</a></li>
                        <li><img src="images/commentico.jpg" /> <a href="#">Неизвестный</a>: <a href="#">А мне понравилось, вообще прикол в этом.</a></li>
                        <li><img src="images/commentico.jpg" /> <a href="#">Nassne</a>: <a href="#">Да бросьте, что в этом интересного то, я думаю...</a></li>
                        <li><img src="images/commentico.jpg" /> <a href="#">Неизвестный</a>: <a href="#">А мне понравилось, вообще прикол в этом.</a></li>
                        <li><img src="images/commentico.jpg" /> <a href="#">Nassne</a>: <a href="#">Да бросьте, что в этом интересного то, я думаю...</a></li>
                        <li><img src="images/commentico.jpg" /> <a href="#">Неизвестный</a>: <a href="#">А мне понравилось, вообще прикол в этом.</a></li>
                        <li><img src="images/commentico.jpg" /> <a href="#">Nassne</a>: <a href="#">Да бросьте, что в этом интересного то, я думаю...</a></li>
                    </ul>
                </div>
            </div>
            <div class="rightbotbg"></div>
        </div>
     </div>
</div>
<div class="bottom">
	<div class="all">
    	<div class="botlogo">
        	<img src="images/bot_logo.jpg" />
        </div>
        <div class="copy">
        	&copy; 2009 Сайт работает на <a href="http://www.imagecms.net">ImageCMS Lite</a>
        </div>
        <div class="botmenu">
        	<ul>
            	<li><img src="images/homeico.jpg"/> <a href="#">Главная</a></li>
                <li><img src="images/aboutico.jpg"/> <a href="#">О блоге</a></li>
                <li><img src="images/rssico.jpg"/> <a href="#">Что такое RSS?</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
