@charset "utf-8";

/* CSS Document 
 * ImageCMS Default Theme
 * Author dev@imagecms.net
 */

*{ 
    padding:0px; 
    margin:0px; 
    outline:none; 
    font-family:Tahoma, Geneva, sans-serif; 
    font-size:12px;
}

body { 
    background:url(../images/body_bg.png) repeat-x top center;
}

.all {
    width:885px; 
    margin:auto;
    margin-top:25px;
}

.clear { 
    clear:both; 
    font-size:0px;
}

img { 
    border:0px;
}

a { 
    color:#0099cc;
}

a:hover{ 
    text-decoration:none;
}

h1 { 
    font-weight:bold; 
    font-size:15px; 
    color:#D50400;
}

h2 { 
    font-weight:bold;
    font-size:13px;color:#333;
}

.topmenu {
    float:right; 
    position:relative; 
    top:8px; 
    margin-right:9px;
}

.topmenu ul {
    list-style:none;
}

.topmenu ul li {
    float:left; 
    margin-left:14px; 
    width:109px; 
    height:27px;
}

.topmenu ul li { 
    display:block; 
    width:109px; 
    height:20px; 
    font-size:12px; 
    background:url(../images/mainmenu_top.gif) top; 
    text-align:center; 
    padding-top:7px;
}

.topmenu a { 
    color:#666666; 
    text-decoration:none; 
    font-weight:bold; 
}

.bg_line {
    background-image:url('../images/content_bg_line.jpg');
    background-repeat:repeat-y;
}

.topmenu ul li:hover, .topmenu .active {
    background:url(../images/mainmenu_top.gif) bottom;
}

.mbody { 
    background:url(../images/mainbody_bg.png) repeat-y;
}

.mbody_top {
    background:url(../images/mainbody_top.png) repeat-x;
}

.top_left_corner {
    background:url(../images/mainbody_corner_left.png) no-repeat left top;
}

.top_rigt_corner {
    background:url(../images/mainbody_corner_right.png) no-repeat right top;
}

.mbody_bot {
    background:url(../images/mainbody_bottom.png) repeat-x bottom; height:20px;
}

.mbody_bot_line { 
    width:1px; 
    height:12px; 
    font-size:0px; 
    background-color:#ebebeb; 
    margin-left:221px;
}

.bot_left_corner {
    background:url(../images/bottom_corner_left.png) no-repeat left; 
    height:20px;
}

.bot_right_corner {
    background:url(../images/bottom_corner_right.png) no-repeat right; 
    height:20px; 
    padding:0px 21px 0px 21px
}

.center { 
    padding:0px 9px 0px 9px;
}

.logo { 
    padding:13px 0px 3px 20px;
}

.top_image {
    background:url(../images/line.jpg) no-repeat #ebebeb center; 
    height:46px;
}

div.content {
	overflow:hidden;
    position:relative;
}

div.left {
    width:213px;
    float:left;
    position:relative;
    padding:10px 10px 10px 10px;
    margin:0px 0px 0px 0px;
}

div.right {
    overflow:hidden; 
    padding:10px 10px 10px 10px;
    margin:0px 0px 0px 0px;
    color:#666666;
}

.sidebar ul { 
    list-style:none; 
    margin:5px 0px 5px 0px;
}

.sidebar ul li { 
    margin:0px 0px 4px 0px;
}

.sidebar ul li a {
    color:#666666; text-decoration:none;
}

.sidebar ul li a:hover, #leftactive {
    color:#0099cc;
}

.sidebar p {
    font-size:11px; 
    padding:5px 0px 5px 0px; 
    color:#333333;
}

.arrow {
    color:#333;
    text-decoration:none;
}

.separator { 
    background-color:#ebebeb; 
    height:1px; 
    font-size:0px; 
    margin:10px 0px 10px 0px;
}

.search {
    margin-top:20px;
}

#inputtext { 
    border:1px solid #0199cc; 
    float:left; 
    border-right:0px; 
    width:146px; 
    padding:3px 4px 4px 4px;
}

.post{ 
    margin:0px 0px 20px 0px;
}

.post .post-pub-info, .post-pub-info  a{ 
    font-size:11px;
}
.post p { 
    padding:5px 0px 5px 0px; text-align:justify
}

.post h1, h1 a {
    font-size: 15px;
    text-decoration:none;
    color:#D50400;
}

.post .postinfo a {
    font-size: 11px;
}

/*** Comments list ***/
div.comment {
    position:relative;
    width:600px;
    height:50px;
}

div.comment_avatar {
    padding:4px;
    height:50px;
    float:left;
    overflow:hidden;
    font-size:11px;
    width:150px;
}

.copy {
    color: #969696;
    padding-right:15px;
}
