/*comments*/
.comments:after, .comments .func-button-comment:after{visibility: hidden;display: block;font-size: 0;content: ".";clear: both;height: 0;}
.comments .comments-main-form{padding-bottom: 40px;}
.comments{padding-bottom: 35px !important;}
.comments .title-comment{font-weight: bold;}
.comments .main-form-comments .frame-form-field{margin-left: 0;}
.frame-autor-comment{display: block;}
.comments .author-comment{color: #000;font-size:12px;font-weight: bold;}
.comments .date-comment{color: #b1b1b1;}
.comments .frame-list-comments > .sub-1{margin: 0;}
.comments .frame-comment-sub1 .frame-comment{}
.comments .frame-comment-sub1{margin-left: 122px;margin-right: 110px;}
.comments .frame-comment p{margin-bottom: 9px;}
.comments .frame-list-comments.sub-2{float: none;width: auto;max-height: 213px;overflow: hidden;padding-left: 165px;margin: 0;}
.comments .btn-all-comments{margin-left: 0;margin-top: 5px;}

.comments .btn > *, .comments input.btn{padding: 0 !important;}
.comments .frame-list-comments .btn{background-image: none !important;border: none !important;}
.comments .frame-list-comments .btn.active{-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}
.comments .icon_comment{background-image: none;width: 0;height: 0;margin-right: 0!important;overflow: hidden;}
.comments .frame-list-comments li{border-top: 0;padding: 0;}
.comments .frame-list-comments li:before{content: none;}
.comments .frame-list-comments > .sub-1 > li{margin-top: 29px;margin-bottom: 0;}
.comments .frame-list-comments > .sub-1 > li:first-child{border-top: 0;padding-top: 0;margin-top: 0;}
.comments .frame-list-comments.sub-2 + .btn-all-comments{margin-left: 165px;}
.comments .frame-list-comments.sub-2 > li{position: relative;}
.comments .global-frame-comment-sub2{padding: 11px 0 5px;}
.comments .funcs-buttons-comment + .frame-list-comments{padding-top: 1px;}
.comments .like > button span span, .comments .dis-like > button span span{font-weight: normal;}
.comments .author-data-comment-sub1 {margin-bottom: 3px;float: left;width: 122px;}
.comments .s-all-comments{margin-top: 7px;}

.comments .btn-form input{padding: 0 33px !important;}
.comments .frame-drop-comment{padding-bottom: 0;display: none;width: auto;margin: 0 3px;}

.comments .frame-list-comments .frame-drop-comment{padding: 25px 0 0;}
.comments .frame-drop-comment + .frame-list-comments{padding-top: 25px;}
.comments .title-comment{margin-bottom: 20px;font-size: 18px;font-weight: normal;}
.comments label{display: block;}
.comments label, .comments .frame-label{margin-bottom: 12px;display: block;}
.comments label .title, .comments .frame-label .title{float: left;width: 128px;padding-right: 10px;margin-top: 6px;text-align: right;}
.comments .main-form-comments .title{float: none;width: auto;font-weight: bold;}
.comments .frame-form-field{position: relative;display: block;}
.comments textarea{height: 134px; padding-top: 5px}
.comments .btn{display: inline-block;cursor: pointer;color: #555;text-decoration: none;position: relative;}
.comments .btn > *, .comments input.btn{padding: 5px 15px 5px;}
.comments .btn.active{cursor: default;}
.comments .btn.active{color: #979797;}
.comments .like{margin-right: 10px;}
.comments .like > button, .comments .dis-like > button{font-weight: bold;border-bottom: 0;}
.comments .frame-form-field{margin-left: 138px;}
.comments .mark-pr{margin-bottom: 4px;}
.comments .mark-pr .title{font-weight: bold;}
.comments .mark-pr > .star-small{position: relative;top: 2px;}
.author-data-comment-sub2{margin-bottom: 5px;}

.comments .frame-mark{float: right;width: 90px;margin-top: 5px;}
.comments .comments-main-form{max-width: 650px;}
.comments .comments-main-form.noComments{float: none;}
.comments .title-default > .title{padding: 0;}
.comments .frame-drop-comment .title-comment{padding-left: 137px;margin-bottom: 0;}
.forComments{position: relative;}
#comment .preloader{top: 15px;}
/*/comments*/
