<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<div class="fancy fancy_cleaner frame_head_content">
<div class="header_title">Ваша корзина
</div>
<button type="button" class="icon-times-enter" data-closed="closed-js" onclick="togglePopupCart()"></button>
<div class="drop-content">
<div class="inside_padd">

    <div class="msg" style="display: none;"><div class="success">Ваша корзина пуста.</div></div>

    <table class="table table_order">
        <colgroup>
            <col width="20px"/>
            <col width="80px"/>
            <col width="260px"/>
            <col width="140px"/>
            <col width="140px"/>
        </colgroup>
        <tbody>


        <!-- for single product -->

        <!-- for product kit -->







        <tr class="cartKit" data-prodid="84,116,79" data-varid="90" id="popupKit_84,116,79_90">
                                <td colspan="5">
        <table>
            <colgroup>
                <col width="20px">
                <col width="80px">
                <col width="260px">
                <col width="140px">
                <col width="140px">
            </colgroup>
            <tbody>





            <tr>
                <td rowspan="3"><span class="times d_i-b" onclick="rmFromPopupCart(this, true);">×</span></td>
                <td>
                    <a class="photo" href="#">
                        <figure>
                            <img src="/uploads/shop/84_mainMod.jpg">
                        </figure>
                    </a>
                </td>
                <td>
                    <a href="#">Panasonic DMP-BD45 Ultra-Fast</a>
                    <div class="price price_f-s_16">
                        <span class="first_cash"><span class="f-w_b">85.93</span> RUR</span>
                    </div>
                </td>
                <td rowspan="3">
                    <div class="frame_count number d_i-b v-a_m">
                        <div class="frame_change_count" data-prodid="84,116,79" data-varid="90" data-price="426.07" data-kit="true">
                            <button id="plus" class="d_b btn_small btn plus" type="button">
                                <span class="icon-plus"></span>
                            </button>
                            <button id="minus" class="d_b btn_small btn minus" type="button">
                                <span class="icon-minus"></span>
                            </button>
                        </div>
                        <input type="text" data-min="1" data-title="только цифры" data-rel="plusminus" value="1">
                    </div>
                    <span class="v-a_m">компл.</span>
                </td>
                <td rowspan="3">
                    <span>Сумма: </span>
                    <div class="price price_f-s_16 d_i-b">
                        <span class="first_cash"><span class="f-w_b">426.07</span> RUR</span>
                    </div>
                </td>
            </tr>







            <tr>
                <td>
                    <a class="d_i-b photo" href="#">
                        <figure>
                            <img src="/uploads/shop/116_mainMod.jpg">
                        </figure>
                    </a>
                </td>
                <td>
                    <a href="#">Pyle PLT-AB8 Subwoofer - PLTAB8</a>
                    <div class="price price_f-s_16">
                        <span class="first_cash"><span class="f-w_b">52.15</span> RUR</span>
                    </div>
                </td>
            </tr>






            <tr>
                <td>
                    <a class="d_i-b photo" href="#">
                        <figure>
                            <img src="/uploads/shop/79_mainMod.jpg">
                        </figure>
                    </a>
                </td>
                <td>
                    <a href="#">Epson Stylus Photo R2880 Color</a>
                    <div class="price price_f-s_16">
                        <span class="first_cash"><span class="f-w_b">288</span> RUR</span>
                    </div>
                </td>
            </tr>




            </tbody>
        </table>
        </td>
        </tr>






        <!-- for single product -->

        <tr data-prodid="84" data-varid="95" id="popupProduct_84_95">
            <td><span class="times d_i-b" onclick="rmFromPopupCart(this);">&times;</span></td>
            <td>
                <a href="http:&#x2F;&#x2F;img.loc&#x2F;shop&#x2F;product&#x2F;84" class="d_i-b photo">
                    <figure>
                        <img src="http:&#x2F;&#x2F;img.loc&#x2F;uploads&#x2F;shop&#x2F;84_small.jpg"/>
                    </figure>
                </a>
            </td>
            <td>
                <a href="http:&#x2F;&#x2F;img.loc&#x2F;shop&#x2F;product&#x2F;84">Panasonic DMP-BD45 Ultra-Fast</a><span class="c_97"></span>
                <div class="price price_f-s_16">
                    <span class="first_cash"><span class="f-w_b">90.45</span> RUR.</span>
                </div>
            </td>
            <td>
                <div class="frame_count number d_i-b v-a_m">
                    <div class="frame_change_count" data-prodid="84" data-varid="95" data-price="90.45" >
                        <button type="button" class="d_b btn_small btn plus">
                            <span class="icon-plus"></span>
                        </button>
                        <button type="button" class="d_b btn_small btn minus">
                            <span class="icon-minus"></span>
                        </button>
                    </div>
                    <input type="text" value="1" data-rel="plusminus" data-title="только цифры" data-min="1"  data-max="8"  />
                </div>
                <span class="v-a_m">шт.</span>
            </td>
            <td>
                <span class="d_b">Сумма: </span>
                <div class="price price_f-s_16 d_i-b">
                    <span class="first_cash"><span class="f-w_b">90.45</span> RUR</span>
                </div>
            </td>
        </tr>



        </tbody>
    </table>
</div>
<div class="inside_padd foot">
    <table class="table table_order">
        <colgroup>
            <col width="20px"/>
            <col width="80px"/>
            <col width="260px"/>
            <col width="140px"/>
            <col width="140px"/>
        </colgroup>
        <tfoot>
        <tr>


            <td colspan="4">
                <a href="/shop/cart" class="btn btn_cart m-r_30 f_r">Оформить заказ</a>
                <button type="button" onclick="togglePopupCart()" class="d_l_b w-s_n-w f_l">← Продолжить покупки</button>
            </td>


            <td style="padding-left: 0;">
                <div class="t-a_l d_i-b v-a_m">
                    <span class="d_b">Итого:</span>
                    <div class="price price_f-s_24">
                        <span class="first_cash"><span class="f-w_b" id="popupCartTotal">516.52</span> RUR</span>
                    </div>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
</div>
</div>

shop.js:250

<div class="fancy fancy_cleaner frame_head_content">
<div class="header_title">Ваша корзина
</div>
<button type="button" class="icon-times-enter" data-closed="closed-js" onclick="togglePopupCart()"></button>
<div class="drop-content">
<div class="inside_padd">

    <div class="msg" style="display: none;"><div class="success">Ваша корзина пуста.</div></div>

    <table class="table table_order">
        <colgroup>
            <col width="20px"/>
            <col width="80px"/>
            <col width="260px"/>
            <col width="140px"/>
            <col width="140px"/>
        </colgroup>
        <tbody>


        <!-- for single product -->

        <!-- for product kit -->







        <tr class="cartKit" data-prodid="84,116,79" data-varid="90" id="popupKit_84,116,79_90>
                                <td colspan="5">
        <table>
            <colgroup>
                <col width="20px">
                <col width="80px">
                <col width="260px">
                <col width="140px">
                <col width="140px">
            </colgroup>
            <tbody>





            <tr>
                <td rowspan="3"><span class="times d_i-b" onclick="rmFromPopupCart(this, true);">×</span></td>
                <td>
                    <a class="photo" href="#">
                        <figure>
                            <img src="/uploads/shop/84_mainMod.jpg">
                        </figure>
                    </a>
                </td>
                <td>
                    <a href="#">Panasonic DMP-BD45 Ultra-Fast</a>
                    <div class="price price_f-s_16">
                        <span class="first_cash"><span class="f-w_b">85.93</span> RUR</span>
                    </div>
                </td>
                <td rowspan="3">
                    <div class="frame_count number d_i-b v-a_m">
                        <div class="frame_change_count" data-prodid="84,116,79" data-varid="90" data-price="426.07" data-kit="true">
                            <button id="plus" class="d_b btn_small btn plus" type="button">
                                <span class="icon-plus"></span>
                            </button>
                            <button id="minus" class="d_b btn_small btn minus" type="button">
                                <span class="icon-minus"></span>
                            </button>
                        </div>
                        <input type="text" data-min="1" data-title="только цифры" data-rel="plusminus" value="1">
                    </div>
                    <span class="v-a_m">компл.</span>
                </td>
                <td rowspan="3">
                    <span>Сумма: </span>
                    <div class="price price_f-s_16 d_i-b">
                        <span class="first_cash"><span class="f-w_b">426.07</span> RUR</span>
                    </div>
                </td>
            </tr>







            <tr>
                <td>
                    <a class="d_i-b photo" href="#">
                        <figure>
                            <img src="/uploads/shop/116_mainMod.jpg">
                        </figure>
                    </a>
                </td>
                <td>
                    <a href="#">Pyle PLT-AB8 Subwoofer - PLTAB8</a>
                    <div class="price price_f-s_16">
                        <span class="first_cash"><span class="f-w_b">52.15</span> RUR</span>
                    </div>
                </td>
            </tr>






            <tr>
                <td>
                    <a class="d_i-b photo" href="#">
                        <figure>
                            <img src="/uploads/shop/79_mainMod.jpg">
                        </figure>
                    </a>
                </td>
                <td>
                    <a href="#">Epson Stylus Photo R2880 Color</a>
                    <div class="price price_f-s_16">
                        <span class="first_cash"><span class="f-w_b">288</span> RUR</span>
                    </div>
                </td>
            </tr>




            </tbody>
        </table>
        </td>
        </tr>






        <!-- for single product -->

        <tr data-prodid="84" data-varid="95" id="popupProduct_84_95">
            <td><span class="times d_i-b" onclick="rmFromPopupCart(this);">&times;</span></td>
            <td>
                <a href="http:&#x2F;&#x2F;img.loc&#x2F;shop&#x2F;product&#x2F;84" class="d_i-b photo">
                    <figure>
                        <img src="http:&#x2F;&#x2F;img.loc&#x2F;uploads&#x2F;shop&#x2F;84_small.jpg"/>
                    </figure>
                </a>
            </td>
            <td>
                <a href="http:&#x2F;&#x2F;img.loc&#x2F;shop&#x2F;product&#x2F;84">Panasonic DMP-BD45 Ultra-Fast</a><span class="c_97"></span>
                <div class="price price_f-s_16">
                    <span class="first_cash"><span class="f-w_b">90.45</span> RUR.</span>
                </div>
            </td>
            <td>
                <div class="frame_count number d_i-b v-a_m">
                    <div class="frame_change_count" data-prodid="84" data-varid="95" data-price="90.45" >
                        <button type="button" class="d_b btn_small btn plus">
                            <span class="icon-plus"></span>
                        </button>
                        <button type="button" class="d_b btn_small btn minus">
                            <span class="icon-minus"></span>
                        </button>
                    </div>
                    <input type="text" value="1" data-rel="plusminus" data-title="только цифры" data-min="1"  data-max="8"  />
                </div>
                <span class="v-a_m">шт.</span>
            </td>
            <td>
                <span class="d_b">Сумма: </span>
                <div class="price price_f-s_16 d_i-b">
                    <span class="first_cash"><span class="f-w_b">90.45</span> RUR</span>
                </div>
            </td>
        </tr>



        </tbody>
    </table>
</div>
<div class="inside_padd foot">
    <table class="table table_order">
        <colgroup>
            <col width="20px"/>
            <col width="80px"/>
            <col width="260px"/>
            <col width="140px"/>
            <col width="140px"/>
        </colgroup>
        <tfoot>
        <tr>


            <td colspan="4">
                <a href="/shop/cart" class="btn btn_cart m-r_30 f_r">Оформить заказ</a>
                <button type="button" onclick="togglePopupCart()" class="d_l_b w-s_n-w f_l">← Продолжить покупки</button>
            </td>


            <td style="padding-left: 0;">
                <div class="t-a_l d_i-b v-a_m">
                    <span class="d_b">Итого:</span>
                    <div class="price price_f-s_24">
                        <span class="first_cash"><span class="f-w_b" id="popupCartTotal">516.52</span> RUR</span>
                    </div>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
</div>
</div>



</body>
</html>