.pagination span:hover{
    cursor: pointer;
}
.pagination ul li.selected{
    background-color: red !important;
}
.searched{
    color: white;
    background: linear-gradient(to bottom, 
        rgba(55,146,185,1) 0%,
        rgba(8,127,173,1) 100%); 
}
.removePath{
    position: relative;
    top: -20px;
    left: 377px;
}
.updateResults{
    overflow-y: scroll;
    width: 97%;
    min-height: 20px;
    max-height: 200px;
    padding: 5px;
    border: solid 1px rgb(201, 201, 201);
}
div[class="tooltip-inner"] {
    min-width: 325px;
    text-align: left;
}
#po_table textarea{
    resize: vertical;
    max-height: 250px;
}

.translateWord i:hover{
    background-color: #93D3E5;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.sortTable.asc span.asc{
    display: inline-block!important;
}

.sortTable.desc span.desc{
    display: inline-block!important;
}