ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
    z-index: 1051!important;
    position: fixed;
    max-height: 310px;
    overflow-y: scroll;
}

div.notifications{
    z-index: 2051!important;
}

.pagination span:hover{
    cursor: pointer;
}
.pagination ul li.selected{
    background-color: red !important;
}
.searched{
    color: white;
    background: linear-gradient(to bottom,
        rgba(55,146,185,1) 0%,
        rgba(8,127,173,1) 100%);
}
.removePath{
    position: relative;
    top: -20px;
    left: 377px;
}
.updateResults{
    overflow-y: scroll;
    width: 97%;
    min-height: 20px;
    max-height: 200px;
    padding: 5px;
    border: solid 1px rgb(201, 201, 201);
}
div[class="tooltip-inner"] {

}
#po_table textarea{
    resize: vertical;
    max-height: 50px;
    margin: -1px;
    width: 100%;
}

#po_table textarea.comment{
    margin-top: -1px;
    margin-bottom: -1px;
    height: 115px;
    max-height: 115px;
}


.translateWord i:hover{
    background-color: #93D3E5;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.translateWord{
    float: right;
    margin-right: 5px;
    margin-bottom: -30px;
}

.sortTable.asc span.asc{
    display: inline-block!important;
}

.sortTable.desc span.desc{
    display: inline-block!important;
}

.notCorrect{
    margin-top: 30px;
}

#po_table  select.links{
    min-height: 114px;
    width: 100%;
}

#po_table .translationCancel{
    display: none;
    float: right;
    /*margin-left: 600px;*/
    margin-bottom: -30px;
}

#po_table .translationTEMP{
    display: none;
}

#po_table .alert{
    margin: 0px;
    text-align: center;
}

.po_settingsClone{
    margin: 0px;
    display:none;
}

.pathHolder .pathNumber{
    float: left;
    font-size: 15px;
    margin-right: 10px;
    margin-top: 3px;
}

.pathHolder .basePath{
    width: 390px!important;
    margin-bottom: 25px;
}

.pathHolder .baseTitle{
    font-size: 15px;
    margin-right: -10px;
    float: right;
}

.pathHolder .otherPaths{
    width: 390px!important;
    margin-bottom: -10px;
}

.modal_file_edit{
    width: 1000px;
    left: 33%;
}

.modal_file_edit > .modal-header div{
    float: right;
    margin-top: -30px;
    width: 225px;
    margin-right: 42px;
}

.modal_file_edit > .modal-header h5{
    float: left;
    margin-top: 4px;
    font-weight: bold;
}

.modal_file_edit > .modal-header select.editorTheme{
    float: right;
    width: 120px;
}

.modal_file_edit > .modal-body > .fileEdit{
    color: black;
    border-radius: initial;
    float: left;
    height: 390px;
    width: 995px;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
}

.modal_update_results > .modal-body ul span {
    font-weight: bold;
}

.statistic{
    display: none;
    width: 100%;
    height: 36px;
    margin-bottom: 2px;
}

.statistic > .statisticTitle{
    position: absolute;
    margin-left: -90px;
    margin-top: 5px;
}

.statistic table{
    border-left: 1px solid #ddd;
}

/*.statistic table td{
    border: none!important;
}*/

#poTab > .pull-right{
    position: relative;
    right: 2px;
}

#poTab > .pull-right .searchString{
    min-width: 250px;
}



#poTab .searchTranslatorOptions{
    width: 430px!important;
    padding-left: 20px;
}

#po_table thead span{
    display: none;
}

#po_table{
    display: none;
}

#po_table tbody td{
    padding-top: 4px;
    padding-bottom: 0px;
}

.fileNotExist{
    display: none;
    margin-top: 70px;
}

.fileNotExist > .errors{
    font-size:15px;
}

.fileNotExist .needToCreate{
    color: #5bb75b;
    font-size: 15px;
    display: none;
}

.originLangHolder > label{
    float: left;
    margin-top: -7px;
    margin-right: 10px;
}

.originLangHolder > select#originLang{
    min-width: 50px;
    width: auto;
}

.YandexApiKeyHolder{
    float: right;
    margin-top: -35px;
}

.YandexApiKeyHolder > label{
    float: left;
    margin-top: -7px;
    margin-right: 10px;
}

.YandexApiKeyHolder > textarea.YandexApiKey{
    width: 500px;
    height: 52px;
}
.modal_yandex_translate > .modal-header input.languageSelect{
    width: 240px;
    margin-top: 7px;
    margin-left: 15px;

    border: 1px solid #ccc;
}

.modal_yandex_translate > .modal-header button{
    margin-left: -6px;
    margin-top: 7px;
    height: 28px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px
}

.modal_yandex_translate > .modal-header h5{
    float: left;width: 80px;
}

.modal_yandex_translate textarea{height: 100px;}

.modal_yandex_translate > .modal-body .icon-chevron-down{
    margin-left: 50%;
    margin-bottom: -15px;
}

.modal_yandex_translate > .modal-header h3{
    text-align: center;
}

.modal_yandex_translate > .modal-header h4{
    text-align: center;
}

.poSelectorsHolder  #modules_templates{
    max-width: 300px;
}

.poSelectorsHolder  #modules_templates_chosen{
    margin-top: -10px;
}

.poSelectorsHolder  select{
    width: auto;
}

.originLangHolder .languageFrom{
    max-width: 120px;
}

.originLangHolder button, .showAllLanguageList{
    margin-left: -5px;
    height: 28px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px
}
.nav.nav-tabs{
    margin-bottom: 5px;
}
#poTab hr{
    margin-top: 40px;
    margin-bottom: 10px;
}

#searchPanel .control-group{
    margin-left: -130px;
}

#searchPanel .control-group > label{
    font-weight: bold;
}