<?php

/**
 * Вказати шлях до опен сервера
 */
//define('OPENSERVER_PATH','C:\OpenServer\domains');
/**
 * вказати імя домена
 */
//define('OPENSERVER_DOMAIN','\cmsprem.loc');

/**
 * папка загрузки файлів з браузера для тестування модуля імпорт експорт csv
 */
define('BROWSER_DOWNLOADS', 'C:\Users\moff\Downloads\\');
