@charset "utf-8";
/*---------------------------Prosucts Page Classes---------------------------------------*/
#content{
	float:none;
	width:auto;
}
#product{
	width:473px;
	float:right;
}
#product #title{
	background:none;
	padding:0;
	font-size:30px;
	color:#3F9FFF;
	margin:-7px 0 0 0;
	padding-bottom:18px;
}
#product h3{
	font-size:14px;	
}
#product #detail{
	line-height:175%;
	border-bottom:1px solid #E3E3E3;
	margin-bottom:30px;
	padding-bottom:32px;
	font-size:13px;
	margin-top:-7px;
}
#gallery #prImage{
	border:1px solid #e3e3e3;
	background:#fefefe;
	width:300px;
	margin-bottom:24px;
}
#gallery .images{
	width:300px;
	margin-left:5px;
}
#gallery .images .image{
	float:left;
	width:90px;
	border:1px solid #e3e3e3;
	background:#fefefe;
	margin-right:8px;
	margin-top:0px;
}
#gallery .images .image img {
	border: 0px;
}
#product .price{
    font-size:24px;
    color:#3F9FFF;
    padding-bottom:27px;
    text-align:right;
    line-height:100%;
}
#price{
    font-size:24px;
    color:#3F9FFF;
    padding-bottom:27px;
    text-align:right;
    line-height:100%;
}
#product .button1{
	width:222px;
	height:28px;
	display:block;
	font-size:14px;
	color:#666666;
	text-decoration:none;
	font-weight:bold;
	padding:14px 0 0 45px;
}
#product .button1{
	background:url(images/button1.jpg) left top no-repeat;
}
#product .button1:hover{
	background:url(images/button2.jpg) left top no-repeat;
}
.productPropertiesTable {
	width:100%;
    background-color:#EDEDED;
}
.productPropertiesTable td {
    border:1px solid #DBDBDB;
}
#categoryPath {
    border-top:1px solid none;
    font-size:12px;
    padding-left:26px;
    margin-top:5px;
}
#categoryPath a {
    margin-top:5px;
    color:#666;
}
#brands_list {
    color:#D6D6D6;
    margin-bottom:30px;
    text-align:right;
    margin-left:42px;
}
#brands_list a {
    color:#3F9FFF;
    font-size:12px;
    text-decoration:none;
}
#brands_list a.active {
    font-weight:bold;
}