@charset "utf-8";
a{cursor: pointer;}
legend{margin-left: -7px;}
select, input[type="file"]{margin-top: 4px;}
input[type="checkbox"], input[type="radio"]{width: 13px;height: 13px;}
.clearfix, article, .nav, .container, .control-group{zoom: 1;}
textarea{overflow: auto;}

[class*="d_l"]{z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '<span class="ie_d-l"></span>'));}
.t-a_j{z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '<span class="ie_1"></span>'));}
.tooltip{z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '<span class="ie_14"></span>'));}
.text ul li{z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '<span class="ie_2"></span>'));}
.delivery-payment_product > li li{z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '<span class="ie_17"></span>'));}
.frame-crumbs{z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '<span class="ie_18"></span>'));}
.special-proposition + .special-proposition, .frame-seo-text{z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '<span class="ie_10"></span>'));}
.shadow-w_220{z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '<span class="ie_19"></span>'));}

.d_i-b, .helper, .helper + *, .t-a_j > *, .ie_1, [class*="icon"], .prev, .next, .niceCheck, .ui-slider-handle, .product-status, .ie_17, #fancybox-close, .fancy-ico, [class*="btn"], .nav > li > a, .nav > li > span, .menu-main td > .frame-item-menu > div > .title > span, .items-catalog > li, #items-catalog-main .price-discount-catalog, .items-brands.main > li, .frame-catalog > ul > li, .frame-sub-catalog > li, .cusel, .block-filter .frame-label, .items-complect li, .social-product .social a, .items-sub-category > li, [class*="d_l"], .frame-item-menu > ul > li, .menu-main td > .frame-item-menu > div > .title > span, .crumbs a, .items-catalog .price-catalog, .comprasion_head li > span, .pagination > li, .fancy-photo .price-product{display: inline !important;zoom: 1;}
[class*='price'].d_n{display:none !important;}
.horizontal-form .controls > .btn > *{margin-left: -85px;}
.btn-bask > *{line-height: 35px;}
.phones-header nav{white-space: nowrap;}
input.input-search{width: 360px !important;}
.head-category .f_l{margin-right: 3%;}
#items-catalog-main{margin-left: -56px;}

.drop-search{height: auto;width: 363px;}
.tabs-comprasion > li > button{white-space: nowrap;}
.scrollNSP > div{height: 18px;}
 
li{zoom: 1;}
#items-catalog-main .star{margin-bottom: 10px;zoom: 1;}

.check-filter > li > div{float: left;margin-left: 5px;}
.func-button > .btn {float: left;}