@charset "utf-8";

/*reset*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, a, blockquote{margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;}
table {border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;}
table th{text-align: left;}
td, td img {vertical-align: top;} 
ul, ol{list-style: none;}
input, select, button, textarea{margin: 0;font-size: 100%;}
input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner{padding: 0;border: 0;}/* Firefox button bug */
input[type="text"], input[type="password"], textarea {padding: 0;}
input[type="checkbox"] {position: relative;top: 2px;}
input[type="radio"] {vertical-align: text-bottom;}
a img{border: none;}
img{height: auto;max-width: 100%;vertical-align: middle;border: 0;width: auto\9;-ms-interpolation-mode: bicubic;}
figure{line-height: 0;font-size: 0;}
blockquote, q {quotes: none;}
hr{border:0;width: 100%;display: block;margin: 0;}
.btn{font-size: 0;cursor: pointer;}
.patch-active{font-size: 0;}
/*/reset*/

/*scaffolding*/

/*base scaffolding*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display: block;}
.main-body{min-height: 100%;margin: 0 auto;position: relative;}

article, .container, .special-proposition .title-proposition-h{margin: 0 auto;clear: both;}
.content{position: relative;z-index: 1;}
.frame-inside{position: relative;z-index: 1;padding-bottom: 40px;}
/*/base scaffolding*/

body{
    min-width: 960px;
    color: #333;
    /*background: #fff url(../img/left_fon.png) repeat-y;*/
}
.container{max-width: 100%;}


.nav > li > a{text-decoration: none;}
.nav > li{font-size: 0;}
body, input, select, button, textarea, .f-s_0 > *, .items > li, .items > td, .text-el, .nav > li .text-el, .cuselText, .frame-kit .title, .t-a_j > *, .btn .text-el, .patch-active .text-el{font-size: 13px;}
html, body{height: 100%;}
html {-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body {text-align: left;overflow-y: scroll;}
body, input, select, button, textarea {font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;line-height: 1.5;}
input[type="submit"], input[type="reset"], input[type="button"], button {overflow: visible;background-color: transparent;border: none;}
input[type="button"], input[type="submit"], input[type="reset"], button{text-align: center;}
label, input[type="button"], input[type="submit"], input[type="reset"], button{padding: 0;cursor: pointer;}
[class*="btn"] > button, [class*="btn"] > a, .buti > button, .buti > a{cursor: pointer;display: inline-block;font-size: 0 !important;}
[class*="btn"].pointer > button, [class*="btn"].pointer > a{cursor: pointer !important;}
input[type="text"], input[type="password"], textarea{width: 100%;max-width: 100%;padding: 0 15px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
textarea, select, input[type="text"], input[type="password"]{border: 1px solid;background-color: #fff;border-color: #ccd3d3;}
[readonly]{background-color: #f5f7f8 !important;color: #969fa3;}
select, input[type="text"], input[type="password"]{height: 35px;}
textarea{overflow: auto;display: block;height: 120px;padding-top: 10px;padding-bottom: 4px;}
sub, sup {position: relative;font-size: 75%;line-height: 0;}
sup {top: -0.5em;vertical-align: super;font-size: smaller;}
sub {bottom: -0.25em;vertical-align: sub;font-size: smaller;}
.pointer, .arrow, .ref, .c_p{cursor: pointer;}

/*links*/
.color-link, a, .ref{color: #479ccf;}
a{cursor: pointer;text-decoration: none;}
a:hover{color: #9fb2b9;text-decoration: underline;}
.nav a:focus, .nav a:active{outline: none;}
/*/links*/

.text ul, .text ol{padding-left: 30px;margin-bottom: 20px;}
.text ul{list-style-type: disc;}
.text ol{list-style-type: decimal;}

/*methods*/
.clearfix:after, article:after, .nav:after, .container:after, .horizontal-form label:after, .horizontal-form .frame-label:after, .frame-inside:after, .frame-label:after, .vertical-form:after, .tabs:after{visibility: hidden;display: block;font-size: 0;content: ".";clear: both;height: 0;}
.helper{vertical-align: middle;width: 0;height: 100%;padding: 0 !important;border: 0 !important;display: inline-block;}
.helper + *{vertical-align: middle;display: inline-block;word-break: break-word;word-wrap: break-word;}
.t-a_j{text-align: justify !important;font-size: 1px;}
.t-a_j > *{display: inline-block;vertical-align: middle;float: none !important;text-align: left;}
.t-a_j:after, .t-a_j .ie{content: "1";margin-left: 100%;height: 1px;visibility: hidden;display: inline-block;width: 100%;}
/*/methods*/

.photo-block{max-width: 100%;position: relative;font-size: 0;overflow: hidden;text-align: center;display: inline-block;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
.photo-block .helper{height: 100%!important;}
.photo-block img{max-height: 100%;}
.photo-block a{display: block;}

/*adding selectors*/
.b-s_b-b{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
.d_b{display: block!important;}
.d_i{display: inline!important;}
.d_n{display: none!important;}
.v_h{visibility: hidden;}
.d_n_{display: none;}
.d_i-b{display: inline-block!important;}
.d_i-b_{display: inline-block;}
.t-o-e{overflow: hidden;width: 100%;display: block;text-overflow: ellipsis;white-space: nowrap;}
.f_l{float: left!important;}
.f_r{float: right!important;}
.c_b{clear: both!important;}
.o_h{overflow: hidden!important;}
.t-a_c{text-align: center !important;}
.t-a_r{text-align: right !important;}
.t-a_l{text-align: left !important;}
.t-d_n{text-decoration: none!important;}
.t-d_u{text-decoration: underline!important;}
.b_n{background: none !important;}
.p_r{position: relative!important;}
.f-w_b{font-weight: bold;}
.f-s_0, .f-s_0 .f-s_0{font-size: 0;}
.f-s_13{font-size: 13px !important;}
.f-s_12{font-size: 12px !important;}
.f-s_11{font-size: 11px !important;}
.v-a_b{vertical-align: bottom !important;}
.v-a_bl{vertical-align: baseline !important;}
.v-a_t{vertical-align: top !important;}
.v-a_m{vertical-align: middle !important;}

.w-s_n-w{white-space: nowrap;}
.w_100{width: 100% !important;}
.m-t_10{margin-top: 10px !important;}
.m-t_5{margin-top: 5px !important;}
.p-t_5{padding-top: 5px !important;}
.m-r_10{margin-right: 10px !important;}
.m-b_30{margin-bottom: 30px !important;}
.m-b_20{margin-bottom: 20px !important;}
.m-b_25{margin-bottom: 25px !important;}
.m-b_15{margin-bottom: 15px !important;}
.m-b_10{margin-bottom: 10px !important;}
.m-b_5{margin-bottom: 5px !important;}

.b-r_5{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.b-r_4{-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
.b-r_3{-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
/*/adding selectors*/

/*titles*/
h1, h2, h3, h4, h5, h6{font-weight: normal;margin-bottom: 15px;}
/*/titles*/

/*text*/
p{margin-bottom: 15px;}
/*/text*/

.drop{display: none;position: absolute;top: 100%;left: 0;background-color: #fff;border: 1px solid rgba(0,0,0,.2);box-shadow: 0 1px 5px rgba(0,0,0,.15);background-clip: padding-box;}
.drop.nav > li{border-top: 1px solid #e1e6e6;}
.drop.nav > li:first-child{border-top: 0;}
.drop.nav > li > a{display: block;padding: 8px 15px 9px;color: #333;}
.active + .drop{display: block;}

[class*="icon-"], .after-icon:after, .cuselFrameRight:after{background: url("../img/sprite.png") no-repeat;}
[class*="icon-"]{display: inline-block;font-size: 0;line-height: 0;position: relative;width: 0;height: 0;}

.hidden-type-file{position: relative;}
.hidden-type-file input[type="file"] {position: absolute;left: 0;top: 0;opacity: 0;padding: 0;width: 100%;height: 100%;}
.path-absolute{padding-right: 10px;float: right;max-width: 175px;}

.nav-sidebar [class*="icon-"]{width: 20px;height: 20px;vertical-align: middle;margin-right: 12px;}
.icon-home{background-position: -80px 0;}
.icon-profile{background-position: -100px 0;}
.icon-clock{background-position: -120px 0;}
.icon-tarif{background-position: -140px 0;}
.icon-tech_supp{background-position: -160px 0;}
.icon-add_sup{background-position: -180px 0;}
.icon-set_domen{background-position: -200px 0;}
.icon-info{background-position: -220px 0;}
.icon-cond_use{background-position: -240px 0;}
.icon-my_additions{background-position: -260px 0;}
.active > a > .icon-home{background-position: -80px -20px;}
.active > a > .icon-profile{background-position: -100px -20px;}
.active > a > .icon-clock{background-position: -120px -20px;}
.active > a > .icon-tarif{background-position: -140px -20px;}
.active > a > .icon-tech_supp{background-position: -160px -20px;}
.active > a > .icon-add_sup{background-position: -180px -20px;}
.active > a > .icon-set_domen{background-position: -200px -20px;}
.active > a > .icon-info{background-position: -220px -20px;}
.active > a > .icon-cond_use{background-position: -240px -20px;}
.active > a > .icon-my_additions{background-position: -260px -20px;}
.icon-person{width: 15px;height: 15px;background-position: 0 0;}
.icon-bask{width: 16px;height: 15px;background-position: -20px 0;}
[class*="icon-"].icon-arrow{width: 6px;height: 4px;background-position: -40px 0;vertical-align: baseline;}
.btn-profile.active .icon-arrow{background-position: -40px -40px;}
.btn-profile .icon-arrow{top: 3px;margin-left: 3px;}
.nav-sidebar .icon-arrow{top: 4px;margin-left: 5px;}
.nav-sidebar .active > a > .icon-arrow{background-position: -40px -20px;}
.icon-attach{width: 15px;height: 17px;background-position: -60px 0;top: 6px;margin-right: 8px;}
.icon-remove{width: 10px;height: 10px;background-position: -320px 0;}
.btn-default .icon-remove{margin: 7px 0;}
.icon-ok{width: 14px;height: 13px;background-position: -340px 0;top: 1px;margin-right: 7px;}
.icon-arrow-back{width: 6px;height: 9px;background-position: -360px 0;margin-right: 8px;}

.items-pay [class*="icon-"]{background: url("../img/payments.png") no-repeat;}
.items-pay .icon-visamaster{width: 101px;height: 24px;background-position: 0 0;}
.items-pay .icon-yandexcash{width: 93px;height: 39px;background-position: -120px 0;}
.items-pay .icon-webmoney{width: 81px;height: 55px;background-position: -220px 0;}
.items-pay .icon-interkassa{width: 70px;height: 60px;background-position: -320px 0;}
.items-pay .icon-robokassa{width: 107px;height: 13px;background-position: -400px 0;}
.items-pay .icon-privat24{width: 47px;height: 47px;background-position: -520px 0;}

.photo-block:hover .icon-visamaster{background-position: 0 -60px;}
.photo-block:hover .icon-yandexcash{background-position: -120px -60px;}
.photo-block:hover .icon-webmoney{background-position: -220px -60px;}
.photo-block:hover .icon-interkassa{background-position: -320px -60px;}
.photo-block:hover .icon-robokassa{background-position: -400px -60px;}
.photo-block:hover .icon-privat24{background-position: -520px -60px;}

li.active .photo-block .icon-visamaster{background-position: 0 -120px;}
li.active .photo-block .icon-yandexcash{background-position: -120px -120px;}
li.active .photo-block .icon-webmoney{background-position: -220px -120px;}
li.active .photo-block .icon-interkassa{background-position: -320px -120px;}
li.active .photo-block .icon-robokassa{background-position: -400px -120px;}
li.active .photo-block .icon-privat24{background-position: -520px -120px;}

.important-text{font-weight: bold;color: #0eb759;}
.help-block{color: #969fa3;}
.s-t{color: #969fa3;}

.items{font-size: 0;}
.items > li{display: inline-block;vertical-align: top;}

.title-default{padding-bottom: 9px;border-bottom: 3px solid #e1e6e6;}
.title-default .title{font-size: 18px;color: #969fa3;}

.title-default2{padding: 13px 20px 14px 36px;border-bottom: 1px solid #e1e6e6;background-color: #fff;}
.title-default2 .title{font-size: 18px;color: #969fa3;}

.title-default-out{background-color: #677f95;padding: 12px 27px;}
.title-default-out > .title{color: #fff;font-size: 18px;}

.default-patch{background-color: #f5f7f8;}
.default-patch > .inside-padd{padding: 14px;}

.nav img{vertical-align: middle;margin-right: 12px;}
.nav .text-el{vertical-align: middle;}

:focus, :active{outline: none;}
.btn[disabled="disabled"]{background-color: #cad1d5;cursor: not-allowed;}
.btn-small{padding: 0 7px !important;}
.btn-admin, .btn-profile, .btn-shop{color: #fff;}
.btn, .patch{display: inline-block;}
a.btn{text-decoration: none;}
.btn, .btn .text-el, .patch{vertical-align: middle;}
.btn [class*="icon-"] + .text-el{vertical-align: baseline;}

.btn-profile{margin-right: 23px;}
.btn-profile .frame-ico{margin-right: 0 !important;}
.btn-profile .d_i-b{height: 40px;vertical-align: middle;line-height: 40px;padding: 0 10px 0 13px;position: relative;left: -3px;}
.btn-profile.active .d_i-b{background-color: #f5f7f8;}
.btn-profile.active .text-el{color: #969fa3;}

.btn-default{border: 1px solid #e1e6e6;border-radius: 2px;background-color: #fff;padding: 2px 17px 3px;}
.btn-default .text-el{font-weight: normal;}
.btn-default:hover{background-color: #f5f7f8;color: #479ccf;}

.btn-success{background-color: #0eb759;padding: 7px 28px 8px;border-radius: 2px;}
.btn-success .text-el{font-weight: bold;color: #fff;}

.btn-primary{background-color: #479ccf;padding: 9px 28px 10px;border-radius: 2px;}
.btn-primary .text-el{font-weight: bold;color: #fff;}

.btn-attach-file{height: 61px;padding: 0 25px;line-height: 60px;border-left: 1px solid #e1e6e6;}
.btn-attach-file .text-el, .btn-attach-file2 .text-el{color: #969fa3;font-weight: bold;}
.btn-attach-file:hover{background-color: #fff;}
.btn-attach-file + .path-absolute{line-height: 60px;}

.btn-attach-file2{height: 38px;padding: 0 25px;line-height: 38px;}
.btn-attach-file2 + .path-absolute{line-height: 38px;}

.patch-active{background-color: #f5f7f8;border-radius: 2px;padding: 9px 32px 10px 20px;}
.patch-active .text-el{color: #0eb759;}

header{min-height: 64px;background-color: #31393c;position: relative;z-index: 2;}
header.fixed{position: fixed;width: 100%;z-index: 2;}
header.fixed + .container{padding-top: 64px;}
.logo{float: left;width: 250px;}
.right-header{float: right;width: 360px;padding-top: 12px;margin-right: 16px;}
.right-header > li{vertical-align: middle;position: relative;}
.right-header .frame-ico{
    vertical-align: middle;display: inline-block;width: 34px;height: 34px;text-align: center;border-radius: 17px;margin-right: 10px;
    border: 2px solid #0eb759;
}
.right-header .frame-ico [class*="icon-"]{vertical-align: middle;}
.right-header .divider{display: inline-block;vertical-align: middle;width: 1px;height: 15px;background-color: #5e6f75;margin: 0 10px;}
.item-profile .nav{left: 34px;margin-top: -1px;width: 200px;}
.content-header{margin: 0 360px 0 250px;color: #9fb2b9;}
.btn-consultation{color: #fff;}
.info-header{padding: 23px 25px 10px 0;text-align: center;}
.header-out-info-lost{float: left;margin-right: 10px;height: 64px;line-height: 58px;padding: 0 25px;background-color: #0eb759;color: #fff;}
.header-out-info-lost:hover{text-decoration: none;background-color: #20c94f;color: #fff;}

.left{width: 250px;float: left;}
.left.fixed{position: fixed;}
.left > nav{overflow: auto;}
.right{width: 530px;float: right;padding-top: 23px;padding-right: 29px;padding-left: 26px;background-color: #e4e8e9;}
.content{margin-right: 560px;margin-left: 250px;min-width: 480px;}
.left + .content{margin-right: 0;}
.content > .inside-padd{padding: 16px 63px 16px 33px;}

.nav-sidebar ul{display: none;list-style-type: decimal;list-style-position: outside;padding: 7px 0 5px 45px;border-bottom: 1px solid #516272;}
.nav-sidebar ul > li{font-size: 13px;margin-bottom: 7px;}
.nav-sidebar ul > li > a{text-decoration: none;line-height: 1.2;}
.nav-sidebar ul > li, .nav-sidebar ul > li > a{color: #879bad;}
.nav-sidebar ul > li.active, .nav-sidebar ul > li.active > a{color: #fff;}
.nav-sidebar > li.active > ul{display: block;}
.nav-sidebar > li.active > a{background-color: #4c6174;border-left-color: #0eb759;}
.nav-sidebar > li:hover > a{background-color: #354757;border-left-color: #0eb759;}
.nav-sidebar > li > a{display: block;padding: 15px 10px 15px 15px;color: #fff;font-weight: bold;border-bottom: 1px solid #516272;border-left: 3px solid transparent;}

.data-shop{table-layout: auto;margin-bottom: 10px;background-color: #fff;}
.data-shop td, .data-shop th{padding: 10px 10px 10px 0;}
.data-shop td, .data-shop th{border-top: 1px solid #e1e6e6;vertical-align: top;}
.data-shop tr:first-child td, .data-shop tr:first-child th{border-top: 0;}
.data-shop th{width: 110px;color: #969fa3;font-weight: bold;}
.data-shop a{font-weight: bold;}
.data-shop .photo-block{border: 6px solid #e4e8e9;}

.out-range{background-color: #e4e8e9;margin: 4px 0 10px;}
.out-range > .range{background-color: #0eb759;height: 15px;}

.fancy .panel-default{margin-bottom: 0;}
.panel-default{margin-bottom: 27px;background-color: #fff;}
.panel-default .footer-panel{background-color: #f5f7f8;}
.panel-default .footer-panel > .inside-padd{padding: 18px 27px;}
.panel-default .content-panel{border-bottom: 1px solid #e1e6e6;}
.panel-default .content-panel > .inside-padd{padding: 15px 10px;}
.panel-default textarea{border-width: 1px 0;border-color: #e1e6e6;}

.panel-form{background-color: #f5f7f8;border-bottom: 1px solid #e1e6e6;}
.panel-form.border-top{border-bottom: 0;border-top: 1px solid #e1e6e6;margin-bottom: -20000px;padding-bottom: 20000px;padding-top: 16px;}
.panel-form > .inside-padd{padding: 23px 38px 36px;}

.items-refers-vertical{list-style-type: decimal;list-style-position: outside;padding-left: 53px;}
.items-refers-vertical > li{color: #969fa3;font-weight: bold;}
.items-refers-vertical > li > a{text-decoration: none;font-weight: bold;display: block;position: relative;padding: 10px 10px 11px 0;margin-left: -53px;text-indent: 53px;border-left: 2px solid transparent;border-bottom: 1px solid #e1e6e6;}
.items-refers-vertical > li > a:hover{border-left-color: #0eb759;background-color: #f5f7f8;color: #479ccf;}
.items-refers-vertical > li > a:after{content: '';position: absolute;right: 25px;top: 17px;width: 6px;height: 9px;background-position: -280px 0;}

.items-period-payment > li{width: 246px;text-align: center;}
.items-period-payment > li.panel-default{margin-left: -1px;}
.items-period-payment .title-default-out{border-left: 1px solid #7995ae;}
.items-period-payment li:first-child .title-default-out{border-left: 0;}
.items-period-payment .title-default-out > .title{font-weight: normal;}
.items-period-payment .content-panel{border-left: 1px solid #e1e6e6;border-right: 1px solid #e1e6e6;}
.items-period-payment .footer-panel{border-width: 0 1px 1px;border-style: solid;border-color: #e1e6e6;}
.items-period-payment .frame-price{line-height: 1;}
.items-period-payment .price{font-size: 48px;}
.items-period-payment .curr{font-size: 30px;}
.items-period-payment .content-panel{height: 127px;}
.items-period-payment .text-econom{position: relative;top: 6px;}
.items-period-payment .content-panel > .inside-padd{padding: 36px 10px;}

.items-tarif-payment .content-panel{height: 210px;}
.items-tarif-payment .description{color: #969fa3;font-weight: bold}
.items-tarif-payment .description .full-descr{font-weight: normal;}
.items-tarif-payment .description > li{padding: 12px 0;border-top: 1px solid #e1e6e6;}
.items-tarif-payment .description > li:first-child{border-top: 0;}
.items-tarif-payment .frame-price{margin-bottom: 15px;}
.items-tarif-payment .footer-panel .btn, .items-tarif-payment .footer-panel .patch{margin-bottom: 9px;}
.items-tarif-payment .curr{font-size: 18px;}
.items-tarif-payment .title-default-out .title{text-transform: uppercase;}
.items-tarif-payment > li.panel-default{max-height: 447px;}

.items-tarif-payment .panel-default.active{position: relative;z-index: 1;box-shadow: 0 1px 4px rgba(0,0,0,.15);}
.items-tarif-payment .panel-default.active .title-default-out{background-color: #0eb759;margin-top: -7px;padding-bottom: 17px;padding-top: 14px;border-left: 0;}
.items-tarif-payment .panel-default.active .description{color: #333;}
.items-tarif-payment .panel-default.active .description .count{color: #0eb759;}
.items-tarif-payment .panel-default.active .frame-price{color: #0eb759;}
.items-tarif-payment .panel-default.active .footer-panel{background-color: #fff;}

.items-info-saas{margin-left: -90px;}
.items-info-saas > li{width: 490px;margin-left: 90px;}

.group-checkboxes > .inside-padd{padding: 14px 30px 19px;}
.group-checkboxes .price{font-weight: bold;color: #000;}
.group-checkboxes .frame-checkbox{float: left;width: 50%;margin: 6px 0 10px;}
.group-checkboxes label .title{color: #969fa3;}

.frame-label .title{color: #969fa3;font-weight: bold;}
.vertical-form .title{display: block;margin-bottom: 4px;}
.vertical-form .frame-label{margin-bottom: 17px;}
.horizontal-form .title{float: left;padding-right: 10px;width: 90px;}
.horizontal-form .control{margin-left: 100px;}

.controls-inline .frame-label{float: left;}

.panel-form form{max-width: 796px;}
.panel-form .vertical-form.controls-inline{margin-left: -48px;}
.panel-form .vertical-form.controls-inline .frame-label{width: 374px;margin-left: 48px;}

.line-form{position: relative;z-index: 1;width: 100%;text-align: left;vertical-align: middle;display:inline-block;font-size: 0;}
.line-form select{visibility: hidden;}
.cusel {
    width: 100% !important;height: 33px;display: inline-block;position: relative;cursor: pointer;z-index: 1;
    background-color: #fff;border: 1px solid #ccd3d3;
}
.cuselFrameRight {
    position: absolute;z-index: 2;top: 0;right: 0;height: 100%;width: 33px;overflow: hidden;
    background-color: #f5f7f8;border-left: 1px solid #ccd3d3;
}
.cuselFrameRight:after{content: '';position: absolute;background-position: -300px 0;width: 9px;height: 5px;left: 50%;top: 50%;margin: -3px 0 0 -5px;}
.cuselText {height: 34px;line-height: 33px;padding-left:10px;padding-right: 35px;cursor: pointer;overflow: hidden;z-index: 1;position: absolute;top: 0;left: 0;text-overflow: ellipsis;max-width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
.cusel span {display: block;cursor: pointer;white-space: nowrap;padding: 3px 5px 3px 5px;font-size: 13px;margin: 0 -2px;}
.cusel-scroll-pane span{padding: 5px 5px 5px 20px;}
.cusel-scroll-pane{overflow: visible !important;}
.cusel .cuselActive, .cusel-scroll-pane span:hover{background-color: #479ccf;color: #fff;}
.cusel .cuselActive {cursor: default;}
.cuselOpen {z-index: 999;border-color: #9facac;}
.cuselOpen > .cuselFrameRight{border-color: #9facac;}
.cusel .cusel-scroll-wrap {
    display: block;visibility: hidden;position: absolute;top: 100%;left: -1px;width: auto;min-width: 100%;
    background-color: #fff;
}
.cusel .jScrollPaneContainer{position: relative;overflow: hidden;z-index: 2;border: 1px solid #ccc;padding: 0 1px;box-shadow: 0 1px 5px rgba(0,0,0,.15);}
.cusel .jScrollPaneTrack {height: 100%;width: 7px !important;position: absolute;top: 0;right: 4px;}
.cusel .jScrollPaneDrag {position: absolute;cursor: pointer;width: 15px !important;height: 27px !important;right: -4px;}
.cusel .jScrollPaneDragTop {position: absolute;top: 0;left: 0;overflow: hidden;}
.cusel .jScrollPaneDragBottom {position: absolute;bottom: 0;left: 0;overflow: hidden;}
.cusel .jScrollArrowUp {position: absolute;top: 0;right: 2px;width: 26px;height: 12px;cursor: pointer;overflow: hidden;}
.cusel .jScrollArrowDown {width: 25px;height: 12px;position: absolute;top: auto;bottom: 0;right: 3px;cursor: pointer;overflow: hidden;}

.data-history-order{border: 1px solid #e1e6e6;table-layout: auto;max-width: 1080px;margin: 13px 0 20px;background-color: #fff;}
.data-history-order td, .data-history-order th{vertical-align: middle;padding: 0 25px;border-bottom: 1px solid #e1e6e6;}
.data-history-order th{height: 49px;}
.data-history-order td{height: 52px;}
.data-history-order .frame-price{font-weight: bold;}
.data-history-order .text-payment{color: #479ccf;}
.status-n{color: #969fa3;}
.status-y{color: #0eb759;}

.tabs{position: relative;z-index: 2;background-color: #fff;}
.tabs > li{float: left;border-right: 1px solid #e1e6e6;}
.tabs > li .text-el{font-weight: bold;color: #479ccf;}
.tabs > li > *{display: block;height: 54px;line-height: 54px;padding: 0 35px;position: relative;top: 1px;border-bottom: 1px solid transparent;}
.tabs > li:hover{background-color: #f5f7f8;}
.frame-tabs-ref{border-top: 1px solid #e1e6e6;}
.frame-tabs-ref > div{display: none;}
.frame-tabs-ref > div:first-child{display: block;}
.frame-tabs-ref > div > .inside-padd{padding: 32px;}
.tabs > .tab-active{background-color: #f5f7f8;}
.tabs > .tab-active > *{border-bottom-color: #f5f7f8;}
.tabs > .tab-active .text-el{color: #333;}

.frame-tabs-ref .data-history-order{margin-top: 0;}

.out-foot-fixed, .out-fixed-head{position: fixed;}
.out-fixed-head-ticket{overflow: hidden;padding-bottom: 2px;width: 100%;}
.out-table-info-ticket{padding-left: 35px;background-color: #f5f7f8;border-bottom: 1px solid #e1e6e6;box-shadow: 0 1px 0 1px rgba(225, 230, 230, .3);}
.data-info-ticket{max-width: 980px;table-layout: auto;}
.data-info-ticket td{padding: 17px 0;max-width: 190px;padding-right: 10px;}

.out-foot-fixed-ticket{width: 100%;bottom: 0;background-color: #f5f7f8;border-top: 1px solid #e1e6e6;box-shadow: 0 -1px 0 1px rgba(225, 230, 230, .3);}
.out-foot-fixed-ticket .inside-padd{padding: 24px 20px 18px 33px;}
.out-foot-fixed-ticket form{max-width: 795px;}

.out-list-comments{padding-top: 101px;padding-bottom: 207px;padding-left: 34px;}
.list-comments{max-width: 795px;}
.list-comments > li{border-top: 1px solid #e1e6e6;padding: 22px 0 30px;}
.list-comments > li:first-child{border-top: 0;}
.list-comments .title{font-weight: bold;margin-bottom: 7px;}
.comment-client .title{color: #969fa3;}
.comment-admin .title{color: #0eb759;}

.panel-add-services > .inside-padd{padding-top: 15px;}

.input-group{position: relative;}
.input-group [class*="addons"]{position: absolute;top: 1px;height: 33px;line-height: 33px;background-color: #f5f7f8;padding: 0 10px 0 11px;}
.input-group .addons-sufix{right: 1px;border-left: 1px solid #ccd3d3;}
.input-group .addons-prefix{left: 1px;border-right: 1px solid #ccd3d3;}

.tabs-tour > li > *{padding: 0 24px;}
.tabs-tour > li .text-el{font-weight: normal;font-size: 18px;}

.frame-tabs-ref-tour > div{max-width: 1200px;}

.checkboxes-payments .items > li{margin-left: -1px;margin-top: -1px;font-size: 0;}
.checkboxes-payments .photo-block{position: relative;cursor: pointer;width: 142px;min-height: 67px;font-size: 12px;text-align: center;border: 1px solid #e1e6e6;background-color: #fff;}
.checkboxes-payments li.active .photo-block{z-index: 1;background-color: #479ccf;border-color: #479ccf;color: #fff;}
.checkboxes-payments .photo-block:hover{z-index: 1;border-color: #479ccf;}

.items-days .days, .items-sub-pay .photo-block > .text-el{font-weight: bold;font-size: 15px}

.items-days{margin-bottom: 29px;}
.items-pay{margin-bottom: 26px;margin-top: 8px;}
.items-sub-pay{margin-bottom: 27px;margin-top: 8px;}

.items-pay .photo-block{height: 85px;}
.items-sub-pay .photo-block{padding: 18px 0;}
.items-days .photo-block{padding: 10px 0;}

@media screen and (max-width: 1279px){
    .content{margin-right: 0;}
    .content > .inside-padd{padding-right: 33px;}
    .right{display: none;}
}
.issafari .items{letter-spacing: -10px !important;}
.issafari .items > *{letter-spacing: normal;}