html {
    background-image: url(img/left.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}
body {
    background-image: url(img/right.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
}
.mainBody {
    background-image: url(img/bg.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
}