/* Forms styles */
form label
{
    width: 175px;
    float: left;
    text-align: right;
    margin-right: 5px;
    display: block
}

form p {
    padding:5px;
}

form .text {
    padding:3px;
    width:225px;
    border: 1px solid #D8D8D8; 
}

form textarea {
    padding: 3px;
    width:275px;
    border: 1px solid #D8D8D8; 
}

form .help_text {
    color:#C0BEBE;
    font-size:11px;
}
.errors {
    margin-left:20px;
    margin-bottom:15px;
    margin-top:5px;
    padding:5px;
    border:1px solid #FFBBBB;
    border-top:4px solid #FFBBBB;
    background-color: #FFDDDD; 
}
.flash {
    margin-left:20px;
    margin-bottom:15px;
    margin-top:5px;
    padding:5px;
    border:1px solid #fffaaa;
    border-top:4px solid #fffaaa;
    background-color: #ffffcc; 
}
