.main-show-eff{position: relative;margin-bottom: 77px;}
.main-show-eff:before{content: ""; position: absolute;width:  766px; height: 89px; background: url('../images/features/shadow.png') no-repeat; bottom: -89px;left: 50%;margin-left: -383px;z-index: -1;}
.main-show-eff [class*="lit"]{z-index: 3;}
.main-show-eff > span{position: absolute;}

.show-eff-usab{height: 315px;margin-top: 60px;}
.show-eff-usab .pic-c{left: 173px;top: 0;z-index: 2;}
.show-eff-usab .pic-r{left: 418px;top: 35px;z-index: 1;}
.show-eff-usab .pic-l{left: 71px;top: 35px;z-index: 1;}
.show-eff-usab .lit1{top: -14px;left: 116px;}
.show-eff-usab .lit2{right: 78px;top: 107px;}
.show-eff-usab .lit3{right: 110px;top: 186px;}
.show-eff-usab .lit4{top: 86px;left: 31px;}
.show-eff-usab .lit5 {top: 25px; left: 55px;}

.static-features{}
.static-features > div{position: relative;padding: 40px 65px 0;margin-bottom: 55px;border-top: 1px solid #e4e8e9;}
.static-features > div:first-child:before{border-top: 0;}
.static-features .is_f_l .f_l{width: 335px;}
.static-features .is_f_l .f_r{width: 370px;}
.static-features .is_f_r .f_l{width: 390px;}
.static-features .is_f_r .f_r{width: 295px;}
.static-features .title{color: #333;font-size: 18px;font-weight: bold;margin-bottom: 7px;}
.static-features .description p{font-size: 15px;line-height: 21px;color: #000;margin-bottom: 9px;}

.static-features .front1{top: -14px;left: -23px;}
.static-features .front2{top: -3px;}
.static-features .front3{top: 25px;left: -22px;width: 351px;height: 203px;display: block;}
.static-features .front4{top: 27px;left: 14px;width: 303px;height: 219px;display: block;}
.static-features .front5{top: 4px;left: -2px;}


.show-eff-maket{height: 340px;margin-top: 13px;}
.show-eff-maket .pic-r{left: 305px;top: 0px;z-index: 1;}
.show-eff-maket .pic-l{left: 93px;top: 13px;z-index: 2;}
.show-eff-maket .lit1{left: 74px;top: 82px;}
.show-eff-maket .lit2{left: 42px;top: 145px;}
.show-eff-maket .lit3{left: 578px;top: 62px;}

.static-features .maket1{width: 368px;height: 200px;display: block;left: -58px; top: -22px;}
.static-features .maket2{width: 298px;height: 179px;display: block;top: 27px; left: -10px;}


.show-eff-abil{height: 310px;margin-top: 53px;}
.show-eff-abil .pic-c{left: 195px;top: 0;z-index: 2;}
.show-eff-abil .pic-l{left: 100px;top: 33px;z-index: 1;}
.show-eff-abil .lit1{top: 22px;left: 62px;}
.show-eff-abil .lit2{left: 38px;top: 90px;}
.show-eff-abil .lit3{left: 75px;top: 131px;}
.show-eff-abil .lit4{top: 55px;right: 140px;}
.show-eff-abil .lit5 {top: 42px; right: 80px;}
.show-eff-abil .lit6 {top: 110px; right: 36px;}
.show-eff-abil .lit7 {top: 106px; right: 94px;}
.static-features .abil1{margin-top: -58px;left: 6px;}
.static-features .abil2-out .title{padding-top: 12px;}
.static-features .abil2{margin-top: -30px;left: -33px;}
.static-features .abil2 span{display: block;width: 306px;height: 188px;}
.static-features .abil3-out .title{padding-top: 35px;}
.static-features .abil3{left: 0px;top: 7px;margin-bottom: 16px;}
.static-features .abil4-out .title{padding-top: 34px;}
.static-features .abil4{margin-top: 6px;left: 12px;margin-bottom: 13px;}
.static-features .abil5-out .title{padding-top: 43px;}
.static-features .abil5{margin-top: -12px;left: -20px;margin-bottom: 16px;}
.static-features .abil5 span{display: block;width: 348px;height: 186px;}
.static-features .abil6-out .title{padding-top: 37px;}
.static-features .abil6{margin-top: 14px;margin-bottom: 9px;}
.static-features .abil7{top: -14px; left: -37px;}
.static-features .abil7 span{display: block;width: 426px;height: 202px;}
.static-features .abil7-out .title{padding-top: 50px;}
.static-features .abil8-out .title{padding-top: 21px;}
.static-features .abil8{margin-top: 7px;left: -47px;margin-bottom: 24px;}
.static-features .abil8 span{display: block;width: 351px;height: 193px;}
.static-features .abil9-out .title{padding-top: 55px;}
.static-features .abil9{margin-top: 20px;left: -41px;margin-bottom: 24px;}
.static-features .abil9 span{display: block;width: 351px;height: 223px;}
.static-features .abil10{top: 2px; left: -27px;}
.static-features .abil10 span{display: block;width: 351px;height: 185px;}
.static-features .abil11-out .title{padding-top: 15px;}
.static-features .abil11{left: -20px;}
.static-features .abil11 span{display: block;width: 351px;height: 183px;}
.static-features .abil12-out .title{padding-top: 45px;}
.static-features .abil12{margin-top: 5px;margin-bottom: 5px;}
.static-features .abil13-out .title{padding-top: 20px;}
.static-features .abil13{left: 8px;margin-bottom: 5px;}
.static-features .abil13 span{display: block;width: 395px;height: 207px;}
.static-features .abil14 span{display: block;width: 317px;height: 208px;}
.static-features .abil15 span{display: block;width: 351px;height: 211px;}
.static-features .abil15-out .title{padding-top: 25px;}
.static-features .abil17 span{display: block;width: 351px;height: 189px;}
.static-features .abil18{top: -11px;}
.static-features .abil18 span{display: block;width: 310px;height: 188px;}
.static-features .abil19-out .title{padding-top: 29px;}
.static-features .abil19{left: 46px;}
.static-features .abil20-out .title{padding-top: 20px;}
.static-features .abil20{margin-top: -10px;}

.show-eff-seo{height: 335px;margin-top: 53px;}
.show-eff-seo .pic-c{left: 200px;top: 0;z-index: 2;}
.show-eff-seo .pic-l{left: 99px;top: 5px;z-index: 1;}
.show-eff-seo .lit1{top: 82px;left: 49px;}
.show-eff-seo .lit2{top: 153px;left: 80px;}
.show-eff-seo .lit3{top: 62px;right: 120px;}
.show-eff-seo .lit4{top: 102px;right: 72px;z-index: 0;}
.show-eff-seo .lit5 {top: 129px;right: 140px;z-index: 4;}
.show-eff-seo .lit6 {top: -4px;left: 68px;z-index: 4;position: absolute;}
.show-eff-seo .lit5-sdw {top: 241px; right: 140px; z-index: 3}
.static-features .seo1{left: 45px;}
.static-features .seo2{margin-bottom: 10px;left: -20px;}
.static-features .seo2 span{display: block;width: 314px;height: 187px;}
.static-features .seo2-out .title{padding-top: 40px;}
.static-features .seo3{left: -15px;}
.static-features .seo3 span{display: block;width: 351px;height: 207px;}
.static-features .seo3-out .title{padding-top: 25px;}
.static-features .seo4-out .title{padding-top: 50px;}
.static-features .seo4 span{display: block;width: 330px;height: 227px;}
.static-features .seo5{left: 35px;}
.static-features .seo5-out .title{padding-top: 10px;}
.static-features .seo6{left: -42px;}
.static-features .seo6-out .title{padding-top: 25px;}
.static-features .seo7{left: -20px;}
.static-features .seo7-out .title{padding-top: 60px;}
.static-features .seo8-out .title{padding-top: 50px;}
.static-features .seo9{left: -20px;}
.static-features .seo9-out .title{padding-top: 40px;}
.static-features .seo10{margin-top: -15px; }
.static-features .seo4 span{display: block;width: 313px;height: 203px;}
.static-features .seo11{left: -12px;}
.static-features .seo11-out .title{padding-top: 15px;}

.static-features .seo12{left: 0px;}
.static-features .seo12-out .title{padding-top: 42px;}
.static-features .seo13{left: 0px;}
.static-features .seo13-out .title{padding-top: 45px;}

.show-eff-security{height: 320px;margin-top: 53px;}
.show-eff-security .pic-c{left: 190px;top: 0;z-index: 2;}
.show-eff-security .pic-l{left: 96px;top: 68px;z-index: 1;}
.show-eff-security .sdw{top: -66px;left: -30px;}
.show-eff-security .lit1{top: 58px;left: 61px;}
.show-eff-security .lit2{top: 110px;left: 29px;}
.show-eff-security .lit3{top: 62px;right: 92px;}
.show-eff-security .lit4{top: 145px;right: 45px;z-index: 0;}
.show-eff-security .lit5 {top: 147px;right: 102px;}
.static-features .secur1{margin-top: -30px;}
.static-features .secur1-out .title{padding-top: 33px;}
.static-features .secur2 span{display: block;width: 300px;height: 252px;}
.static-features .secur3{margin-top: 25px;}

.static-features .secur4-out .title{padding-top: 40px;}
.static-features .secur5{margin-top: 20px;}


.show-eff-speed{height: 370px;margin-top: 53px;}
.show-eff-speed .pic-c{left: 97px;top: 0;z-index: 2;}
.show-eff-speed .sdw{top: -58px;left: 10px;}
.show-eff-speed .lit1{top: 26px;left: 69px;}
.show-eff-speed .lit2{top: -12px;left: 143px;}
.show-eff-speed .lit3{top: 107px;left: 98px;}
.show-eff-speed .lit4{top: 23px;right: 92px;z-index: 5;}

.show-eff-reliability{height: 318px;margin-top: 53px;}
.show-eff-reliability .sdw{top: -58px;left: 10px;}
.show-eff-reliability .pic-c{left: 190px;top: 0;z-index: 2;}
.show-eff-reliability .lit1{top: 21px;left: 93px;}
.show-eff-reliability .lit2{top: 49px;left: 146px;}
.show-eff-reliability .lit3{top: 125px;left: 77px;}
.show-eff-reliability .lit4{top: 48px;right: 94px;}
.show-eff-reliability .lit5{top: 100px;right: 35px;}
.show-eff-reliability .lit6{top: 138px;right: 126px;}

.show-eff-fluid{height: 318px;margin-top: 53px;}
.show-eff-fluid .sdw{top: -33px;left: 10px;}
.show-eff-fluid .pic-c{left: 96px;top: 0;z-index: 2;}
.show-eff-fluid .lit1{top: 26px;left: 63px;}
.show-eff-fluid .lit2{top: -12px;left: 144px;}
.show-eff-fluid .lit3{top: 98px;left: 106px;}
.show-eff-fluid .lit4{top: 26px;right: 78px;}
.fluid1{top: 10px;}
.fluid2{top: 22px;}
.fluid3{left: -20px;}

.static-features .reliability1{top: -33px;}
.reliability2-out .title{padding-top: 39px;}
.reliability4 img{max-width: none;}

.static-features .speed2{margin-top: 17px;left: -55px;}
.static-features .speed2 span{display: block;width: 385px;height: 193px;}
.static-features .speed3{left: -25px;}
.static-features .speed3 > span{display: block;width: 351px;height: 207px;}

.nav-benefits [class*="icon-"], .nav-benefits > li:after{width: 23px;height: 24px;background-image: url("images/menu_icons.png");background-repeat: no-repeat;vertical-align: middle;margin-right: 15px;}
.nav-benefits > li{border-top: 1px solid #516272;}
.nav-benefits > li:after{content: '';width: 6px;height: 9px;position: absolute;right: 25px;top: 24px;margin-right: 0;background-position: -320px 0;}
.nav-benefits > li.active:after{background-position: -320px -40px;}
.nav-benefits > li.active:before{content: '';border-left: 4px solid #0eb759;position: absolute;left: 0;top: 0;height: 100%;}
.nav-benefits > li.active{background-color: #4c6174;}
.nav-benefits > li:first-child{border-top: 0;}
.nav-benefits > li > *{padding: 12px 35px 13px 19px;font-size: 0;}
.nav-benefits .text-el{vertical-align: middle;font-weight: bold;font-size: 14px;color: #fff;}
.icon-capability{background-position: 0 0;}
.icon-speed{background-position: -40px 0;}
.icon-seo-opt{background-position: -80px 0;}
.icon-security{background-position: -120px 0;}
.icon-usability-front{background-position: -160px 0;}
.icon-flex-template{background-position: -200px 0;}
.icon-reliability{background-position: -240px 0;}
.icon-free-template{background-position: -280px 0;}

li.active .icon-capability{background-position: 0 -40px;}
li.active .icon-speed{background-position: -40px -40px;}
li.active .icon-seo-opt{background-position: -80px -40px;}
li.active .icon-security{background-position: -120px -40px;}
li.active .icon-usability-front{background-position: -160px -40px;}
li.active .icon-flex-template{background-position: -200px -40px;}
li.active .icon-reliability{background-position: -240px -40px;}
li.active .icon-free-template{background-position: -280px -40px;}