@charset "utf-8";

/*reset*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, a, blockquote{margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;}
table {border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;}
table th{text-align: left;}
td, td img {vertical-align: top;} 
ul, ol{list-style: none;}
input, select, button, textarea{margin: 0;font-size: 100%;}
input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner{padding: 0;border: 0;}/* Firefox button bug */
input[type="text"], input[type="password"], textarea {padding: 0;}
input[type="checkbox"] {vertical-align: bottom;}
input[type="radio"] {vertical-align: text-bottom;}
a img{border: none;}
img{height: auto;max-width: 100%;vertical-align: middle;border: 0;width: auto\9;-ms-interpolation-mode: bicubic;}
figure{line-height: 0;font-size: 0;}
blockquote, q {quotes: none;}
hr{border:0;width: 100%;display: block;margin: 0;}
/*/reset*/

/*scaffolding*/

/*base scaffolding*/
.content{position: relative;z-index: 1;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display: block;}
.main-body{min-height: 100%;margin: 0 auto;overflow: hidden;}

.container{margin: 0 auto;clear: both;max-width: 1120px;padding: 0 10px;}
.big-container{max-width: 1220px;margin: auto;}
/*/base scaffolding*/

body{min-width: 960px;}
/*/scaffolding*/

/*base settings*/
body, input, select, button, textarea, .f-s_0 > *, .items > li, .items > td, .text-el, .nav > li, .cuselText, .frame-kit .title, .t-a_j > *{font-size: 13px;}
html, body{height: 100%;}
html {-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body {text-align: left;overflow-y: scroll;}
body, input, select, button, textarea {font-family: Arial, sans-serif;line-height: 1.5;}
input[type="submit"], input[type="reset"], input[type="button"], button {overflow: visible;background-color: transparent;border: none;}
input[type="button"], input[type="submit"], input[type="reset"], button{text-align: center;}
label, input[type="button"], input[type="submit"], input[type="reset"], button{padding: 0;cursor: pointer;}
[class*="btn"] > button, [class*="btn"] > a, .buti > button, .buti > a{cursor: pointer;display: inline-block;font-size: 0 !important;}
[class*="btn"].pointer > button, [class*="btn"].pointer > a{cursor: pointer !important;}
input[type="text"], input[type="password"], textarea{width: 100%;max-width: 100%;padding: 0 15px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
textarea, select, input[type="text"], input[type="password"]{border: 1px solid;background-color: #fff;border-color: #ccd3d3;font-size: 14px;}
select, input[type="text"], input[type="password"]{height: 46px;}
textarea{overflow: auto;display: block;height: 64px;padding-top: 4px;padding-bottom: 4px;}
sub, sup {position: relative;font-size: 75%;line-height: 0;}
sup {top: -0.5em;vertical-align: super;font-size: smaller;}
sub {bottom: -0.25em;vertical-align: sub;font-size: smaller;}
.pointer, .arrow, .ref, .c_p{cursor: pointer;}

/*links*/
a{cursor: pointer;}
.nav a:focus, .nav a:active{outline: none;}
/*/links*/
.baner a:active, .baner a:focus, .items > li > a:focus, .items > li > a:active, input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus{outline: none}

.preloader{min-height: 35px;width: 100%;}
.baner .preloader, .p_r .preloader, .frame-tabs-ref .preloader{position: absolute;left: 0;top: 0;height: 100%;z-index: 10000;}

/*[class*="title-"] .frame-title{display: inline;font-size: 0;margin-right: 5px;}*/
.frame-title .title{display: inline;}
/*/base settings*/

/*base icons*/
a.f-s_0{display: inline-block;text-decoration: none;}
[class*="frame-ico"]{text-align: center;float: left;font-size: 0;background-image: none !important;}
[class*="icon_"], [class*="icon-"]{display: inline-block;font-size: 0;line-height: 0;position: relative;width: 0;height: 0;}
/*/base icons*/

/*adding selectors*/
.b-s_b-b{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
.d_b{display: block!important;}
.d_i{display: inline!important;}
.d_n{display: none!important;}
.v_h{visibility: hidden;}
.d_n_{display: none;}
.d_i-b{display: inline-block!important;}
.d_i-b_{display: inline-block;}
.f_l{float: left!important;}
.f_r{float: right!important;}
.c_b{clear: both!important;}
.o_h{overflow: hidden!important;}
.t-o-e{overflow: hidden;width: 100%;display: block;text-overflow: ellipsis;white-space: nowrap;}
.t-a_c{text-align: center !important;}
.t-a_r{text-align: right !important;}
.t-a_l{text-align: left !important;}
.t-d_n{text-decoration: none!important;}
.t-d_u{text-decoration: underline!important;}
.b_n{background: none !important;}
.p_r{position: relative!important;}
.z-i_2{position: relative;z-index: 2;}
.f-s_0, .f-s_0 .f-s_0{font-size: 0;}
.f-s_13{font-size: 13px !important;}
.f-s_12{font-size: 12px !important;}
.f-s_11{font-size: 11px !important;}
.v-a_b{vertical-align: bottom !important;}
.v-a_bl{vertical-align: baseline !important;}
.v-a_t{vertical-align: top !important;}
.v-a_m{vertical-align: middle !important;}
.l-h_35{line-height: 35px;}

.w-s_n-w{white-space: nowrap;}
.w_100{width: 100% !important;}
.m-t_10{margin-top: 10px !important;}
.m-t_5{margin-top: 5px !important;}
.m-r_10{margin-right: 10px !important;}
.m-r_25{margin-right: 25px !important;}
.m-b_30{margin-bottom: 30px !important;}
.m-b_20{margin-bottom: 20px !important;}
.m-b_15{margin-bottom: 15px !important;}
.m-b_10{margin-bottom: 10px !important;}
.m-b_5{margin-bottom: 5px !important;}

.o_5, [rel="group"].active, .active > [rel="group"], .frame-thumbs .active > a, .not-avail img{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);-moz-opacity: .5;-khtml-opacity: .5;opacity: .5;}
.b-r_5{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.b-r_4{-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
.b-r_3{-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
/*/adding selectors*/

[class*="icon-"], [class*="icon_"], .cuselFrameRight:after, .niceCheck, .pager > a, .items-tarifs li.active:after{background: url("images/sprite.png") no-repeat;}
.v_f{background-image: url("images/v_f.png");background-repeat: repeat-y;}
.h_f, body.main header{background-image: url("images/h_f.png");background-repeat: repeat-x;}

/*icons*/
.icon-arrow-d{width: 6px;height: 4px;background-position: 0 0;top: -1px;margin-left: 4px;}
.active > button .icon-arrow-d{background-position: 0 -20px;}
.icon-arrow-l{width: 6px;height: 9px;background-position: -180px 0;margin-right: 5px;}
.icon-arrow-r{width: 6px;height: 9px;background-position: -200px 0;margin-left: 5px;}
.icon_arrow_p, .icon_arrow_n{width: 26px;height: 50px;margin-top: -25px;}
.icon_arrow_p{background-position: -20px 0;}
.icon_arrow_n{background-position: -60px 0;}
.icon-adaptive{width: 44px;height: 31px;background-position: -120px 0;margin-right: 5px;}
.icon-watch{width: 16px;height: 11px;background-position: -220px 0;margin-right: 8px;top: 1px;}
.icon-comment{width: 16px;height: 16px;background-position: -240px 0;margin-right: 8px;top: 5px;}
.icon-info{width: 14px;height: 16px;background-position: -280px 0;margin-left: 6px;top: 1px;}
.icon-mail{width: 16px;height: 12px;background-position: -320px 0;margin-right: 11px;top: 1px;}
.icon-phone{width: 14px;height: 14px;background-position: -340px 0;margin-right: 9px;top: 2px;}
.icon_times_drop{width: 14px;height: 14px;background-position: -420px 0;top: 20px;right: 23px;position: absolute;z-index: 1;}
/*/icons*/

/*methods*/
.clearfix:after, article:after, .nav:after, .container:after, .horizontal-form label:after, .horizontal-form .frame-label:after, .frame-inside:after, .frame-label:after{visibility: hidden;display: block;font-size: 0;content: ".";clear: both;height: 0;}
.helper{vertical-align: middle;width: 0;height: 100%;padding: 0 !important;border: 0 !important;display: inline-block;}
.helper + *{vertical-align: middle;display: inline-block;word-break: break-word;word-wrap: break-word;}
.t-a_j{text-align: justify !important;font-size: 1px;}
.t-a_j > *{display: inline-block;vertical-align: middle;float: none !important;text-align: left;}
.t-a_j:after, .t-a_j .ie{content: "1";margin-left: 100%;height: 1px;visibility: hidden;display: inline-block;width: 100%;}
/*/methods*/

/*headers*/
.title-h1, h1, .title-h2, h2, .title-h3, h3, .title-h4, h4{margin-bottom: 10px;line-height: 1.2;}
/*/headers*/

/*photo-block*/
.photo-block{max-width: 100%;position: relative;font-size: 0;overflow: hidden;text-align: center;display: inline-block;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
.photo-block .helper{height: 100%!important;}
.photo-block img{max-height: 100%;}
.photo-block a{display: block;}
.lazy{width: 100%;height: 100%;}
.lazy.load{width: auto;height: auto;background-image: none;}
/*/photo-block*/

/*base nav*/
nav a{text-decoration: none;}
.nav > li{float: left;position: relative;}
.nav.nav-vertical > li{float: none;}
.nav-vertical + .nav-vertical{margin-top: 10px;}
.nav > li > a, .nav > li > span, .nav > li > button{display: block;}
/*/base nav*/

/*text*/
.text{margin-bottom: 20px;}
p {margin-bottom: 10px;}t
.text p {margin-bottom: 20px;}
.text p + h2{padding-top: 9px;}
.text ul.unstyled, .text ol.unstyled{margin: 0;}
.text ul.unstyled li:before{content: none;}
.text ul {list-style-type: none;margin: 0 15px 20px 23px;}
.text ul li{position: relative;}
.text ul li:before{content: "—";position: absolute;left: -15px;;top: 0px;}
.text ul ul {margin: 10px 0 10px 25px;}
.text ol {list-style: decimal;margin: 0 15px 20px 20px;}
.text ol ol {margin: 10px 0 10px 25px;}
.text li {margin-bottom: 5px;}
.text table {margin-bottom: 15px;font-size: 100%;width: auto;}
.text th, .text td {padding: 4px;text-align: left;}
.text th {text-align: center;}
.text a{text-decoration: underline;}
.text img[align=left] {margin: 0 10px 10px 0;float: left;}
.text img[align=right] {margin: 0 0 10px 10px;float: right;}
.text dl {margin: 0 0 20px 0;}
.text dt {margin-bottom: 2px;}
.text dd {margin-bottom: 5px;}
.text hr {height: 1px;border: none;margin: 10px 0;clear: both;}
.text blockquote{position: relative;padding: 10px 0;margin-bottom: 20px;}
.text blockquote:before, .text blockquote:after{content: "";position: absolute;width: 100%;left: 0;}
.text blockquote:before{top: 0;}
.text blockquote:after{bottom: 0;}
/*/text*/

/*buttons base*/
[class*="btn-"], .buti{display: inline-block;position: relative;font-size: 0;}
[class*="btn-"], [class*="btn-"] > a, [class*="btn-"] > a:hover{text-decoration: none !important;}
[class*="btn-"], .buti{vertical-align: middle;}

/*/buttons base*/

/*items*/
.items{font-size: 0;}
.items > li{display: inline-block;vertical-align: top;position: relative;}

.items-catalog > li{border: 1px solid #e1e6e6;background-color: #fff;}
.items-catalog > li .description{position: relative;padding: 0 10px;height: 64px;}
.items-catalog > li .description > .out-in{position: absolute;left: 0;bottom: 0;padding: 13px 0 10px;height: 41px;width: 100%;background-color: #fff;transition: bottom 0.3s 0.3s ease-in-out;}
.items-catalog > li:hover .description > .out-in{bottom: 70px;}
.items-catalog > li{transition: box-shadow 0.3s ease-in-out;}
.items-catalog > li:hover{box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);}
.items-catalog > li .photo-block{text-align: center;height: 256px;width: 100%;margin-bottom: 4px;}
.items-catalog > li .photo-block:after{content: '';position: absolute;left: 0;top: 0;width: 100%;height: 100%;transition: background-color 0.3s ease-in-out;}
.items-catalog .funcs-buttons{height: 0;opacity: 0;margin: 0 -10px -10px;padding: 0 10px;background-color: #f5f7f8;transition: opacity 0.3s 0.3s ease-in-out, height 0.3s 0.3s ease-in-out;padding-top: 17px;margin-top: 8px;}
.items-catalog > li:hover .funcs-buttons{opacity: 1;height: 63px;}
.items-catalog .funcs-buttons .btn-create-shop2{margin-right: 10px;}
.items-catalog .funcs-buttons .btn-create-shop2 .text-el{font-size: 14px;}
.items-catalog > li:hover .photo-block:after{background-color: rgba(0,0,0,.2);}
.items-catalog > li > .out-in{padding: 10px;}
.items-catalog > li > .out-in > a{display: block;font-size: 0;}
.items-catalog .title{font-size: 14px;color: #969fa3;text-overflow: ellipsis;overflow: hidden;width: 100%;display: block;white-space: nowrap;}
.items-catalog .frame-prices .curr, .items-catalog .frame-prices .price{font-size: 15px;}
.items-catalog .frame-price-title{margin-right: 80px;}

.items-happy-owner{margin-left: -22px;}
.items-happy-owner > li{margin-left: 22px;width: 549px;margin-bottom: 29px;}
.items-happy-owner .photo-block{width: 81px;height: 73px;float: left;}
.items-happy-owner .frame-name{margin-left: 100px;height: 73px;font-size: 14px;}
.items-happy-owner .address{color: #969fa3;}
.items-happy-owner .description{border: 1px solid #e1e6e6;position: relative;font-size: 15px;font-style: italic;color: #969fa3;padding: 15px 30px 23px;margin-bottom: 23px;}
.items-happy-owner .description:before, .items-happy-owner .description:after{content: '';position: absolute;top: 100%;border-style: solid;border-color: transparent;}
.items-happy-owner .description:before{border-width: 10px;left: 34px;border-top-color: #e1e6e6;}
.items-happy-owner .description:after{border-width: 8px;left: 36px;border-top-color: #fff;}
/*/items*/

/*carousels*/
.horizontal-carousel, .vertical-carousel{position: relative;z-index: 0;}
.items-carousel{position: relative;}
.group-button-carousel .arrow{z-index: 2;display: none;position: absolute;top: 50%;-webkit-transition: opacity 0.5s ease-in-out;-moz-transition: opacity 0.5s ease-in-out;-o-transition: opacity 0.5s ease-in-out;transition: opacity 0.3s ease-in-out;}
.group-button-carousel .prev{left: 0;}
.group-button-carousel .next{right: 0;}
.content-carousel{position: relative;z-index: 1;}
.carousel-js-css .content-carousel, .frame-scroll-pane .content-carousel{overflow: hidden;}
.jcarousel-clip{overflow: hidden;}

.items-h-carousel{margin-left: -46px;}
.carousel-js-css ul{width: 20000px;margin: 0;}
.vertical-carousel .carousel-js-css ul{width: auto;}

.items-catalog{margin-left: -46px;}
.items-catalog > li{position:relative;width: 340px;margin: 0 0 54px 46px;overflow: hidden;}
.carousel-js-css .items-h-carousel > li{margin: 0 45px 0 0;}
.items-h-carousel > li{width: 341px !important;margin-bottom: 30px;}

.special-proposition{margin-bottom: 82px;}
.special-proposition .title-proposition-h{margin-bottom: 24px;overflow: hidden;}

.items-v-carousel{margin-left: 0;}
.items-v-carousel > li{display: block;width: 100%;height: 270px !important;margin-left: 0;margin-bottom: 0;}
.items-v-carousel > li > .frame-photo-title{overflow: hidden;text-overflow: ellipsis;float: none !important;display: block;width: 95%;height: 193px;}
.vertical-carousel .frame-photo-title > .title{margin: 0 5px;}
.vertical-carousel .photo-block{margin-top: 22px;}
.vertical-carousel .description{margin-left: 15px;margin-right: 15px;}
.vertical-carousel .jcarousel-clip, .vertical-carousel .content-carousel{max-height: 542px;}
.vertical-carousel .iscarousel{padding: 40px 0 40px;}
.carousel-category-popular .frame-title{position: relative;overflow: hidden;}

.jspContainer{overflow: hidden;position: relative;}
.jspPane{position: absolute;}
.jspVerticalBar{position: absolute;top: 0;right: 0;width: 16px;height: 100%;}
.jspHorizontalBar{position: absolute;bottom: 0;left: 0;width: 100%;}
.jspHorizontalBar, .scrollNSP.jScrollPane > div{height: 16px;}
.jspVerticalBar *, .jspHorizontalBar *{margin: 0;padding: 0;}
.jspCap{display: none;}
.jspHorizontalBar .jspCap{float: left;}
.jspTrack{position: relative;}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag{float: left;height: 100%;}
.jspDrag{position: relative;top: 0;left: 0;cursor: pointer;}
.jspHorizontalBar .jspDrag{height: 14px;top: 1px;}
.jspVerticalBar .jspDrag{width: 14px;left: 1px;}
.scrollNSP{right: 0;position: absolute;z-index: 2;margin-top: -20px;}
.scrollNSP.jScrollPane{margin-top: 0;}
.scrollNSP > div{height: 1px;}
.jspArrow{text-indent: -20000px;display: block;cursor: pointer;}
.jspArrow.jspDisabled{cursor: default;}
.jspVerticalBar .jspArrow{height: 16px;width: 100%;}
.jspHorizontalBar .jspArrow{width: 16px;float: left;height: 100%;}
.jspVerticalBar .jspArrow:focus{outline: none;}
.jspCorner{float: left;height: 100%;}
/*/carousels*/

/*menu*/
/*/menu*/

/*benefits*/
.frame-benefits{border-bottom: 1px solid #e1e6e6;padding: 74px 0 25px;font-family: 'Roboto', sans-serif;}
.items-benefits{margin-left: -14%;}
.items-benefits > li{margin-left: 14%;width: 36%;}
.items-benefits > li > [class*="icon-"]{float: left;width: 98px;background: url("images/benefits.png") no-repeat;}
.items-benefits .description{margin-left: 115px;}
.items-benefits .description a .text-el, .items-benefits .description{font-size: 14px;}
.items-benefits > li{margin-bottom: 65px;}
.items-benefits > li > .icon-benfit-1{width: 88px;height: 79px;background-position: 0 0;}
.items-benefits > li > .icon-benfit-2{width: 88px;height: 77px;background-position: 0 -90px;margin-top: 8px;}
.items-benefits > li > .icon-benfit-3{width: 87px;height: 87px;background-position: 0 -170px;}
.items-benefits > li > .icon-benfit-4{width: 98px;height: 71px;background-position: 0 -260px;margin-top: 24px;}
.items-benefits .title{font-size: 18px;font-weight: bold;line-height: 1.2;margin-bottom: 11px;}
.items-benefits .short-desc{color: #969fa3;margin-bottom: 11px;}
/*/benefits*/

/*seo*/
.frame-seo{padding-top: 96px;border-bottom: 1px solid #e1e6e6;background-color: #fff;}
.frame-seo .photo-block{float: right;width: 635px;}
.frame-seo .description{margin-right: 645px;}
.frame-seo .title-h1{margin-bottom: 25px;font-family: 'Roboto', sans-serif;text-align: left;}
.frame-seo .short-desc{font-size: 14px;color: #969fa3;margin-bottom: 32px;font-family: 'Roboto', sans-serif;}
/*/seo*/

.frame-comments{padding-top: 73px;padding-bottom: 50px;border-bottom: 1px solid #e1e6e6;background-color: #fff;}
.frame-comments .title-h1{text-align: center;margin-bottom: 36px;}

.frame-add-stimulation{padding-top: 55px;padding-bottom: 40px;text-align: center;background-color: #f6f7f9;}
.frame-add-stimulation .sub-title{margin-bottom: 29px;font-size: 14px;color: #969fa3;}
.frame-add-stimulation .btn-create-shop2{margin-bottom: 36px;}

#popular_products{border-bottom: 1px solid #e1e6e6;padding-top: 50px;}
#popular_products .title-proposition-h{text-align: center;}
#popular_products .title-proposition-h .title-h1{margin-bottom: 4px;font-family: 'Roboto', sans-serif;}
#popular_products .sub-title{font-size: 14px;color: #969fa3;margin-bottom: 10px;}

/*prices*/
.price-discount{text-decoration: line-through;}
/*/prices*/

/*form*/
.for_validations{text-align: center;padding: 9px 15px 10px;position: relative;margin-top: 12px !important;color: #333;}
input.error{border-color: #f8adb1;}
.for_validations.error{background-color: #fff2f3;}
.for_validations.error:after{content: '';position: absolute;left: 50%;margin-left: -10px;top: -18px;border-width: 9px 10px;border-style: solid;border-color: transparent;border-bottom-color: #fff2f3;}
.help-block{color: #969fa3;}
.line-form{position: relative;z-index: 1;width: 100%;text-align: left;vertical-align: middle;display:inline-block;font-size: 0;}
.line-form select{visibility: hidden;}
.cusel {
    width: 100% !important;height: 44px;display: inline-block;position: relative;cursor: pointer;z-index: 1;
    background-color: #fff;border: 1px solid #ccd3d3;
}
.cuselFrameRight {
    position: absolute;z-index: 2;top: 0;right: 0;height: 100%;width: 45px;overflow: hidden;
    background-color: #f5f7f8;border-left: 1px solid #ccd3d3;
}
.cuselFrameRight:after{content: '';position: absolute;background-position: -100px 0;width: 9px;height: 5px;left: 50%;top: 50%;margin: -3px 0 0 -5px;}
.cuselText {color: #969fa3;font-size: 14px;height: 44px;line-height: 44px;padding-left:10px;padding-right: 46px;cursor: pointer;overflow: hidden;z-index: 1;position: absolute;top: 0;left: 0;text-overflow: ellipsis;max-width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
.cusel span {display: block;cursor: pointer;white-space: nowrap;padding: 3px 5px 3px 5px;font-size: 13px;margin: 0 -2px;}
.cusel-scroll-pane span{padding: 5px 5px 5px 20px;}
.cusel-scroll-pane{overflow: visible !important;}
.cusel .cuselActive, .cusel-scroll-pane span:hover{background-color: #479ccf;color: #fff;}
.cusel .cuselActive {cursor: default;}
.cuselOpen {z-index: 999;border-color: #9facac;}
.cuselOpen > .cuselFrameRight{border-color: #9facac;}
.cusel .cusel-scroll-wrap {
    display: block;visibility: hidden;position: absolute;top: 100%;left: -1px;width: auto;min-width: 100%;
    background-color: #fff;
}
.cusel .jScrollPaneContainer{position: relative;overflow: hidden;z-index: 2;border: 1px solid #ccc;padding: 0 1px;box-shadow: 0 1px 5px rgba(0,0,0,.15);}
.cusel .jScrollPaneTrack {height: 100%;width: 7px !important;position: absolute;top: 0;right: 4px;}
.cusel .jScrollPaneDrag {position: absolute;cursor: pointer;width: 15px !important;height: 27px !important;right: -4px;}
.cusel .jScrollPaneDragTop {position: absolute;top: 0;left: 0;overflow: hidden;}
.cusel .jScrollPaneDragBottom {position: absolute;bottom: 0;left: 0;overflow: hidden;}
.cusel .jScrollArrowUp {position: absolute;top: 0;right: 2px;width: 26px;height: 12px;cursor: pointer;overflow: hidden;}
.cusel .jScrollArrowDown {width: 25px;height: 12px;position: absolute;top: auto;bottom: 0;right: 3px;cursor: pointer;overflow: hidden;}

.horizontal-form label, .horizontal-form .frame-label{margin-bottom: 13px;display: block;}
.horizontal-form label label, .horizontal-form .frame-label label{margin-bottom: 0;}
.horizontal-form label > .title, .horizontal-form .frame-label > .title{float: left;width: 100px;padding: 7px 10px 0 0;text-align:left;}
.horizontal-form .frame-form-field{margin-left: 110px;display: block;}
.horizontal-form .frame-radio{padding-top: 7px;}

.vertical-form .control-label{margin-bottom: 2px;}
.vertical-form .frame-label, .vertical-form label{margin: 17px 0 15px;display: block;}
.vertical-form .frame-label:first-child, .vertical-form label:first-child{margin-top: 0;}
.vertical-form .frame-label label, .vertical-form label label{margin: 0;}
/*/form*/

/*crumbs*/
.frame-crumbs{padding: 13px 0 14px;}
.crumbs{position: relative;padding: 10px 0;}
.without-crumbs{margin-top: 20px;margin-bottom: 20px;}
.without-crumbs-side{margin-bottom: 20px;margin-top: 0;}
/*/crumbs*/

/*tabs*/
.tabs{display: inline-block;}
.tabs-data{position: relative;z-index: 1;top: 1px;}
.tabs > li{float: left;position: relative;}
.tabs-data > li > a{text-decoration: none;}
.frame-tabs-ref > div{display: none;min-height: 75px;}
.frame-tabs-ref > div:first-child{display: block;}
/*/tabs*/

/*pagination*/
.next-page, .prev-page{display: none;}
.pagination{text-align: center;margin-bottom: 20px;position: relative;z-index: 1;}
.pagination li{display: inline-block;margin: 0 2px 4px;}
li.clear-pag-item{margin: 0 14px 4px;}
.pagination li > a, .pagination li > span{display: block;padding: 0 15px;}
.pagination li > a{height: 32px;line-height: 32px;text-decoration: none;}
.pagination li > span{height: 34px;line-height: 34px;}
/*/pagination*/

/*profile*/
.table-profile td, .table-profile th{height: 50px;padding: 0 20px 0 45px;vertical-align: middle;}
.page-profile .frame-change-password{width: 430px;}
.page-profile .frame-change-profile{width: 400px;float: left;}
.info-discount .inside-padd{padding: 15px 20px;}
.info-discount .content{padding: 2px;}
/*/profile*/

/*navs*/
.sub-menu{position: absolute;display: none;}
.nav-footer-menu{margin-bottom: 11px;}
.nav-footer-menu li{padding: 0 11px;margin-bottom: 3px;}
.nav-footer-menu a{font-size: 14px;font-weight: bold;text-decoration: none;color: #fff;}
.nav-footer-menu a:hover{color: #a2b3c0;text-decoration: none;}
/*/navs*/

/*404*/
.page-404{position: relative;text-align: center;padding-bottom: 1000px;margin-bottom: -1000px;}
.page-404 img{float: left;}
.page-404 .content{display: inline-block;width: 680px;padding-top: 55px;}
.page-404 .description{margin-left: 255px;text-align: left;}
.page-404 [class*="btn"]{margin-top: 10px;}
/*/404*/

/*footer*/
.h-footer{height: 140px;}
footer{min-height: 140px;margin: -140px auto 0;position: relative;background-color: #3b484d;}
footer .text-el{font-size: 14px;color: #969fa3;}
.content-footer{padding-top: 38px;}
/*/footer*/

/*drop*/
.drop{display: none;position: absolute;overflow: hidden;}
/*/drop*/

/*tooltip*/
.tooltip{position:absolute;z-index:2104;display:block;visibility:visible;padding:3px 8px;display: none;margin-top: -5px;padding:5px;}
.tooltip p{margin-bottom: 0;}
.tooltip:after{content: "";position:absolute;width:0;height:0;bottom:-5px;left:50%;margin-left:-5px;}
/*/tooltip*/

/*fancybox loading*/
#fancybox-loading{position:fixed;top:50%;left:50%;width:40px;height:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;z-index:11104;display:none}
#fancybox-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background-image:url("../images/fancybox.png")}
/*/fancybox loading*/

/*base*/
.f-s_13{font-size: 13px !important;}
.f-s_14{font-size: 14px !important;}
.f-s_16{font-size: 16px !important;}
.row-kits li, .items-complect > li, .pager, .title-category-l1, .menu-row-category .frame-drop-menu > ul > li, .lineForm, .compare-characteristic > li, .nav, .funcs-buttons{font-size: 0;}

.f-w_b{font-weight: bold!important;}
.f-w_n{font-weight: normal!important;}
.items-brand-image > li > .frame-photo-title > .title{font-weight: normal;}
.text blockquote:before, .text blockquote:after{border-width: 1px 0;border-style: solid;}

button[disabled="disabled"], input[type="submit"][disabled="disabled"], input[type="reset"][disabled="disabled"], input[type="button"][disabled="disabled"], .disabled, .disabled > *, .divider{cursor: default;}

.c_3{color: #333 !important;}
.c_6{color: #666 !important;}
.c_9{color: #999 !important;}
.c_w{color: #fff !important;}
/*/base*/

/*active*/
:active{outline: none;}
:focus{outline: none;}
/*/active*/

/*groups-buttons*/
.groups-buttons [class*="btn"]:last-child{-moz-border-radius: 0 3px 3px 0;-webkit-border-radius: 0 3px 3px 0;border-radius: 0 3px 3px 0;}
.groups-buttons [class*="btn"]:first-child{-moz-border-radius: 3px 0 0 3px;-webkit-border-radius: 3px 0 0 3px;border-radius: 3px 0 0 3px;}
.groups-buttons [class*="btn"].active:first-child{border-right-width: 0 !important;}
.groups-buttons [class*="btn"].active:last-child{border-left-width: 0 !important;}
/*/groups-buttons*/

/*links*/
a, .ref, .name-check-filter{text-decoration: underline;}
.name-check-filter{text-decoration: none;}
a:hover, .selected a, .ref:hover, .nav-static-pages > li > a:hover{text-decoration: none;}
/*/links*/

/*dotted lines*/
[class*="d_l"]{text-decoration: none;cursor: pointer;position: relative;display: inline;border-bottom: 1px dotted transparent;line-height: 1.2;}
[disabled] [class*="d_l"]{cursor: default;}
/*/dotted lines*/

/*decor-element*/
.decor-element{left: 0;padding: 8px;margin: -13px;position: absolute;top: 0;width: 100%;height: 100%;z-index: -1;border: 2px solid transparent;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;-webkit-transition: border-color .1s .3s ease-in-out, background-color .1s .3s ease-in-out;-moz-transition: border-color .1s .3s ease-in-out, background-color .1s .3s ease-in-out;-o-transition: border-color .1s .3s ease-in-out, background-color .1s .3s ease-in-out;transition: border-color .1s .3s ease-in-out, background-color .1s .3s ease-in-out;}
/*/decor-element*/

/*text*/
.list-style-1 li{position: relative;padding-left: 22px;}
.list-style-1 li:before{content: "\b7";position: absolute;left: 9px;top: -6px;font-size: 25px;}
.text table {border: 1px solid transparent;}
.text th, .text td{border: 1px solid transparent;}
hr{border-top: 1px solid transparent;border-bottom: 1px solid transparent;}
.text table{border: 1px solid transparent;}
.text th, .text td{border: 1px solid transparent;}
hr{border-top: 1px solid transparent;border-bottom: 1px solid transparent;}
/*/text*/

/*buttons*/
.btn-enter{border: 1px solid #636363;border-radius: 2px;margin-right: 11px;}
.btn-enter > *{padding: 0 26px;height: 35px;line-height: 35px;}
.btn-enter .text-el{color: #fff;font-size: 11px;text-transform: uppercase;}
.btn-enter:hover{border-color: #fff;}
.btn-enter:hover .text-el{color: #fff;}
.btn-enter:active{border-color: #fff;background-color: #fff;}
.btn-enter:active .text-el{color: #31393c;}

.btn-create-shop{background-color: rgba(255,255,255,.2);border-radius: 2px;margin-right: 20px;}
.btn-create-shop > *{padding: 0 22px;height: 37px;line-height: 37px;}
.btn-create-shop .text-el{color: #fff;font-size: 11px;text-transform: uppercase;}
.btn-create-shop:hover{background-color: #0eb759;}
.btn-create-shop:active{background-color: #20c94f;}

.btn-create-shop2{background-color: #0eb759;border-radius: 2px;}
.btn-create-shop2 > *{padding: 0 35px;height: 46px;line-height: 46px;}
.btn-create-shop2 .text-el{color: #fff;font-size: 14px;font-weight: bold;}
.btn-create-shop2.big > *{height: 56px;line-height: 56px;}
.btn-create-shop2.big .text-el{font-size: 14px;text-transform: uppercase;}

.btn-primary, .btn-form{background-color: #479ccf;border-radius: 2px;}
.btn-primary > *, .btn-form > *{padding: 0 22px;height: 37px;line-height: 37px;}
.btn-primary .text-el, .btn-form .text-el{color: #fff;font-size: 13px;}
.btn-form .text-el{font-weight: bold;}
.btn-primary.big > *{padding: 0 54px;height: 46px;line-height: 46px;}
.btn-primary.big .text-el{color: #fff;font-size: 14px;font-weight: bold;}
.neigh-buttonform{height: 37px;}

.btn-primary:hover{background-color: #48b5f6;}

.btn-full-desc{border-radius: 2px;border: 2px solid #479ccf;}
.btn-full-desc > *{padding: 0 25px;height: 43px;line-height: 43px;}
.btn-full-desc .text-el{color: #479ccf;font-size: 14px;}

.btn-watch{margin-right: 20px;}

.btn-default{padding: 0 28px;height: 44px;line-height: 44px;border: 1px solid #ccd3d3;background-color: #f5f7f8;}
.btn-default .text-el{color: #333;font-size: 14px;}
.btn-default:hover{background-color: #e8edef;}
.btn-default:active{box-shadow: inset 0 2px 4px rgba(186, 199, 205, .75);}
/*/buttons*/

/*header*/
.fon-header{position: relative;z-index: 2;}
.fon-header img{width: 100%;}
.form-create-shop{position: absolute;left: 0;top: 50%;width: 100%;margin-top: -125px;height: 250px;}
.form-create-shop .title-h1{font-size: 55px;line-height: 61px;font-weight: bold;color: #fff;margin-bottom: 20px;text-align: left;}
.form-create-shop input{width: 324px;height: 46px;border: 0;border-radius: 0;vertical-align: top;padding-left: 23px;}
.form-create-shop input + .addon{background-color: #f5f7f8;height: 46px;line-height: 46px;border-left: 1px solid #ccd3d3;vertical-align: top;padding: 0 29px 0 25px;margin-right: 24px;}
.form-create-shop .short-desc{font-size: 18px;color: #fff;margin-bottom: 37px;font-family: 'Roboto', sans-serif;}

header{position: relative;z-index: 3;}
header, .right-header{height: 64px;}
body header{background-color: #31393c;}
body.main header{width: 100%;position: fixed;background-color: rgba(0,0,0,.2);}
body.main header, body.main .right-header{height: 76px;}
header .divider{width: 1px;height: 28px;margin-right: 25px;border-left: 1px solid rgba(255,255,255,.2);}

.logo{width: 188px;height: 31px;overflow: hidden;float: left;margin-top: 17px;margin-right: 97px;}
body.main .logo{margin-top: 23px;}
.menu-header{float: left;margin-right: 20px;}
.right-header{float: right;width: 400px;text-align: right;}
.right-header > .d-i_b{width: 100%;}
.phone-header{color: #fff;}
.menu-header > li{padding: 11px 16px 12px;border-top: 2px solid transparent;position: static;}
.menu-header > li.is-sub{padding-top: 11px;padding-bottom: 12px;}
.menu-header > li > *{padding-top: 11px;padding-bottom: 12px;display: block;}
.menu-header > li.is-sub > span, .menu-header > li.is-sub > a, .menu-header > li.is-sub > button{padding-left: 16px;padding-right: 16px;}
body.main .menu-header > li > span, body.main .menu-header > li > a, body.main .menu-header > li > button{padding-top: 17px;padding-bottom: 18px;}
.menu-header > li > * .text-el, .menu-header > li > *{font-size: 11px;text-transform: uppercase;}
.menu-header > li > span{position: relative;color: #9fb2b9;}
.menu-header > li > span:after{content: '';position: absolute;width: 100%;top: -11px;left: 0;border-top: 2px solid #0eb759;}
.sub-menu > li >  *{display: block;}
.sub-menu > li > a{text-decoration: none;}
.menu-header > li > .sub-menu > li{border-top: 1px solid #e1e6e6;}
.menu-header > li > .sub-menu > li > a{color: #333;}
.menu-header > li > .sub-menu > li > a:hover, .menu-header > li > .sub-menu > li > span{background-color: #479ccf;color: #fff;}
.menu-header > li > .sub-menu > li >  *{padding: 12px 15px;}
.menu-header > li > .sub-menu{padding: 0;display: none;width: 201px;background-color: #fff;border: 1px solid rgba(0,0,0,.2);box-shadow: 0 1px 5px rgba(0,0,0,.15);}
.menu-header > li > a, .menu-header > li > button{color: #fff;text-decoration: none;}
.menu-header > li > button{position: relative;z-index: 10000;}
.menu-header > li.active .isDrop{background-color: #f5f7f8;}
.menu-header > li.active .isDrop .text-el{color: #969fa3;}

/*titles*/
.title-h1, h1{font-size: 35px;font-weight: normal;font-family: 'Roboto', sans-serif;}
.title-h2, h2{font-size: 21px;font-weight: normal;}
.title-h3, h3, .title-h3 [class*="price-"]{font-size: 18px;font-weight: normal;}
.title-h4, h4{font-size: 14px;font-weight: normal;}
.sub-title, .default-title{font-family: 'Roboto', sans-serif;}
.default-title{font-size: 18px;color: #969fa3;text-align: center !important;}
/*/titles*/

/*tooltip*/
.tooltip{font-size:11px;text-align:center;text-decoration:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.tooltip:after{border-color:transparent;border-style:solid;border-width:5px 5px 0;}
/*/tooltip*/

/*stars*/
.star-small, .star-small div, .star-small span{background: url('images/stars.png');}
.star-big, .star-big div, .star-big span{background: url('images/star-comment.png');}

.star-small{width: 60px;height: 12px;margin-top: 5px;}
.star-big {width: 130px;height: 26px;}
/*/stars*/

body{background: #f5f7f8;color: #000;}
body.page{background-color: #fff;}

/*links*/
a, .ref{color: #479ccf;}
a:hover, .ref:hover{color: #677f95;text-decoration: underline;}

.frame-brands .show-all-brands{background-color: #faf8f6;}
.s-all-d .text-el{border-bottom-color: #b2dce9;}
/*/links*/

/*dotted lines*/
.d_l_1{color: #479ccf;border-bottom-color: #479ccf;}
.d_l_1:hover{color: #677f95;border-bottom-color: #677f95;}
/*/dotted lines*/

/*base*/
.count-response, .count-null-response{border-bottom-color: #999;color:#999;}
.preloader, .lazy{background-color: rgba(255,255,255, 0.5);}
.date{color: #a0a0a0;}
.text-discount{color: #ff7e00;}
.not-avail .curr, .not-avail .price, .not-avail a, .not-avail .text-el, .not-avail .title{color: #999 !important;border-bottom-color: #999 !important;}
.not-avail .product-status .text-el{color: #eee !important;}
.next-kit, .gen-sum-kit, .count-or-compl, .frame-cur-sum-price .title, .s-t, .code{color: #999;}
button[disabled="disabled"], input[type="submit"][disabled="disabled"], input[type="reset"][disabled="disabled"], input[type="button"][disabled="disabled"], .disabled, .disabled > *, .divider{cursor: default;color: #999;}
.active > span, .active > a, .active > button{cursor: default;color: #999c9d;}
.active > button{color: #fff;}
.text blockquote:before, .text blockquote:after{border-top-color: #e7e2dd;border-bottom-color: #fff;}
/*/base*/

.catalog{padding-top: 37px;}
.page-category + .frame-add-stimulation, .page-text + .frame-add-stimulation{border-top: 1px solid #e1e6e6;background-color: #fff;}
.title-category{text-align: center;}
.title-category .title{font-size: 35px;}
.description-category{position: relative;padding: 0 80px;line-height: 1.6;font-size: 18px;text-align: center;color: #969fa3;margin-bottom: 49px;}
.description-category:after{content: "";width: 90px;position: absolute;top: 100%;left: 50%;margin-left: -45px;border-top: 1px solid #b5bfbf;margin-top: 23px;}

.frame-header-category{margin-bottom: 40px;}
.frame-sort{width: 306px;}
.frame-count-onpage{width: 306px;}

.tabs-type-layouts{border: 1px solid #ccd3d3;}
.tabs-type-layouts > li{margin: -1px;border-left: 1px solid #ccd3d3;}
.tabs-type-layouts > li:first-child, .tabs-type-layouts > li.active + li{border-left-color: transparent;}
.tabs-type-layouts > li > *{display: block;padding: 13px 18px 14px;}
.tabs-type-layouts .text-el{color: #969fa3;}
.tabs-type-layouts > li.active{background-color: #969fa3;}
.tabs-type-layouts > li.active .text-el{color: #fff;}

.item-product {margin-bottom: 30px;}
.left-product{width: 720px;float: left;}
.right-product{width: 373px;float: right;}
.item-product .photo-block{width: 720px;height: 495px;border: 1px solid #d3dfe3;background-color: #fff;}
.right-product-left{border: 1px solid #d3dfe3;background-color: #fff;padding: 17px 28px;}
.title-product{padding-bottom: 9px;}
.title-product [class*="icon"]{vertical-align: middle;}
.title-product .frame-title{vertical-align: middle;max-width: 260px;}
.title-product .title{font-size: 18px;color: #969fa3;}
.item-product .cycle{margin-bottom: 15px;height: 495px;overflow: hidden;}
.item-product .pager{margin-bottom: 18px;height: 11px;}

.frame-info-product{padding: 7px 0 8px;margin-bottom: 10px;}
.frame-prices-buy, .title-product, .frame-info-product{border-bottom: 1px dashed #d3dfe3;}
.frame-prices-buy{margin-bottom: 14px;padding-bottom: 20px;}
.item-product .price-new{font-size: 30px;font-weight: bold;}
.item-product .short-desc{color: #969fa3;}
.item-product .frame-text-el{width: 222px;position: relative;display: inline-block;margin-right: 5px;}
.item-product .frame-text-el:after{content: '';position: absolute;left: 0;bottom: 0;width: 100%;border-top: 1px solid #dce2e7;}
.item-product .frame-text-el > .text-el{background-color: #fff;position: relative;top: 3px;z-index: 1;padding-right: 5px;}
.item-product .frame-label .frame-price{position: relative;top: 6px;font-size: 15px;}
.item-product .frame-label .frame-price .curr, .item-product .frame-label .frame-price .price{font-size: 15px;font-weight: bold;}
.item-product .frame-label .icon-info{top: 8px;}
.item-product .niceCheck + .name-count{position: relative;top:-3px;}
.item-product .frame-labels{margin-bottom: 18px; }
.item-product .frame-prices{margin-bottom: 8px;}
.left-product .frame-photo-title{display: block;font-size: 0;}

.niceCheck input, .niceRadio input{display: none;}
.b_n.niceCheck, .b_n.niceRadio{background: none;}
.b_n.niceCheck input, .b_n.niceRadio input{display: block;}
.niceCheck{float: left;position: relative;top: 1px;margin-right: 10px;background-position: -260px 0;width: 20px;height: 20px;}
.niceCheck.active{background-position: -260px -20px;}
.niceCheck + .name-count{display: block;margin-left: 30px;}
.active.frame-label{color: #000;}

.pager{position: relative;font-size: 0;text-align: center;}
.pager > a{margin: 0 2px;display: inline-block;width: 11px;height: 11px;background-position: -300px 0;}
.pager > a.activeSlide{background-position: -300px -20px;}

.tabs-product{border: 1px solid #d3dfe3;border-bottom: 0;background-color: #f1f4f5;position: relative;z-index: 1;}
.tabs-product > li{position: relative;border-bottom: 1px solid #d3dfe3;}
.tabs-product > li:before{content: "";margin: -1px -1px 0;display: block;border-top: 2px solid transparent;}
.tabs-product > li > button{padding: 10px 40px 13px;border-left: 1px solid #d3dfe3;}
.tabs-product > li:first-child > button{border-left: 0;}
.tabs-product > li .text-el{font-size: 15px;}
.tabs-product > li.active .text-el{color: #357eb9;}
.tabs-product > li.active{background-color: #fff;border-bottom-color: transparent;}
.tabs-product > li.active:before{border-top-color: #3e92d5;}

.frame-tabs-product{border-width: 1px;border-style: solid;border-color: #d3dfe3;background-color: #fff;}
.frame-tabs-product .inside-padd{padding: 10px 38px;}
.frame-tabs-product{margin-bottom: 69px;}

.frame-tarifs{padding-top: 47px;text-align: center;margin-bottom: 64px;}
.frame-tarifs .sub-title{font-size: 18px;position: relative;top: -9px;color: #969fa3;margin-bottom: 51px;}
.items-tarifs > li{width: 20%;text-align: center;background-color: #fff;margin-left: -1px;}
.items-tarifs > li > .out-in{border-width: 0 1px 1px;border-style: solid;border-color: #e1e6e6;}
.title-register, .title-default-out, .drop-header{position: relative;padding: 12px;background-color: #677f95;}
.items-tarifs .title-default-out{margin: 0 -1px;}
.items-tarifs .title-default-out:before{content: '';height: 100%;position: absolute;right: 0;top: 0;border-left: 1px solid #7995ae;z-index: 1;}
.items-tarifs .title-default-out .title{font-size: 18px;text-transform: uppercase;color: #fff;}
.items-tarifs .footer-panel{height: 182px;background-color: #f5f7f8;border-top: 1px solid #e1e6e6;}
.items-tarifs .content-panel{height: 210px;}
.items-tarifs .btn-primary{margin-bottom: 10px;}
.items-tarifs .btn-primary .text-el{font-size: 13px;}
.items-tarifs .description{color: #969fa3;}
.items-tarifs .description > li{border-top: 1px solid #e1e6e6;padding: 12px 5px;}
.items-tarifs .description > li:first-child{border-top: 0;}
.items-tarifs .count, .items-tarifs .count-of{font-weight: bold;}
.items-tarifs .frame-price{font-size: 18px;color: #333;margin-top: -9px;}
.items-tarifs .frame-price .price{font-size: 48px;}
.items-tarifs .frame-price .free{margin-bottom: 18px;display: block;margin-top: -20px;}
.items-tarifs > .active{box-shadow: 0 1px 5px rgba(0,0,0,.15);z-index: 1;}
.items-tarifs > .active .description{color: #333;}
.items-tarifs > .active .description .count{color: #0eb759;}
.items-tarifs > .active .footer-panel{background-color: #fff;}
.items-tarifs li.active .title-default-out{padding-top: 18px;padding-bottom: 21px;margin-top: -15px;}
.items-tarifs li.active .title-default-out:before{content: none;}
.items-tarifs li.active:after{content: '';position: absolute;right: 0;top: -15px;width: 56px;height: 56px;background-position: -360px 0;}

.frame-ask-questions{padding-top: 46px;text-align: center;border-top: 1px solid #e1e6e6;}
.frame-ask-questions .sub-title{font-size: 18px;color: #969fa3;margin-bottom: 33px;}
.frame-ask-questions .group-buttons{margin-bottom: 62px;}
.frame-ask-questions .group-buttons > [class*="btn-"]{margin: 0 8px;}

.page-benefits{overflow: hidden;background-color: #e4e8e9;}
.page-benefits .text-left{margin-bottom: -20000px;padding-bottom: 20000px;}
.text-left{width: 279px;float: left;background-color: #405364;}
.text-right{margin-left: 279px;padding-top: 35px;overflow: hidden;background-color: #fff;}
.text-right h1{text-align: center;}

.drop-header{position: relative;padding: 12px 65px 12px 28px;}
.drop-header .title{font-size: 18px;color: #fff;}
.drop-header:after{content: '';height: 100%;border-left: 1px solid #587087;position: absolute;right: 58px;top: 0;}
.drop-content{background-color: #f5f7f8;}
.drop-content .inside-padd{padding: 29px 24px 20px 28px;}
.drop-content .drop-footer{border-top: 1px solid #e1e6e6;}
.drop-content .drop-footer .inside-padd{padding-bottom: 30px;}
.drop-enter{width: 530px;}
.drop-enter2{width: 540px;}
.drop [class*="d_l"]{border-bottom: 0;}
.drop a{text-decoration: none;}

body.register{background-color: #e4e8e9;}
.frame-register{max-width: 730px;margin: 97px auto;background-color: #f5f7f8;}
.title-register {text-align: center;}
.title-register .title{font-size: 18px;color: #fff;}
.frame-register .inside-padd{padding: 35px 30px 50px 60px;}
.frame-register [class*="column-"]{float: left;width: 306px;}
.frame-register .column-1{margin-right: 26px;}
label.form-create-shop2{position: relative;margin-bottom: 7px;}
.form-create-shop2 + .help-block{margin-bottom: 25px;}
.form-create-shop2 .addon{position: absolute;right: 1px;top: 1px;padding: 0 26px;height: 44px;line-height: 44px;border-left: 1px solid #ccd3d3;background-color: #f5f7f8;}
.form-create-shop2 input{padding-right: 154px;}
.frame-register .btn-create-shop2{width: 100%;}
.frame-register .btn-create-shop2 > *{width: 100%;padding: 0;}

.frame-apply-terms{padding: 9px 20px 10px;margin-top: 4px;margin-bottom: 20px;background-color: #ebeeef;}
.frame-apply-terms input{vertical-align: baseline;top: 2px;position: relative;margin-right: 12px;}
.drop-enter2 input{height: 35px;}
.drop-enter2 .btn-default{height: 33px;}
.drop-enter2 label{margin-right: 11px;width: 184px;margin-bottom: 0;}
.drop-enter2 .frame-label{margin-bottom: 0;}
.drop-enter2 .drop-content .inside-padd{padding-bottom: 26px;}

.form-create-shop3{border-top: 1px solid #e1e6e6;background-color: #fff;}
.form-create-shop3 .title{font-size: 18px;text-align: center;margin-bottom: 5px;}
.form-create-shop3 .sub-title{font-size: 13px;color: #969fa3;text-align: center;margin-bottom: 40px;}
.form-create-shop3 .btn-create-shop2{margin-top: 40px;}
.form-create-shop3 .btn-create-shop2 > *{padding: 0 96px;}
