/* COMMON CLASSES */
.break { clear:both; }

/* SEARCHRESULTS */
#searchresults { border-width:1px; border-color:#919191; border-style:solid; width:245px; background-color:#fff; font-size:10px; line-height:14px; }
#searchresults div.ac_item { display:block; background-color:#FFF; clear:left; height:56px; text-decoration:none; }
/*#searchresults div.ac_item:hover { background-color:#393939;}*/
/*#searchresults div.ac_item:hover div {*/
    /*color: #fff;*/
/*}*/
#searchresults div.ac_item .info{display: inline;}
#searchresults div.ac_item img { float:left; padding:5px 10px; width: 45px; height: 45px;}
#searchresults div.ac_item div { display:block; font-weight:bold; padding-top:5px;color:#2c2c2c; text-align: left;}
#searchresults div.ac_item .price { display:inline; font-weight:bold; padding-top:5px;color:#737373; float:right;}
#searchresults div.ac_item .price_digit { display:inline; font-weight:bold; padding-top:5px;color:#ec6429; }

#searchresults div.category { font-size:11px; margin:5px; display:block; color:#ffffff; }
#searchresults div.seperator {
    float:right;
    padding-right:15px;
    margin-right:5px;
    background-image:url(../images/shortcuts_arrow.gif);
    background-repeat:no-repeat;
    background-position:right;
}
#searchresults div.seperator div.ac_item  { background-color:transparent; display:block; margin:5px; height:auto; color:#ffffff; }
#searchresults .ac_item{cursor:pointer;background-color:#e4e4e4}
#suggestions{
    position: absolute;
    z-index: 600000000;
    display: block;
    background: url(../images/autocomplete.png) no-repeat 0 100%;
    left: 0;
    top: 31px;
}

#searchresults div.selected, #searchresults .selected div.searchheading {
    background-color: #393939;
    color: #fff;
}

