@charset "utf-8";
.info_curr_buy span, .personal_info span, .info_curr_buy b, .personal_info b, .date,.clearfix, .content,.center, .box_title, .small_marker{zoom:1;}
.sub_category > li,.enter_reg form label,.blue_arrow, .accessories li, .contacts li span, .cusel,.buttons, .buttons a, .buttons input, .apply, .apply > span, .di_b, .news_block li, .social a, .social_small a,.plus_minus{zoom:1;display: inline;}
.comparison_tovars{width: 791px;}

.small_item .img span{display: block;z-index: expression(runtimeStyle.zIndex = 1,this == ((130/2)-parseInt(offsetHeight)/2) <0 ? style.marginTop="0" : style.marginTop=(130/2)-(parseInt(offsetHeight)/2) +'px');}
.catalog_frame .photo_block > a{display: block;z-index: expression(runtimeStyle.zIndex = 1,this == ((100/2)-parseInt(offsetHeight)/2) <0 ? style.marginTop="0" : style.marginTop=(100/2)-(parseInt(offsetHeight)/2) +'px');}
.smallest_item .photo_block > a{display: block;z-index: expression(runtimeStyle.zIndex = 1,this == ((60/2)-parseInt(offsetHeight)/2) <0 ? style.marginTop="0" : style.marginTop=(60/2)-(parseInt(offsetHeight)/2) +'px');}
.tovar_frame .photo_block > a{display: block;z-index: expression(runtimeStyle.zIndex = 1,this == ((314/2)-parseInt(offsetHeight)/2) <0 ? style.marginTop="0" : style.marginTop=(314/2)-(parseInt(offsetHeight)/2) +'px');}

.cycle{z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('beforeEnd', '<b class="icon1"></b>'));}
.jspDrag{z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('beforeEnd', '<b class="icon2"></b>'));}
.menu_fiter li{z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '<b class="icon3">&#8212;</b>'));}
.small_marker{z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '<i class="icon4">&#8211;</i>'));}
.icon3{top: -3px;}
.blue_arrow{vertical-align: middle;}
.comment_form label input[type="submit"]{margin-right: -10px;}
.plus_minus{top: 0;}
.plus_minus button{margin-bottom: 0;}